<div class="shadowed">

    <main class="block double-padded">

        <div class="fields form">
            <h6 class="heading"><i class="icon16 userpic20" style="background-image: url({$wa->user()->getPhoto(20)});"></i> [`My personal settings`]</h6>
            <br>
            <div class="field-group">
              <div class="field">
                <div class="name nowrap">
                  [`App icon counter`]
                  <span class="indicator red">1</span>
                </div>
                <div class="value no-shift">
                    <select name="app_icon">
                        <option {if $app_icon == 0}selected="selected"{/if}>[`Overdue`]</option>
                        <option {if $app_icon == 1}selected="selected"{/if}>[`Overdue + Today`]</option>
                        <option {if $app_icon == 2}selected="selected"{/if}>[`Overdue + Today + Tomorrow`]</option>
                        <option {if $app_icon == 3}selected="selected"{/if}>[`None`]</option>
                    </select>
                    <p class="hint">[`App icon counter will also alert you about new to-do items and lists assigned to you by other users.`]</p>
                </div>
              </div>
              <div class="field">
                <div class="name">
                  [`Email me`]
                </div>
                <div class="value no-shift">
                    <label>
                        <input type="checkbox" name="email_me['assigns_me_item']['enable']" {if !empty($email_me['assigns_me_item']['enable'])}checked="checked"{/if}> [`When someone assigns me a to-do`]
                    </label>
                </div>
                <div class="value no-shift">
                    <label>
                        <input type="checkbox" name="email_me['creates_new_list']['enable']" {if !empty($email_me['creates_new_list']['enable'])}checked="checked"{/if}> [`When someone creates a new to-do list`]
                    </label>
                </div>
                <div class="value no-shift">
                    <label>
                        <input type="checkbox" name="email_me['completes_item']['enable']" {if !empty($email_me['completes_item']['enable'])}checked="checked"{/if}> [`When someone completes a to-do item`]
                    </label>
                    <select name="email_me['completes_item']['which']">
                        <option {if $email_me['completes_item']['which'] == 'any'}checked="checked"{/if}>[`in just any list`]</option>
                        <option {if $email_me['completes_item']['which'] == 'favorite'}checked="checked"{/if}>[`which I previously marked as favorite`]</option>
                        <option {if $email_me['completes_item']['which'] == 'created'}checked="checked"{/if}>[`which I’ve created`]</option>
                    </select>
                </div>
                <div class="value no-shift">
                    <label>
                        <input type="checkbox" name="email_me['comments_item']['enable']" {if !empty($email_me['comments_item']['enable'])}checked="checked"{/if}> [`When someone comments a to-do item`]
                    </label>
                    <select name="email_me['comments_item']['which']">
                        <option {if $email_me['comments_item']['which'] == 'created'}checked="checked"{/if}>[`which I’ve created`]</option>
                        <option {if $email_me['comments_item']['which'] == 'favorite'}checked="checked"{/if}>[`which I previously marked as favorite`]</option>
                        <option {if $email_me['comments_item']['which'] == 'any'}checked="checked"{/if}>[`in just any list`]</option>
                    </select>
                </div>
                <div class="value no-shift">
                    <label>
                        <input type="checkbox" name="email_me['adds_item']['enable']" {if !empty($email_me['adds_item']['enable'])}checked="checked"{/if}> [`When someone adds a new to-do item`]
                    </label>
                    <select name="email_me['adds_item']['which']">
                        <option {if $email_me['adds_item']['which'] == 'any'}checked="checked"{/if}>[`to just any list`]</option>
                        <option {if $email_me['adds_item']['which'] == 'favorite'}checked="checked"{/if}>[`to a list I previously marked as favorite`]</option>
                    </select>

                    <br>
                    <br>

                </div>
              </div>
              <div class="field">
                <div class="name">
                  [`Daily recap`]
                </div>
                <div class="value no-shift">
                    <label>
                        <input type="checkbox" name="daily_recap['next']['enable']" {if !empty($daily_recap['next']['enable'])}checked="checked"{/if}> [`Daily recap on what’s up next`]
                    </label>
                    <select name="daily_recap['next']['which']">
                        <option {if $daily_recap['next']['which'] == 'today'}checked="checked"{/if}>[`for today`]</option>
                        <option {if $daily_recap['next']['which'] == 'today tomorrow'}checked="checked"{/if}>[`for today and tomorrow`]</option>
                        <option {if $daily_recap['next']['which'] == 'next 7'}checked="checked"{/if}>[`for next 7 days`]</option>
                    </select>

                    {if 00}
                        <p class="small"><br><em><i class="icon10 exclamation"></i> [`Daily recap notifications require CRON to be configured, which is not the case for your Pocket Lists app. See <a href="#" target="_blank">how to setup CRON for Pocket Lists</a>`]</em></p>
                    {else}
                        <p class="small"><br><em><i class="icon10 yes"></i> [`You will be notified! And when there is nothing planned to the upcoming period, no alerts will be sent.`]</em></p>
                    {/if}
                </div>

              </div>
              <div class="field">
                <div class="value no-shift submit">
                    <input type="submit" value="[`Save`]" class="button green" />
                </div>

              </div>
            </div>

            <h6 class="heading">[`Access rights`]</h6>
            <div class="field-group">
                <div class="field">
                    <div class="name">
                        [`Pockets`]
                    </div>
                    <div class="value">
                        <ul class="zebra menu-v with-icons pl-pocket-settings" style="max-width: 250px;">
                            {foreach $pockets as $p}
                            <li>
                                <a href="#"><i class="icon16 color pl-dark-{$p.color|default:'white'}"></i>{$p.name|escape}</a>
                            </li>
                            {/foreach}
                            {*<li>
                                <span class="count">7 users</span>
                                <a href="#"><i class="icon16 color pl-dark-blue"></i>Personal</a>
                            </li>
                            <li>
                                <span class="count">3 users</span>
                                <a href="#"><i class="icon16 color pl-dark-green"></i>Errands</a>
                            </li>
                            <li>
                                <span class="count">12 users</span>
                                <a href="#"><i class="icon16 color pl-dark-red"></i>Msk</a>
                            </li>
                            <li>
                                <span class="count ">11 users</span>
                                <a href="#"><i class="icon16 color pl-dark-yellow"></i>Krasnodar</a>
                            </li>*}
                            <li class="top-padded">
                                <a href="#" class="small"><i class="icon10 add"></i>[`New pocket`]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear-both"></div>

    </main>

</div>

<div id="pl-pocket-dialog" style="display: none;">
    <h1>New pocket</h1>

    <div class="fields form">
        <div class="field-group">
          <div class="field">
            <div class="name nowrap">
              [`Pocket name`]
            </div>
            <div class="value">
                <input type="text" class="large bold" />
            </div>
          </div>
          <div class="field">
            <div class="name">
              [`Access rights`]
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" checked="checked"> [`Everyone`]
                </label>
                <span class="hint">[`Every user who can access Pocket Lists app will see lists and to-dos in this pocket.`]</span>
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio"> [`Limited`]
                </label>
                <span class="hint">[`Once selected users will be able to access lists and to-dos in this pocket.`]</span>

                <div class="pl-pocket-access">


                    (права могут быть ли true, либо false; промежуточных прав доступа в первой версии нет)


                    <label>
                        <input type="checkbox"> admins
                    </label>
                    <br>
                    <label>
                        <input type="checkbox"> support team
                    </label>
                    <br>
                    <label>
                        <input type="checkbox"> [`Selected users`]
                    </label>

                    <table class="zebra">
                        <tr>
                            <td class="min-width"><i class="icon16 userpic20"></i></td>
                            <td>Kirill Maramygin</td>
                            <td><a href="#"><i class="icon16 delete"></i></a></td>
                        </tr>
                        <tr>
                            <td class="min-width"><i class="icon16 userpic20"></i></td>
                            <td>Vladimir V. Tuporshin</td>
                            <td><a href="#"><i class="icon16 delete"></i></a></td>
                        </tr>
                        <tr>
                            <td class="min-width"><i class="icon16 add"></i></td>
                            <td><input type="text" placeholder="[`Start typing name...`]"></td>
                            <td></td>
                        </tr>
                    </table>
                    (таблица с автокомплитом ведет себя также, как в приложении "Хаб" в настройках конкретного хаба — см. код на Гитхабе)

                </div>

            </div>
          </div>

        </div>


    </div>

</div>

<script type="text/javascript">
$('.pl-pocket-settings a').click(function(){

    $('#pl-pocket-dialog').waDialog({
      'buttons': '<input type="submit" value="[`Save`]" class="button green" /> [`or`] <a href="#">[`cancel`]</a>',
      'height': '400px',
      'width': '600px',
      onSubmit: function (d) {
           d.trigger('close');
           return false;
      }
    });

    return false;
});

</script>
