<div class="shadowed">

    <main class="block double-padded">

        <div class="fields form">
            <form method="post" id="pl-settings-form">
            <h6 class="heading"><i class="icon16 userpic20" style="background-image: url({$wa->user()->getPhoto(20)});"></i> [`My personal settings`]</h6>
            <br>
            <div class="field-group">
              <div class="field">
                <div class="name nowrap">
                  [`App icon counter`]
                  <span class="indicator red">1</span>
                </div>
                <div class="value no-shift">
                    <select name="app_icon">
                        <option value="0" {if $settings.app_icon == 0}selected="selected"{/if}>[`Overdue`]</option>
                        <option value="1" {if $settings.app_icon == 1}selected="selected"{/if}>[`Overdue + Today`]</option>
                        <option value="2" {if $settings.app_icon == 2}selected="selected"{/if}>[`Overdue + Today + Tomorrow`]</option>
                        <option value="3" {if $settings.app_icon == 3}selected="selected"{/if}>[`None`]</option>
                    </select>
                    <p class="hint">[`App icon counter will also alert you about new to-do items and lists assigned to you by other users.`]</p>
                </div>
              </div>
              {*
              <div class="field">
                <div class="name nowrap">
                  [`To-do Stream`]
                </div>
                <div class="value no-shift">
                    <label>
                      <input type="checkbox"> [`High priority &amp; Due`]
                    </label>
                    <select>
                        <option>[`Upcoming week`]</option>
                        <option>[`Upcoming month`]</option>
                        <option>[`All time`]</option>
                    </select>
                    <select>
                        <option>[`Created by me only`]</option>
                        <option>[`Created by anyone`]</option>
                    </select>
                </div>
                <div class="value no-shift">
                    <label>
                      <input type="checkbox"> [`Assigned to me`]
                    </label>
                </div>
                <div class="value no-shift">
                    <label>
                      <input type="checkbox"> [`Favorites`]
                    </label>
                </div>
              </div>
              *}
              <div class="field">
                <div class="name">
                  [`Email me`]
                </div>
                <div class="value no-shift">
                    <label>
                        <input value="1" type="checkbox" name="daily_recap[next][enable]" {if !empty($settings.daily_recap['next']['enable'])}checked="checked"{/if}> [`Daily recap on what’s up next`]
                    </label>
                    <select name="daily_recap[next][which]">
                        <option value="today" {if $settings.daily_recap['next']['which'] == 'today'}selected="selected"{/if}>[`for today`]</option>
                        <option value="today tomorrow" {if $settings.daily_recap['next']['which'] == 'today tomorrow'}selected="selected"{/if}>[`for today and tomorrow`]</option>
                        <option value="next 7" {if $settings.daily_recap['next']['which'] == 'next 7'}selected="selected"{/if}>[`for next 7 days`]</option>
                    </select>

                    {if 00}
                        <p class="small"><br><em><i class="icon10 exclamation"></i> [`Daily recap notifications require CRON to be configured, which is not the case for your Pocket Lists app. See <a href="#" target="_blank">how to setup CRON for Pocket Lists</a>`]</em></p>
                    {else}
                        <p class="small"><br><em><i class="icon10 yes"></i> [`We’ll keep you up to date! And when there is nothing planned for the upcoming period, no alerts will be sent.`]</em></p>
                    {/if}
                </div>
                <div class="value no-shift">
                    <label>
                        <input value="1" type="checkbox" name="email_me[assigns_me_item][enable]" {if !empty($settings.email_me['assigns_me_item']['enable'])}checked="checked"{/if}> [`When someone assigns me a to-do`]
                    </label>
                </div>
                <div class="value no-shift">
                    <label>
                        <input value="1" type="checkbox" name="email_me[completes_item][enable]" {if !empty($settings.email_me['completes_item']['enable'])}checked="checked"{/if}> [`When someone marks a to-do item as complete`]
                    </label>
                    <select name="email_me[completes_item][which]">
                        <option value="created" {if isset($settings.email_me['completes_item']['which']) && $settings.email_me['completes_item']['which'] == 'created'}selected="selected"{/if}>[`only items I created`]</option>
                        <option value="favorite" {if isset($settings.email_me['completes_item']['which']) && $settings.email_me['completes_item']['which'] == 'favorite'}selected="selected"{/if}>[`only items I marked as favorite`]</option>
                        <option value="favorite_list" {if isset($settings.email_me['completes_item']['which']) && $settings.email_me['completes_item']['which'] == 'favorite_list'}selected="selected"{/if}>[`only items on to-do lists I previously marked as favorite`]</option>
                        <option value="any" {if isset($settings.email_me['completes_item']['which']) && $settings.email_me['completes_item']['which'] == 'any'}selected="selected"{/if}>[`any item on any list`]</option>
                    </select>
                </div>
                <div class="value no-shift">
                    <label>
                        <input value="1" type="checkbox" name="email_me[adds_item][enable]" {if !empty($settings.email_me['adds_item']['enable'])}checked="checked"{/if}> [`When someone adds a to-do item`]
                    </label>
                    <select name="email_me[adds_item][which]">
                        <option value="favorite" {if isset($settings.email_me['adds_item']['which']) && $settings.email_me['adds_item']['which'] == 'favorite'}selected="selected"{/if}>[`to any list I previously marked as favorite`]</option>
                        <option value="any" {if isset($settings.email_me['adds_item']['which']) && $settings.email_me['adds_item']['which'] == 'any'}selected="selected"{/if}>[`to just any list`]</option>
                    </select>
                </div>
                {*
                <div class="value no-shift">
                    <label>
                        <input value="1" type="checkbox" name="email_me[comments_item][enable]" {if !empty($settings.email_me['comments_item']['enable'])}checked="checked"{/if}> [`When someone comments a to-do item`]
                    </label>
                    <select name="email_me[comments_item][which]">
                        <option value="created" {if isset($settings.email_me['comments_item']['which']) && $settings.email_me['comments_item']['which'] == 'created'}selected="selected"{/if}>[`which I’ve created`]</option>
                        <option value="favorite" {if isset($settings.email_me['comments_item']['which']) && $settings.email_me['comments_item']['which'] == 'favorite'}selected="selected"{/if}>[`which I previously marked as favorite`]</option>
                        <option value="any" {if isset($settings.email_me['comments_item']['which']) && $settings.email_me['comments_item']['which'] == 'any'}selected="selected"{/if}>[`in just any list`]</option>
                    </select>
                </div>
                *}
                <div class="value no-shift">
                    <label>
                        <input value="1" type="checkbox" name="email_me[creates_new_list][enable]" {if !empty($settings.email_me['creates_new_list']['enable'])}checked="checked"{/if}> [`When someone creates a new to-do list`]
                    </label>
                </div>
              </div>
              <div class="field">
                <div class="value no-shift submit">
                    <br>
                    <input type="submit" value="[`Save`]" id="pl-save-settings" class="button green" />
                </div>

              </div>
            </div>

            </form>

            <h6 class="heading">[`Access rights`]</h6>
            <div class="field-group">
                <div class="field">
                    <div class="name">
                        [`Pockets`]
                    </div>
                    <div class="value">
                        <ul class="zebra menu-v with-icons pl-pocket-settings" style="max-width: 250px;">
                            {foreach $pockets as $p}
                            <li>
                                <a href="#" data-pl-pocket-id="{$p.id}"><i class="icon16 color pl-dark-{$p.color|default:'none'}"></i><span>{$p.name|escape}</span></a>
                            </li>
                            {/foreach}
                            <li class="top-padded" style="background: #fff;">
                                <a href="#" class="small"><i class="icon10 add"></i>[`New pocket`]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear-both"></div>

    </main>

</div>

<div id="pl-pocket-dialog" style="display: none;">


</div>

<script type="text/javascript">
    (function(){
        var $loading = $('<i class="icon16 loading">');
        $('#pl-save-settings').on('click', function(e) {
            e.preventDefault();
            $('#pl-save-settings').after($loading);
            $.post('?module=settings&action=save', $('#pl-settings-form').serialize(), function(r){
                $loading.remove();
                if (r.status==='ok') {
                    var $saved = $('<span><i class="icon16 yes"></i></span>');
                    $('#pl-save-settings').after($saved.delay(3000).remove());
                } else {
                    alert('error while saving');
                }
            }, 'json')
        });

        $('.pl-pocket-settings').on('click', 'a', function() {
            var $this = $(this);
            $('#pl-pocket-dialog').waDialog({
                'buttons': '<input type="submit" value="[`Save`]" class="button green" /> [`or`] <a class="cancel" href="#">[`cancel`]</a>',
                'height': '250px',
                'width': '600px',
                'url': '?module=pocket&action=settingsDialog&pocket_id=' + $this.data('pl-pocket-id'),
                onLoad: function () {
                    var $this = $(this);

                    $('#pl-pocket-color').on('click', 'a', function (e) {
                        e.preventDefault();
                        $('#pl-pocket-color').find('input').val($(this).data('pl-pocket-color'));
                        $(this).addClass('selected')
                                .siblings().removeClass('selected')
                    });

                    var $autocomplete = $this.find(':input[name="new_user"]').autocomplete({
                        source: backend_url + 'contacts/?action=autocomplete&type=person',
                        minLength: 2,
                        appendTo: '#pl-pocket-dialog',
                        delay: 300,
                        select: function (event, ui) {
                            debugger;
                            this.value = '';
                            var $table = $(this).closest('table');
                            var exist = $table.find('[data-pl-selected-user="' +  ui.item.value + '"]').length;

                            if (exist) {
                                $autocomplete.autocomplete('close');
                            } else {
                                var $row = $table.find('tr').first().clone();
                                $row.data('pl-selected-user', ui.item.value);
                                $row.find(':input').val(ui.item.value);
                                $row.find('.pl-selected-users-name').text(ui.item.name);
                                $(this).closest('tr').before($row);
                                $autocomplete.autocomplete('close');
                            }

                            return false;
                        },
                        focus: function (event, ui) {
                            this.value = ui.item.name;
                            return false;
                        }
                    }).autocomplete('instance')._renderItem = function( ul, item ) {
                        return $("<li>")
                                .html( item.label )
                                .appendTo( ul );
                    };
                    $this.find('[data-pl-selected-user]').on('click', 'a', function (e) {
                        e.preventDefault();
                        $(this).closest('[data-pl-selected-user]').remove();
                    });
                },
                onSubmit: function (d) {
                    d.find('.dialog-buttons input[type="button"]').after($loading);
                    $.post('?module=pocket&action=save', d.find('form').serialize(), function(r) {
                        $loading.remove();
                        if (r.status === 'ok') {
                            var $new_pocket = null;
                            if (r.data.new) {
                                $new_pocket = $('.pl-pocket-settings li').first().clone();
                            } else {
                                $new_pocket = $('.pl-pocket-settings a[data-pl-pocket-id="' + r.data.id + '"]').closest('li');
                            }
                            $new_pocket
                                    .find('a').data('pl-pocket-id', r.data.id)
                                    .find('.color').removeClass().addClass('icon16 color pl-dark-' + $('#pl-pocket-color').find('input').val())
                                    .end()
                                    .find('span').text(d.find('input[name="pocket\[name\]"]').val());

                            r.data.new && $('.pl-pocket-settings li').last().before($new_pocket);
                            d.trigger('close');
                        } else {

                        }
                    }, 'json');
                    return false;
                }
            });

            return false;
        });

    }());
</script>
