/* Pocket Lists for Webasyst
============================ */

/* Layout
--------- */

.shadowed { background: #fff; }
.pl-sidebar-core { margin-top: 28px; }

.pl-inner-sidebar { background: #f3f3f3; float: right; width: 340px; margin-top: 17px; margin-right: 10px; position: relative; z-index: 10; box-shadow: 0 3px 5px -2px #ccc; }
.pl-inner-content { position: relative; min-height: 530px; margin-right: 350px; z-index: 11; }

/* Misc
------- */

.pl-white { background: #fff; }
.pl-gray { background: #eee; }
.pl-green { background: #e8fcce; }
.pl-blue { background: #d2f3ff; }
.pl-purple { background: #feeaff; }
.pl-red { background: #ffe0dc; }
.pl-yellow { background: #fbfbcc; }

.pl-dark-gray { background: #aaa !important; }
.pl-dark-green { background: #7ac33c !important; }
.pl-dark-blue { background: #5da5f5 !important; }
.pl-dark-purple { background: #bc7cf5 !important; }
.pl-dark-red { background: #f7696d !important; }
.pl-dark-yellow { background: #f5cf24 !important; }
.pl-dark-none { background: #ddd !important; }

.icon10.color { border: none; border-radius: 50%; width: 5px; height: 5px; }
.icon16.color { border: none; }
.icon16.color.white,
.icon16.color.pl-white { border: 1px solid rgba(0,0,0,0.2); }
.field .value a.selected .icon16.color { border: 3px solid rgba(0,0,0,0.8); }

.indicator.yellow { background-color: #da3; color: #fff; }
.indicator.green { background-color: green; color: #fff; }

.pl-list-placeholder { background-color: #fff !important; }

.pl-alert { margin: 0; background: #ffffdd; padding: 15px 20px; border-bottom: 1px solid #eed; line-height: 1.3em; font-size: 0.9em; color: #555; }
.pl-alert .pl-alert-close { margin: -2px -2px 0 12px; float: right; color: rgba(0,0,0,0.4); font-size: 1.4em; }
.pl-alert .pl-alert-close.bigger { font-size: 2em; }

.dialog p i.icon16 { margin-top: 0.1em; }

.pl-link-box { display: block; padding: 18px 20px; background: rgba(0,0,0,0.04); }
.pl-link-box.pl-delete-box:hover { background: #ffe3e3; }

.pl-teammate-userpic { width: 144px; height: 144px; border: 3px solid #fff; margin-bottom: 20px; }

/* Pocket
--------- */

/*.pl-pocket { background: #5da5f5; text-align: center; padding: 0; position: relative; }
.pl-pocket a.count { padding: 21px; position: absolute; right: 0; }
.pl-pocket ul.menu-h { margin: 0;  }
.pl-pocket ul.menu-h li { margin: 0; display: inline-block; position: static; }
.pl-pocket ul.menu-h li h5 { margin: 0; }
.pl-pocket ul.menu-h li h5 a { color: #fff; text-align: center; font-size: 1.3em; padding: 15px 35px 13px; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 220px; }
.pl-pocket ul.menu-h li h5 a i.icon16 { margin-top: 0em; }
.pl-pocket ul.menu-h li h5 a:hover { color: #ff3 !important; }
.pl-pocket ul.menu-h li ul.menu-v { border: none; box-shadow: 0 4px 15px -8px rgba(0,0,0,0.4); top: 90%; margin-left: 0; left: 0; max-height: 0; overflow: hidden; display: block; }
.pl-pocket ul.menu-h li ul.menu-v li { padding-right: 4px; padding-top: 6px; }
.pl-pocket ul.menu-h li ul.menu-v li a { padding-top: 10px; padding-bottom: 10px; padding-left: 30px; }
.pl-pocket ul.menu-h li ul.menu-v li a i.icon16.color { margin-right: 8px; margin-top: 0; }
.pl-pocket ul.menu-h li ul.menu-v li .count { margin-top: 4px; margin-right: 6px; }
.pl-pocket ul.menu-h li:hover { background: transparent; }
.pl-pocket ul.menu-h li:hover ul.menu-v { max-height: 500px; transition: max-height 0.25s ease-in; transition-delay: 0.4s; }*/

/* Lists
-------- */

/*ul.pl-lists { background: #fff; padding: 0; margin: 0; }
ul.pl-lists li { list-style: none; }
ul.pl-lists li a { border-bottom: 1px solid rgba(0,0,0,0.1); padding: 20px 15px 5px; font-size: 1.15em; display: block; }
ul.pl-lists li a .count { font-size: 0.8em; }
ul.pl-lists li a .indicator { padding: 3px 7px 2px; margin-top: -1px; line-height: 1em; }
ul.pl-lists li a i.listicon48 { position: relative; top: -7px; margin-right: 10px; }
ul.pl-lists li a.pl-is-selected, ul.pl-lists li a:hover { color: red !important; background: rgba(0,0,0,0.025); }
ul.pl-lists li.selected a { color: #000 !important; }
ul.pl-lists li span { display: inline-block; overflow: hidden; text-overflow: ellipsis; height: 1.1em; max-width: 190px; white-space: nowrap; }*/

/* Calendar
----------- */

table.pl-calendar { width: 100%; margin: 5px 0; }
table.pl-calendar th { color: #d3d3d3; font-weight: normal; padding-bottom: 5px; font-size: 0.9em; }
table.pl-calendar td { background: #f9f9f9; padding: 10px 7px; width: 14.28%; height: 25px; vertical-align: top; line-height: 1em; text-align: center; }
table.pl-calendar td:hover { background: #ffffee; cursor: pointer; }
table.pl-calendar td.pl-selected { background: #fffaba; }
table.pl-calendar td.pl-today { border: 3px solid #fdda3b; }
/*table.pl-calendar td.pl-today:hover { background: #ecf7ff; }*/
table.pl-calendar td.pl-not-this-month { background: transparent; }
table.pl-calendar td.pl-not-this-month:hover { background: #e2e2e2; }
table.pl-calendar td .pl-date { color: #aaa; font-size: 0.8em; }
table.pl-calendar td .pl-dots { font-size: 0.8em; line-height: 0; letter-spacing: 0; margin-top: 0.2em; white-space: nowrap;}
table.pl-calendar td .pl-dots i.icon10 { margin-top: 0.2em; margin-right: 0.2em; }

.pl-calendar-nav { padding: 20px; }

/* Team
------- */

/*ul.pl-team li .count { font-size: 1em; padding: 3px 7px 4px; margin-top: -1px; }
ul.pl-team li .indicator {  }
ul.pl-team li .pl-username { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 195px; font-size: 1.2em; margin-top: 2px; }
ul.pl-team li .pl-active-items { max-height: 2.4em; overflow: hidden; margin: 3px 25px 0 0; line-height: 1.2em; font-size: 0.9em; color: #aaa; }*/

/* Settings
----------- */

#pl-settings-form { overflow: visible; }
#pl-settings-form .heading i.icon16 { margin-left: -0.2em; }
#pl-save-settings { margin-right: 10px; }

.pl-pocket-access { line-height: 1.5em; padding: 10px; }
.pl-pocket-access table { margin: 10px 15px; }

/* Done checkbox
---------------- */

label.pl-done-label { position: relative;z-index: 2;}
label.pl-done-label .listicon48 {
    float: left;
    position: relative;
    top: 14px;
    left: 17px;
    background-size: 20px;
}
label.pl-done-label i.icon16.userpic20 {
    position: relative;
    float: left;
    top: 14px;
    left: -2px;
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-position: 0 0;
}

.pl-done { display: none; }
.pl-done + span { display: block; float:left; width:16px; height:16px; background: rgba(255,255,255,0.2); border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; position: relative; top: 14px; left: 17px; cursor: pointer; }
.pl-done + span.transparent { border-color: transparent;background: none; }
.pl-done.pl-green + span { background: #7ac33c; }
.pl-done.pl-yellow + span { background: #f5cf24; }
.pl-done.pl-red + span { background: #f7696d; }

.pl-done:checked + span, .pl-done:disabled:checked + span {background: transparent url('../img/pl-done-checkbox.png') no-repeat !important;background-size: 14px 14px !important; border: none; border-radius: 0; opacity: 0.3;}
.pl-done + span.pl-add-todo {background: transparent url('../img/pl-add-todo.png') no-repeat !important;background-size: 13px 13px !important; border: none; border-radius: 0; opacity: 0.3; left: 19px; cursor: default; }

/* Discussions
-------------- */

.pl-discuss { position: absolute; bottom: 0; left: 0; right: 0; border-top: 1px solid rgba(0,0,0,0.1); padding: 13px; }

/* Items
-------- */

.pl-welcome { margin: 0 60px 25px; padding-top: 30px; text-align: center; }
.pl-welcome .pl-jumbodone { width: 180px; height: 180px; margin: 0 auto; background: transparent url('../img/pl-jumbodone.png') no-repeat; background-size: 180px 180px; opacity: 0.13; }
.pl-welcome h2 { margin-top: 20px; color: #333; }
.pl-welcome p { color: #888; font-size: 0.9em; }
.pl-welcome.top-padded { padding-top: 70px; }
.pl-welcome.bottom-padded { padding-bottom: 40px; }

#pl-item-add { display: none; }
#pl-item-add-wrapper-hover {
    display: block;
    max-height: 10px;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    background: #fdda3b;
    margin: 0;
    cursor: pointer;
    z-index: 3;
    /* width: 100%; */
}
.pl-item-wrapper:hover #pl-item-add-wrapper-hover {
    max-height: 99px;
    transition: max-height 0.25s ease-in;
    transition-delay: 0.4s;
}

input#pl-new-list-input,
#pl-item-add textarea,
.pl-chat textarea {
    background: transparent;
    min-width: 350px;
    width: 100%;
    /* white-space: nowrap; */
    height: 1.3em;
    line-height: 1.3em;
    resize: none;
    word-wrap: normal;
    overflow: hidden;
    border: none;
    padding: 5px;
    margin: -5px 0 -7px -5px;
    position: relative;
    top: -1px;
    outline: 0 none;
    border-radius: 2px;
}
input#pl-new-list-input::-webkit-placeholder { color: rgba(0,0,0,0.4) !important; }
#pl-item-add textarea::-webkit-placeholder { color: rgba(0,0,0,0.4) !important; }
input#pl-new-list-input::-moz-placeholder { color: rgba(0,0,0,0.4) !important; }
#pl-item-add textarea::-moz-placeholder { color: rgba(0,0,0,0.4) !important; }
input#pl-new-list-input:-moz-placeholder { color: rgba(0,0,0,0.4) !important; }
#pl-item-add textarea:-moz-placeholder { color: rgba(0,0,0,0.4) !important; }
input#pl-new-list-input:hover,
#pl-item-add textarea:hover { background: rgba(0,0,0,0.04); }
input#pl-new-list-input:focus,
#pl-item-add textarea:focus { background: rgba(0,0,0,0.06); }
.pl-chat textarea { background: #fff; margin-left: 0px; border-radius: 5px; border: 1px solid rgba(0,0,0,0.1); padding-left: 8px; width: 70%; }
.pl-unsaved { background: rgba(183,0,0,0.06) !important; color: #f55 !important; }

.pl-title { padding: 25px 5px 15px 20px; }
.pl-title h1 { padding-left: 29px; margin-bottom: 0.2em; line-height: 1.1em; padding-right: 22px; }
.pl-title h1 .pl-done + span {left: -34px; top: 4px; width: 22px; height: 22px; position: absolute; z-index: 1;}
.pl-title h1 .loading { margin-left: 3px; margin-top: 8px; opacity: 0.5; }
.pl-title h1.not-padded { padding-left: 0; }

/*.pl-title ul.menu-h { position: relative; z-index: 2; }
.pl-title ul.menu-h li:hover { background: transparent; }
.pl-title ul.menu-h li ul.menu-v { top: 75%; }
.pl-title ul.menu-h li ul.menu-v li:hover { background: rgba(0,0,0,0.07); }*/

/*.pl-list-favorite { margin-right: 0 !important; padding-right: 3px !important; }
.pl-list-sort { display: inline-block !important; }
.pl-list-sort-dropdown { display: none !important; }*/

.pl-list-access { line-height: 1.2em; }
.pl-list-access h5 { margin-bottom: 10px; }
.pl-list-access .profile { margin-bottom: 5px; }
.pl-list-access .profile img { width: 32px; height: 32px; }

.pl-due-overdue { color: red; }
.pl-due-today { color: #ca0; }
.pl-due-tomorrow { color: green; }
.pl-due-someday { color: #aaa; }
.gray .pl-due-overdue,
.gray .pl-due-today,
.gray .pl-due-tomorrow,
.gray .pl-due-someday { color: #aaa; }

.pl-list-items, .pl-list-title, #pl-item-add { position: relative; z-index: 10; }
.pl-list-items ul.menu-v { margin: 0; padding: 0; }
.pl-list-items ul.menu-v li { padding: 0; margin: 0; }
.pl-list-items ul.menu-v li a { display: inline; }
.pl-list-items ul.menu-v li .pl-item { display: block; border-bottom: 1px solid rgba(0,0,0,0.1); position: relative; }
.pl-list-items ul.menu-v li .pl-item:hover { background: rgba(0, 0, 0, 0.04); }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected { background: rgba(155, 155, 155, 0.13); }
.pl-list-items ul.menu-v li label.pl-select-label { padding: 14px 25px 15px 49px; display: block; line-height: 1.3em; position: relative; cursor: auto; }
.pl-list-items ul.menu-v li ul { padding-left: 0; margin: 0; }
.pl-list-items ul.menu-v li ul li .pl-item { padding-left: 30px; }
.pl-list-items ul.menu-v li ul li ul li .pl-item { padding-left: 56px; }
.pl-list-items ul.menu-v li ul li ul li ul li .pl-item { padding-left: 82px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li .pl-item { padding-left: 108px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li .pl-item { padding-left: 134px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 160px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 186px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 212px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 238px; }

.pl-list-items ul.menu-v li .pl-item .pl-meta { display: inline-block; float: right; margin: 0 0 0 20px; padding: 16px; position: relative; z-index: 1; }
.pl-list-items ul.menu-v li .pl-item .pl-favorite { display: inline-block; float: right; margin-left: 5px; }
.pl-list-items ul.menu-v li .pl-item .pl-assignee { display: inline-block; float: right; margin-left: 5px; margin-top: 1px; }
.pl-list-items ul.menu-v li .pl-item .pl-assignee i.icon16 { margin-left: 5px; }
.pl-list-items ul.menu-v li .pl-item .pl-author i.icon16 { margin-left: 5px; margin-top: 0; }
.pl-list-items ul.menu-v li .pl-item p { margin-bottom: 0; margin-top: 4px; line-height: 1.2em; }
.pl-list-items ul.menu-v li .pl-item i.icon10 { margin-top: 5px; }
.pl-list-items ul.menu-v li .pl-item.pl-item-assigned .pl-item-name { font-style: italic; }
.pl-list-items ul.menu-v li .pl-item .pl-item-drag-handle { display: none; position: absolute; top: 4px; bottom: 4px; left: 0; width: 6px; padding: 0 4px; background: url('../img/pl-drag-handle.png') repeat-y; background-size: 14px 20px; opacity: 0.1; z-index: 3; cursor: move; }
.pl-list-items ul.menu-v li .pl-item:hover .pl-item-drag-handle { display: block; }
.pl-list-items ul.menu-v li #pl-item-add .pl-item:hover { background: transparent; }

.pl-teammate-items .pl-list-items ul.menu-v li .pl-item.pl-item-assigned { box-shadow: none; background: transparent; }
.pl-teammate-items .pl-list-items ul.menu-v li .pl-item:hover { background: rgba(0,0,0,0.04); }
.pl-teammate-items .pl-list-items ul.menu-v li .pl-item.pl-item-selected { background: rgba(0,0,0,0.06); }

.pl-label { font-size: 0.9em; border-radius: 4px; background: #aaa; color: #fff !important; padding: 1px 4px 2px !important; margin-right: 2px !important; line-height: 1.4em; vertical-align: top; margin-top: 1px; display: inline !important; font-weight: bold; }
.pl-label:hover { color: #ffa !important; }
.pl-list-content .pl-item-name .pl-label.pl-item-list-name { display: none !important; }

.pl-edit { opacity: 0; display: inline-block; float: right; font-size: 0.9em; }
.pl-comment { opacity: 0; margin-top: -4px; display: inline-block; position: absolute; }
.pl-comment i.icon16 { margin-top: 0.05em; }
.pl-comment.pl-comment-count { opacity: 1; color: rgba(0,0,0,0.42); font-weight: bold; background: rgba(0,0,0,0.07); margin-left: 4px !important; border-radius: 4px; padding: 1px 4px 2px 2px; font-size: 0.9em; margin-top: -1px; }
.pl-list-title .pl-edit { margin-top: 9px; margin-right: 15px; }
.pl-item .pl-comment { margin-left: 1px; }
.pl-list-title .pl-edit.pl-list-due { opacity: 1; font-weight: bold; font-size: 1em; }
.pl-list-title:hover .pl-edit,
.pl-item:hover .pl-edit,
.pl-item:hover .pl-comment { opacity: 1; transition: opacity 0.1s ease-in; transition-delay: 0.1s; }

.pl-attachments { padding: 15px 0 0; margin: 0; }
.pl-attachments li { padding-top: 0px !important; margin-bottom: 13px !important; list-style: none; word-break: break-all; }
.pl-attachments li a { display: inline !important; }
.pl-attachments li img { max-width: 100%; max-height: 300px; }
.pl-attachments li i.icon16 { margin-left: -4px; }
.pl-attachments li label { background: #eee; border-radius: 10px; padding: 4px 6px; font-size: 0.9em; color: #aaa; }
.pl-attachments li label input[type="checkbox"] { margin-top: -4px; }
.pl-add-attachment-dropbox { border: 2px dashed #ccc; padding: 20px; }
.pl-add-attachment-dropbox .pl-attachments { padding-top: 0; }

.pl-chat { padding: 13px 25px 15px 0px;}
.pl-item-selected .pl-chat { display: block; }
.pl-chat .pl-cue { margin-bottom: 13px; width: 100%; }
.pl-chat .pl-cue .pl-cue-inner { width: 70%; font-size: 0.95em; }
.pl-chat .pl-cue .pl-bubble { background: rgba(0,0,0,0.07); border-radius: 5px; padding: 10px; margin-bottom: 8px; position: relative; line-height: 1.1em; }
.pl-chat .pl-cue .pl-bubble .pl-bubble-arrow { background: rgba(0,0,0,0.05); transform: rotate(45deg); width: 10px; height: 10px; display: block; position: absolute; left: 15px; bottom: -4px; border: 1px solid rgba(0,0,0,0.1); }
.pl-chat .pl-cue .pl-bubble .pl-bubble-arrow:after { content: ''; border-top: 1px solid red;}
.pl-chat .pl-cue.pl-my-cue .pl-cue-inner { margin-left: 30%; }
.pl-chat .pl-cue.pl-my-cue .pl-bubble,
.pl-chat .pl-cue.pl-my-cue .pl-bubble .pl-bubble-arrow { background: #48b7f0; color: #fff; }
.pl-chat .pl-cue.pl-my-cue .pl-bubble a { color: #fff !important; text-decoration: underline; }
.pl-chat .userpic20 { margin-left: 10px; margin-top: 1px; }
.pl-chat .pl-reply { margin-top: 20px; }
.pl-chat .pl-reply .userpic20 { margin-top: 1px; }
.pl-chat .pl-delete-comment { color: #579; float: right; font-size: 1.2em; position: relative; top: -2px; right: 3px; }
.pl-chat .pl-cue.pl-new-comment .pl-bubble { background: #ffd; }

.pl-is-selected { display: none; }

.pl-list-items .pl-item-placeholder { background: rgba(0,0,0,0.05); min-height: 5px; }

#pl-complete-log { display: none; }
#pl-complete-log h5 { margin: 30px 15px 5px; }
#pl-complete-log-link { padding: 13px 15px; display: block; }

.pl-logbook .pl-item.gray { color: #aaa; }
.pl-logbook .pl-item.gray .pl-due-overdue,
.pl-logbook .pl-item.gray .pl-due-today,
.pl-logbook .pl-item.gray .pl-due-tomorrow,
.pl-logbook .pl-item.gray .pl-due-someday { display: none; }
.pl-logbook .pl-item.gray .pl-edit,
.pl-logbook .pl-item.gray .pl-comment { display: none !important; }
.pl-logbook .pl-item.gray .pl-favorite,
.pl-logbook .pl-item.gray .pl-assignee { opacity: 1 !important; }

.pl-archive { background: #eee; }
.pl-archive .pl-title h1 { padding-left: 0; }
.pl-archive .pl-inner-content { margin-right: 0; }

/* Item & List details
---------------------- */

.pl-details { display: none; padding: 0; position: absolute; top: 0; bottom: 0; right: 100%; width: 340px; background: #eed; box-shadow: -10px 0 20px -10px rgba(0,0,0,0.1);z-index: 9; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
.pl-details.sticky,
.pl-details.sticky { position: fixed; right: 0; width: 350px; overflow-y: scroll; }

.pl-details .pl-details-form { background: #eed; padding: 15px 10px 15px 15px; }
.pl-details .fields.form { width: 100%; }
.pl-details .fields.form .field-group { margin-top: 0; }
.pl-details .fields.form .field .name { float: none; padding-bottom: 5px; }
.pl-details .fields.form .field .value { margin-left: 0 !important; }
.pl-details .fields.form input.long { width: 95% !important; min-width: 0 !important; }
.pl-details .fields.form textarea { width: 98% !important; min-width: 0 !important; }
.pl-details i.icon16.color { width: 24px; height: 24px; }

.pl-close,
.pl-close:visited { font-size: 2em; color: rgba(0,0,0,0.3) !important; text-decoration: none; float: right; position: relative; z-index: 1; margin-right: 10px; }

input.pl-due-date-input { width: 130px !important; min-width: 130px !important; }

#pl-list-color a i.icon16 { opacity: 0.7; }
#pl-list-color a.selected i.icon16 { opacity: 1; }

/* List icons
------------- */

i.listicon48 { background-repeat:no-repeat; height: 32px; width: 32px; background-size: 32px 32px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.listicon48 { text-decoration:none!important; vertical-align:top; margin: -0.1em 0.25em 0 0; }

ul.pl-icon-library { list-style: none; padding: 0; margin: 15px 0; height: 100%; }
ul.pl-icon-library li { float: left; margin: 0 7px 7px; padding: 0; }
ul.pl-icon-library li a { border: 4px solid transparent; border-radius: 4px; display: block; }
ul.pl-icon-library li a:hover { border-color: #eee;  }
ul.pl-icon-library li a.selected { border-color: #fdda3b; background: rgba(0,0,0,0.04); }
ul.pl-icon-library li i.listicon48 { background-size: 48px 48px; width: 48px; height: 48px; margin: 5px; }

#pl-list-icon-change .value { width: 48px; text-align: center; }
#pl-list-icon-change i.listicon48 { background-size: 48px 48px; width: 48px; height: 48px; margin: 0; }

/* Custom 16x16 icons
--------------------- */

.icon16.pl { background-image: url('../img/pl-backend-ui-icons-16.png?1511'); }
.icon16.pl.lists { background-position:-16px 0; }
.icon16.pl.todo { background-position:-32px 0; }
.icon16.pl.archive { background-position:-48px 0; }
.icon16.pl.todo-bw { background-position:-64px 0; }
.icon16.pl.logbook { background-position:-80px 0; }
.icon16.pl.add { background-position:0 -16px; }
.icon16.pl.darr { background-position:-16px -16px; }

a:hover .icon16.pl.add { background-position:0 -32px; }
a:hover .icon16.pl.darr { background-position:-16px -32px; }

i.icon16.listicon16 { background-size: 16px 16px; }

i.pl-list-color-indicator { display: inline-block; background-image: none; border-radius: 50%; height: 8px; margin-right: 2px !important; margin-top: 3px !important; width: 8px; }

/* Custom jQuery UI styling
--------------------------- */

.ui-datepicker td { padding: 0 !important; }
.ui-datepicker tbody { border-width: 0 !important; }
.ui-datepicker .ui-state-default { border-width: 0 !important; padding: 11px 9px !important; font-size: 1em !important; }

/* @2x
------ */

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    i.icon16.pl { background-image: url('../img/pl-backend-ui-icons-16@2x.png?1511'); background-size: 346px 179px; }
}

/* Narrow screens
----------------- */

@media screen and (max-width: 1024px) {
    /*.pl-items.content.left300px { margin-left: 229px; }*/
    ul.pl-lists li span { max-width: 120px; }
    ul.pl-team li .pl-username { max-width: 120px; }
    .pl-details { width: 240px; }
    .pl-details input.long { min-width: 200px !important; width: 200px !important; }
    .pl-details textarea { min-width: 250px !important; }
    .pl-list-sort { display: none !important; }
    .pl-list-sort-dropdown { display: block !important; }
    input#pl-new-list-input,
    #pl-item-add textarea,
    .pl-chat textarea { width: 80%; }

    .pl-inner-sidebar { width: 250px; }
    .pl-inner-content { margin-right: 250px; }

}

/* Wide screens
--------------- */

@media screen and (min-width: 1400px) {

    .pl-inner-sidebar { width: 400px; }
    .pl-inner-content { margin-right: 400px; }
    .pl-details { width: 390px; }

}



.highlighted-background { background-color: #fffaba !important; }


#pl-sidebar-core .pl-online {
    position: absolute;
    left: 8px;
    top: 6px;
}


.pl-droppable {
    background-color: #fff;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
.pl-drop-success {
    background-color: greenyellow;
}
.pl-drop-fail {
    background-color: indianred;
}
