/* Pocket Lists for Webasyst
============================ */

/* Sidebars
----------- */

.shadowed { background: #fff; }
.pl-sidebar-core { margin-top: 20px; }
.pl-inner-sidebar {  }
/*.pl-sidebar-cling {
	background: rgba(220, 220, 220, 0.5) none repeat scroll 0 0;
    box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.1) inset, 0 2px 3px rgba(0, 0, 0, 0.2);
    margin: 0 -15px 0 10px;
    padding-bottom: 13px;
}*/

.pl-white { background: #fff; }
.pl-gray { background: #eee; }
.pl-green { background: #e8fcce; }
.pl-blue { background: #d2f7ff; }
.pl-purple { background: #feeaff; }
.pl-red { background: #ffe0dc; }
.pl-yellow { background: #fbfbcc; }

.pl-dark-gray { background: #aaa !important; }
.pl-dark-green { background: #7ac33c !important; }
.pl-dark-blue { background: #5da5f5 !important; }
.pl-dark-purple { background: #bc7cf5 !important; }
.pl-dark-red { background: #f7696d !important; }
.pl-dark-yellow { background: #f5cf24 !important; }
.pl-dark-none { background: #eee !important; }

.icon10.color { border: none; border-radius: 50%; width: 5px; height: 5px; }
.icon16.color { border: none; }
.icon16.color.white,
.icon16.color.pl-white { border: 1px solid rgba(0,0,0,0.2); }
.field .value a.selected .icon16.color { border: 3px solid rgba(0,0,0,0.8); }

.indicator.yellow { background-color: #da3; color: #fff; }
.indicator.green { background-color: green; color: #fff; }

/* Pocket
--------- */

.pl-pocket { background: #5da5f5; text-align: center; padding: 0; position: relative; }
.pl-pocket a.count { padding: 21px; position: absolute; right: 0; }
.pl-pocket ul.menu-h { margin: 0;  }
.pl-pocket ul.menu-h li { margin: 0; display: inline-block; position: static; }
.pl-pocket ul.menu-h li h5 { margin: 0; }
.pl-pocket ul.menu-h li h5 a { color: #fff; text-align: center; font-size: 1.3em; padding: 15px 35px 13px; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 220px; }
.pl-pocket ul.menu-h li h5 a i.icon16 { margin-top: 0em; }
.pl-pocket ul.menu-h li h5 a:hover { color: #ff3 !important; }
.pl-pocket ul.menu-h li ul.menu-v { border: none; box-shadow: 0 4px 15px -8px rgba(0,0,0,0.4); top: 90%; margin-left: 0; left: 0; max-height: 0; overflow: hidden; display: block; }
.pl-pocket ul.menu-h li ul.menu-v li { padding-right: 4px; padding-top: 6px; }
.pl-pocket ul.menu-h li ul.menu-v li a { padding-top: 10px; padding-bottom: 10px; padding-left: 30px; }
.pl-pocket ul.menu-h li ul.menu-v li a i.icon16.color { margin-right: 8px; margin-top: 0; }
.pl-pocket ul.menu-h li ul.menu-v li .count { margin-top: 4px; margin-right: 6px; }
.pl-pocket ul.menu-h li:hover { background: transparent; }
.pl-pocket ul.menu-h li:hover ul.menu-v { max-height: 500px; transition: max-height 0.25s ease-in; transition-delay: 0.4s; }

/* Lists
-------- */

ul.pl-lists { background: #fff; padding: 0; margin: 0; }
ul.pl-lists li { list-style: none; }
ul.pl-lists li a { border-bottom: 1px solid rgba(0,0,0,0.1); padding: 20px 15px 5px; font-size: 1.15em; display: block; }
ul.pl-lists li a .count { font-size: 0.9em; }
ul.pl-lists li a .indicator { padding: 3px 7px 4px; margin-top: -3px; }
ul.pl-lists li a i.listicon48 { position: relative; top: -7px; margin-right: 10px; }
ul.pl-lists li a.pl-is-selected, ul.pl-lists li a:hover { color: red !important; background: rgba(0,0,0,0.025); }
ul.pl-lists li.selected a { color: #000 !important; }
ul.pl-lists li span { display: inline-block; overflow: hidden; text-overflow: ellipsis; height: 1.1em; max-width: 220px; white-space: nowrap; }

/* Calendar
----------- */

table.pl-calendar { width: 100%; }
table.pl-calendar th { color: #ccc; font-weight: normal; padding-bottom: 5px; }
table.pl-calendar td { border: 1px solid #ddd; background: #fff; padding: 5px 7px; width: 14.28%; height: 20px; vertical-align: top; line-height: 1em; text-align: center; }
table.pl-calendar td:hover { background: #ffffee; cursor: pointer; }
table.pl-calendar td.pl-today { /* background-image: url('images/b-today.png'); */ border: 4px solid #FDDA3B; -moz-border-radius: 4px; margin: 0; }
table.pl-calendar td.pl-today:hover { background: #ecf7ff; }
table.pl-calendar td.pl-not-this-month { background: #eee; }
table.pl-calendar td.pl-not-this-month:hover { background: #e2e2e2; }
table.pl-calendar td i.icon10 { margin-top: 0.2em; margin-right: 0.2em; }
table.pl-calendar td .pl-date { color: #aaa; font-size: 0.8em; }
table.pl-calendar td .pl-dots { font-size: 0.7em; }

/* Team
------- */

ul.pl-team li .count { font-size: 1em; padding: 3px 7px 4px; margin-top: -1px; }
ul.pl-team li .indicator {  }
ul.pl-team li .pl-active-items { max-height: 2.4em; overflow: hidden; margin: 5px 25px 0 0; line-height: 1.2em; }

/* Settings
----------- */

#pl-settings-form { overflow: visible; }
#pl-settings-form .heading i.icon16 { margin-left: -0.2em; }
#pl-save-settings { margin-right: 10px; }

.pl-pocket-access { line-height: 1.5em; padding: 10px; }
.pl-pocket-access table { margin: 10px 15px; }

/* Done checkbox
---------------- */

label.pl-done-label { cursor: pointer; }

.pl-done { display: none; }
.pl-done + span { display: block; float:left; width:16px; height:16px; background: rgba(255,255,255,0.2); border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; position: relative; top: 14px; left: 17px; }
.pl-done.pl-green + span { background: #7ac33c; }
.pl-done.pl-yellow + span { background: #f5cf24; }
.pl-done.pl-red + span { background: #f7696d; }

.pl-done:checked + span { background: transparent url('../img/pl-done-checkbox.png') no-repeat !important; background-size: 14px 14px !important; border: none; border-radius: 0; opacity: 0.3; }

/* Items
-------- */

#pl-item-add-link { }
#pl-item-add { display: none; }

#pl-item-add-wrapper-hover {
    display: block;
    max-height: 0;
    height: 4px;
    position: absolute;
    left: 0; right: 0; bottom: -1px;
    background: #fdda3b;
    margin: 0;
    cursor: pointer;

}
.pl-item-wrapper:hover #pl-item-add-wrapper-hover {
    max-height: 99px;
    transition: max-height 0.25s ease-in;
    transition-delay: 0.4s;
}

input#pl-new-list-input,
#pl-item-add textarea {
    min-width: 350px;
    width: 90%;
    white-space: nowrap;
    height: 1.3em;
    line-height: 1.3em;
    resize: none;
    word-wrap: normal;
    overflow-x: hidden;
    border: none;
    background: rgba(0,0,0,0.05);
    padding: 5px;
    margin: -5px 0 -7px -5px;
    position: relative;
    top: -1px;
}
.pl-items { position: relative; min-height: 500px; }

.pl-list-title { border-bottom: 1px solid rgba(0,0,0,0.1); padding: 25px 5px 25px 20px;  }
.pl-list-title:hover { background: rgba(0,0,0,0.04); }
.pl-list-title h1 { padding-left: 28px; position: relative; }
.pl-list-title h1 .pl-done + span { left: -7px; top: 4px; width: 22px; height: 22px; position: absolute; z-index: 1; }
.pl-list-title h1 .loading { margin-left: 3px; margin-top: 8px; opacity: 0.5; }
.pl-list-title ul.menu-h { position: relative; z-index: 2; }
.pl-list-title ul.menu-h li:hover { background: transparent; }
.pl-list-title ul.menu-h li ul.menu-v { top: 75%; }
.pl-list-title ul.menu-h li ul.menu-v li:hover { background: rgba(0,0,0,0.07); }

.pl-list-favorite { margin-right: 0 !important; padding-right: 3px !important; }

.pl-due-overdue { color: red; }
.pl-due-today { color: #ca0; }
.pl-due-tomorrow { color: green; }
.pl-due-someday { color: #aaa; }

.pl-list-items ul.menu-v { margin: 0; padding: 0; }
.pl-list-items ul.menu-v li { padding: 0; margin: 0; }
.pl-list-items ul.menu-v li .pl-item { display: block; border-bottom: 1px solid rgba(0,0,0,0.1); }
.pl-list-items ul.menu-v li .pl-item:hover { background: rgba(0,0,0,0.04); }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected { background: rgba(0,0,0,0.06); }
.pl-list-items ul.menu-v li label.pl-select-label { padding: 13px 25px 13px 49px; display: block; line-height: 1.3em; }
.pl-list-items ul.menu-v li ul { padding-left: 0; margin: 0; }
.pl-list-items ul.menu-v li ul li .pl-item { padding-left: 30px; }
.pl-list-items ul.menu-v li ul li ul li .pl-item { padding-left: 56px; }
.pl-list-items ul.menu-v li ul li ul li ul li .pl-item { padding-left: 82px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li .pl-item { padding-left: 108px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li .pl-item { padding-left: 134px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 160px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 186px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 212px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 238px; }

.pl-list-items ul.menu-v li .pl-item .pl-favorite { display: inline-block; float: right; padding: 18px; }
.pl-list-items ul.menu-v li .pl-item .pl-author { display: inline-block; float: right; padding: 15px 0 15px 15px ; }
.pl-list-items ul.menu-v li .pl-item p { margin-bottom: 0; margin-top: 4px; line-height: 1.2em; }

.pl-is-selected { display: none; }

.pl-list-items .pl-item-placeholder {
    background: #fdda3b;
    min-height: 5px;
}

#pl-complete-log { display: none; }
#pl-complete-log h5 { margin: 30px 15px 5px; }
#pl-complete-log-link { padding: 13px 15px; display: block; }

.pl-logbook { color: #aaa; }
.pl-logbook .pl-due-overdue,
.pl-logbook .pl-due-today,
.pl-logbook .pl-due-tomorrow,
.pl-logbook .pl-due-someday { display: none; }

/* Item details
--------------- */

#pl-item-details,
#pl-list-details { display: none; position: absolute; top: 0; bottom: 0; right: 0; width: 550px; background: #fff; box-shadow: -10px 0 20px -10px rgba(0,0,0,0.1); z-index: 3; }

input.pl-due-date-input { width: 130px; min-width: 130px; }

/* List details
--------------- */
#pl-list-icon-dialog ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}
#pl-list-icon-dialog li {
    float: left;
    margin: 0 5px 5px;
    padding: 0;
}
#pl-list-icon-dialog li a {
    border: 2px solid transparent;
    display: block;
}
#pl-list-icon-dialog li a:hover,
#pl-list-icon-dialog li a.selected {
    border: 2px solid #5da5f5;
}

/* List icons
------------- */

i.listicon48 { background-repeat:no-repeat; height: 32px; width: 32px; background-size: 32px 32px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.listicon48 { text-decoration:none!important; vertical-align:top; margin: -0.1em 0.25em 0 0; }

/* Custom 16x16 icons
--------------------- */

.icon16.pl { background-image: url('../img/pl-backend-ui-icons-16.png?1511'); }
.icon16.pl.lists { background-position:-16px 0; }
.icon16.pl.todo { background-position:-32px 0; }
.icon16.pl.archive { background-position:-48px 0; }
.icon16.pl.todo-bw { background-position:-64px 0; }
.icon16.pl.add { background-position:0 -16px; }
.icon16.pl.darr { background-position:-16px -16px; }

a:hover .icon16.pl.add { background-position:0 -32px; }
a:hover .icon16.pl.darr { background-position:-16px -32px; }

/* @2x
------ */

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    i.icon16.pl { background-image: url('../img/pl-backend-ui-icons-16@2x.png?1511'); background-size: 346px 179px; }
}

/* Narrow screens
----------------- */

@media screen and (max-width: 1024px) {
    ul.pl-lists li span { max-width: 150px; }
}
