/* Pocket Lists for Webasyst
============================ */

/* Layout
--------- */

body { background: var(--background-color-blank); }

.pl-sidebar-core { }
.pl-sidebar-core .pl-online { position: absolute; left: 8px; top: 6px; }
#pl-sidebar-core .pl-wa-app-icon { flex: 0 0 1.25rem; max-width: 1.25rem; max-height: 1.25rem; width: 1.25rem; height: 1.25rem; background-size: 1.25rem 1.25rem !important; position: relative; left: -0.125rem; top: -0.125rem; margin: 0 0.5rem 0 0; font-size: 1.25rem; }

.pl-second-sidebar { width: 24rem; overflow: visible; }
.pl-inner-sidebar { background: var(--background-color); width: 340px; flex-shrink: 0; min-height: calc(100vh - 4rem); }
.pl-inner-content.pl-embedded { margin-right: auto; margin-left: auto; }

.pl-pseudo-article { max-width: 880px; margin: 1rem auto; }

/* Misc
------- */

.pl-dark-gray { background: #aaa !important; }
.pl-dark-green { background: #4dd963 !important; }
.pl-dark-blue { background: #59c7fa !important; }
.pl-dark-purple { background: #5757d6 !important; }
.pl-dark-red { background: #ff2e54 !important; }
.pl-dark-yellow { background: #ffcc00 !important; }
.pl-dark-brown { background: #996e4d !important; }
.pl-dark-orange { background: #ff9400 !important; }
.pl-dark-none { background: #ddd !important; }

.pl-dark-gray-label { color: #aaa !important; }
.pl-dark-green-label { color: #4dd963 !important; }
.pl-dark-blue-label { color: #59c7fa !important; }
.pl-dark-purple-label { color: #5757d6 !important; }
.pl-dark-red-label { color: #ff2e54 !important; }
.pl-dark-yellow-label { color: #ffcc00 !important; }
.pl-dark-brown-label { color: #996e4d !important; }
.pl-dark-orange-label { color: #ff9400 !important; }
.pl-dark-none-label { color: var(--text-color-stronger) !important; }

.pl-dark-gray-border { border-color: #aaa !important; }
.pl-dark-green-border { border-color: #4dd963 !important; }
.pl-dark-blue-border { border-color: #59c7fa !important; }
.pl-dark-purple-border { border-color: #5757d6 !important; }
.pl-dark-red-border { border-color: #ff2e54 !important; }
.pl-dark-yellow-border { border-color: #ffcc00 !important; }
.pl-dark-brown-border { border-color: #996e4d !important; }
.pl-dark-orange-border { border-color: #ff9400 !important; }
.pl-dark-none-border { border-color: #aaa !important; }

.icon10.color { border: none; border-radius: 50%; width: 6px; height: 6px; }
.icon16.color { border: none; }
.icon16.color.white,
.icon16.color.pl-white { border: 1px solid rgba(0,0,0,0.1); }
.field .value a.selected .icon16.color { border: 3px solid rgba(0,0,0,0.8); }

.pl-list-placeholder { background-color: #fff !important; }

.pl-alert { margin: 0; background: #ffffdd; padding: 15px 20px; border-bottom: 1px solid #eed; line-height: 1.3em; font-size: 0.9em; color: #555; }
.pl-alert .pl-alert-close { margin: -2px -2px 0 12px; float: right; color: rgba(0,0,0,0.4); font-size: 1.4em; }
.pl-alert .pl-alert-close.bigger { font-size: 2em; }

.dialog p i.icon16 { margin-top: 0.1em; }

.pl-teammate-userpic { width: 96px; height: 96px; border: 3px solid #fff; margin-bottom: 20px; }
.pl-teammate-lists li a { font-weight: 500; }
.pl-teammate-lists li a:hover span { color: red !important; }
.pl-teammate-nolists-disclaimer { font-size: 0.9em; color: var(--gray); text-align: center; }
.pl-teammate-nolists-disclaimer a { color: var(--gray); }

ul.menu-v.with-icons i.icon10.online { margin-top: 3px; }
ul.menu-v.with-icons i.icon16.color { margin: 2px 7px 1px -18px; width: 12px; height: 12px; }

.pl-team-showall-link { font-size: 0.95em; color: var(--gray) !important; }

.indicator.onfire { background: #f22 url('../img/item-bullets-priority-fire.gif') no-repeat; background-size: 95px 95px; background-position: center -25px; color: #fff; padding: 3px 5px 3px 5px; top: -1px; }
.indicator.black { background-color: #222; color: #fff; }
.indicator.red { background-color: #dd1713; }
.indicator.yellow { background-color: #f2aa42; color: #fff; }
.indicator.green { background-color: #78b03e; color: #fff; }
.count .indicator { margin-right: 3px; }

.pl-droppable { transition: background-color 0.4s; }
.highlighted-background { background-color: #fffaba !important; }
.pl-drop-success { background-color: greenyellow; }
.pl-drop-fail { background-color: indianred; }

.pl-search-input { width: 100%; -webkit-appearance: textfield; border: 1px solid #ddd; border-radius: 2px; font-size: 1rem; outline: 0 none;text-indent: 8px; min-height: 28px; }
.pl-search-input::-webkit-search-decoration { -webkit-appearance: none; }
.pl-search-input::-webkit-search-cancel-button { display: none; }

/* Lists
-------- */

.pl-lists-header { padding: 14px 14px 12px 13px; }
.pl-lists-header h5 { font-size: 1.3em; }
.pl-lists-header .count { margin-top: 4px; }
.pl-lists-header .pl-pocket-settings { position: relative; top: 6px; opacity: 0.5; }
.pl-lists-header .pl-pocket-settings:hover { opacity: 1; }

.pl-new-list-icons-mix-helper { background-image: url('../img/pl-list-icons-mix.png'); background-size: 200px 200px; width: 200px; height: 200px; margin: 30px auto 20px; }

ul.pl-lists { background: var(--background-color-blank); padding: 0; margin: 0; list-style: none; }
ul.pl-lists li a { text-decoration: none; padding: 0.75rem 0.875rem; border-bottom: 1px solid var(--border-color-soft); cursor: pointer; }
ul.pl-lists li a i.icon { background-repeat: no-repeat; height: 36px; width: 36px; background-size: 36px 36px; display: inline-block; text-indent:-9999px; text-decoration:none!important; }
ul.pl-lists li a .pl-list-name { font-weight: 500; font-size: 1.06125rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
ul.pl-lists li a:hover { background: rgba(0,0,0,0.03); }
ul.pl-lists li a.pl-is-selected { background: rgba(0,0,0,0.02); }

/* List icons
------------- */

i.listicon48 { background-repeat:no-repeat; height: 32px; width: 32px; background-size: 32px 32px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
* i.listicon48 { text-decoration:none!important; vertical-align:top; margin: -0.1em 0.25em 0 0; }

.pl-icon-library h5 { clear: left; padding-top: 1rem; }
.pl-icon-library ul { list-style: none; padding: 0; margin: 15px 0; height: 100%; clear: left; }
.pl-icon-library ul li { float: left; margin: 0 7px 7px; padding: 0; }
.pl-icon-library ul li a { border: 4px solid transparent; border-radius: 4px; display: block; }
.pl-icon-library ul li a:hover { border-color: #eee;  }
.pl-icon-library ul li a.selected { border-color: #fdda3b; background: rgba(0,0,0,0.04); }
.pl-icon-library ul li i.listicon48 { background-size: 48px 48px; width: 48px; height: 48px; margin: 5px; }

#pl-list-icon-change .value { width: 48px; text-align: center; }
#pl-list-icon-change i.listicon48 { background-size: 48px 48px; width: 48px; height: 48px; margin: 0; }

/* Calendar
----------- */

table.pl-calendar { width: 100%; margin: 0; }
table.pl-calendar th { color: #d3d3d3; font-weight: normal; padding-bottom: 5px; font-size: 0.9em; text-align: center; }
table.pl-calendar td { width: 14.28%; height: 25px; line-height: 25px; text-align: center; color: var(--text-color); vertical-align: top; }
table.pl-calendar td:hover { background: var(--highlighted-yellow); cursor: pointer; }
table.pl-calendar td.pl-selected { background: var(--accent-color); font-weight: bold; }
table.pl-calendar td.pl-today { border: 3px solid var(--yellow); border-radius: 0.125rem; font-weight: 500; }
table.pl-calendar td.pl-not-this-month { opacity: 0.5; }
table.pl-calendar td .pl-date { color: var(--gray); font-size: 0.875rem; }
table.pl-calendar td.pl-selected .pl-date { color: var(--white); }
table.pl-calendar td .pl-dots { font-size: 0.25rem; line-height: 0; letter-spacing: 0; margin-top: 0.2em; white-space: nowrap;}
table.pl-calendar td .pl-dots i.icon { margin-top: 0.2em; margin-right: 0.2em; }

.pl-calendar-nav { padding: 0 0.5rem; color: var(--gray); }

/* Settings
----------- */

#pl-settings-form { overflow: visible; }
#pl-save-settings { margin-right: 10px; }

.pl-pocket-access { line-height: 1.5em; padding: 10px; }
.pl-pocket-access table { margin: 10px 15px; }

/* About
-------- */

.pl-about p { max-width: 85%; }

.pl-upgrade-ad { margin: 0; border: 0.25rem dashed var(--border-color-input); border-radius: 0.5rem; }
.pl-upgrade-ad p { margin-bottom: 15px; font-size: 0.9375rem; }
.pl-upgrade-ad .pl-wa-plugin-icon { flex: 0 0 200px; }
.pl-upgrade-ad .pl-wa-plugin-icon img { box-shadow: 0 15px 25px rgba(40,40,80,0.1), 0 3px 8px rgba(0,0,0,0.07); border-radius: 5px; width: 200px; height: 110px; }

.pl-badge-appstore { width: 144px; display: block; }

.pl2ios-app-icon { width: 128px; height: 128px; margin: -19px; }

.pl-more-apps { list-style: none; padding: 10px 0 0; }
.pl-more-apps li { display: block; margin-bottom: 20px; margin-top: 10px !important; vertical-align: top; line-height: 1.25; }
.pl-more-apps li .pl-more-apps-app-icon { flex: 0 0 96px; }
.pl-more-apps li p { font-size: 0.9375rem; }
.pl-more-apps li img { width: 96px; height: 96px; }

/* Upgrade
---------- */

.pl-upgrade-content img { max-width: 90%; margin: 10px auto 20px; }

/* Some tiny promotions
----------------------- */

.pl-tiny-ad { font-size: 0.8125rem; line-height: 1.25; }
.pl-tiny-ad-box { border: 2px dashed var(--border-color-hard); border-radius: 0.5rem; padding: 10px; margin: 0.5rem 0.75rem 0.75rem; background: var(--background-color-blank); }
.pl-tiny-ad .pl-tiny-ad-close { font-size: 1rem; color: #886; padding-right: 0.25rem; }
.pl-tiny-ad h5 { font-size: 1rem; }
.pl-tiny-ad img.pl-app-icon { width: 64px; height: 64px; }
.pl-tiny-ad img.pl-app-icon.pl-plugin-icon { width: 100%; margin-bottom: 0.5rem; height: auto; box-shadow: 0 15px 25px rgba(40,40,80,0.1), 0 3px 8px rgba(0,0,0,0.07); }
.pl-tiny-ad .pl-app-discount-badge { font-size: 0.6875rem; font-weight: bold; position: relative; top: -2px; }
.pl-tiny-ad .pl-tiny-ad-action-button { display: block; width: 100%; text-align: center; font-size: 0.875rem; }

.pl-tiny-ad-dialog img.pl-app-icon { width: 96px; height: 96px; }
.pl-tiny-ad-dialog img.pl-app-icon.pl-plugin-icon { width: 200px; height: 110px; box-shadow: 0 15px 25px rgba(40,40,80,0.1), 0 3px 8px rgba(0,0,0,0.07); }
.pl-tiny-ad-dialog .pl-app-discount-badge { font-size: 1.25rem; font-weight: bold; }
.pl-tiny-ad-dialog p { font-size: 0.9375rem; line-height: 1.4; }

/* Done checkbox
---------------- */

label.pl-done-label,
.pl-padded-left {
    flex: 0 0 2rem;
    min-height: 1rem;
}
#pl-item-add label.pl-done-label { padding-top: 3px; }

.pl-done {display: none;}
.pl-done + span { display: block; width:16px; height:16px; background: transparent; border: 2px solid var(--border-color-hard); border-radius: 50%; cursor: pointer; transition: background-color 0.2s; }
.pl-done + span.transparent { border-color: transparent;background: none; }
.pl-done + span:hover { background: rgba(142,142,142,0.25); }
.pl-done.pl-priority-green + span, .pl-done.pl-priority-yellow + span, .pl-done.pl-priority-red + span, .pl-done.pl-priority-black + span {background: url('../img/item-bullets-priorities.png') no-repeat;background-size: 80px 20px;border: none;width: 20px;height: 20px;}
.pl-done.pl-priority-red + span { background-position: 0 0; }
.pl-done.pl-priority-yellow + span { background-position: -20px 0; }
.pl-done.pl-priority-green + span { background-position: -40px 0; }
.pl-done.pl-priority-black + span { background-position: -60px 0; }
.pl-done.pl-priority-fire:not(:checked) + span { background: url('../img/item-bullets-priority-fire.gif') no-repeat; background-size: 2rem 2rem; border: none; width: 2rem; height: 2rem; top: 0.25rem; left: 0.75rem; position: absolute; }

.pl-done:checked + span, .pl-done:disabled:checked + span {background: transparent url('../img/pl-done-checkbox-gray.png') no-repeat !important;background-size: 16px 16px !important;border: none;border-radius: 0;opacity: 0.7; top: 3px; left: 2px; position: relative; }
.pl-done + .pl-add-todo { top: 4px; left: 4px; position: relative; }

/* Discussions
-------------- */

.pl-discuss { position: absolute; bottom: 0; left: 0; right: 0; border-top: 1px solid rgba(0,0,0,0.1); padding: 13px; }

/* Items
-------- */

.pl-welcome { margin: 0 60px 25px; padding-top: 30px; text-align: center; font-size: 110%; }
.pl-welcome .pl-jumbodone { width: 180px; height: 180px; margin: 0 auto; background: transparent url('../img/pl-jumbodone.png') no-repeat; background-size: 180px 180px; opacity: 0.13; }
.pl-welcome .pl-forbidden { width: 180px; height: 180px; margin: 0 auto; background: transparent url('../img/pl-forbidden.png') no-repeat; background-size: 180px 180px; opacity: 0.13; }
.pl-welcome .pl-shopscript { width: 180px; height: 180px; margin: 0 auto; background: transparent url('../img/pl-shopscript.png') no-repeat; background-size: 180px 180px; opacity: 0.13; }
.pl-welcome h1,
.pl-welcome h2 { margin-top: 20px; }
.pl-welcome p { font-size: 0.875rem; }
.pl-welcome p a { text-decoration: none; }
.pl-welcome.top-padded { padding-top: 70px; }
.pl-welcome.bottom-padded { padding-bottom: 40px; }

.pl-inner-item-add-placeholder { opacity: 0; height: 0; background: var(--light-gray); margin: 0; cursor: pointer; z-index: 3; transition: 0.2s; }
#wa.pl-keypress-alt .pl-item-wrapper:hover .pl-inner-item-add-placeholder { opacity: 1; height: 10px; }

input#pl-new-list-input,
#pl-item-add textarea,
.pl-chat textarea,
textarea.pl-item-name,
.pl-details-textarea {
    width: 100%;
    resize: none;
    word-wrap: normal;
    overflow: hidden;
    padding: 6px 9px;
    border-color: transparent;
    border-width: 2px;
}

input#pl-new-list-input:focus,
#pl-item-add textarea:focus,
.pl-chat textarea:focus,
textarea.pl-item-name:focus,
.pl-details-textarea:focus {
    border-color: var(--accent-color); background-color: var(--background-color-blank);
}

#pl-item-add textarea,
.pl-chat textarea,
textarea.pl-item-name {
    height: 1rem;
}

#pl-item-add .pl-link-preview { opacity: 0.5; }
#pl-item-add .pl-item-add-shortcuts { position: absolute; right: 10px; top: 9px; z-index: 8; }
.pl-enable-item-add-compact-mode { position: absolute; right: 32px; top: 20px; z-index: 30; }

.pl-chat textarea { margin-left: 0px; border-radius: 5px; padding-left: 8px; width: 80%; min-width: 150px; max-height: 110px; padding-right: 5px; padding-left: 12px; font-size: 0.875rem; }

.pl-title { padding: 1rem 1.25rem 0.25rem; }
.pl-title h1 { margin: 0; line-height: 1.1em; display: inline-block; }
.pl-title h1 .pl-done + span {left: -34px; top: 2px; width: 22px; height: 22px; position: absolute; z-index: 1;}
.pl-title h1 .pl-done:checked + span,
.pl-title h1 .pl-done:disabled:checked + span { background-size: 24px 24px !important; }
.pl-title h1 .loading { margin-left: 3px; margin-top: 8px; opacity: 0.5; }
.pl-title h1.not-padded { padding-left: 0; }
.pl-disclaimer { max-width: 80%; font-size: 0.9em; color: var(--gray); }

.pl-userpic-bundle { display: inline-block; vertical-align: top; margin-top: 0; }
.pl-userpic-bundle .userpic { display: inline-block; width: 36px; height: 36px; background-color: var(--background-color); border: 2px solid white; margin-left: -0.7em; margin-top: 0rem; transition: 0.1s; position: relative; overflow: hidden; }
.pl-userpic-bundle .userpic span { position: absolute; text-decoration: none; color: #777; top: 9px; left: 0; right: 2px; text-align: center; font-style: normal; font-weight: bold; font-size: 13px; }
.pl-userpic-bundle:hover .userpic { position: relative; margin-right: 0.1em; }
.pl-list-details-helper { position: relative; top: -3px !important; }

.pl-list-access { line-height: 1.2em; margin: 2px 0 10px; }
.pl-list-access h5 { margin-bottom: 20px; }
.pl-list-access p { margin-bottom: 0; }
.pl-list-access .profile { margin-bottom: 5px; }
.pl-list-access .profile img { width: 32px; height: 32px; }
.pl-list-access .profile .hint { line-height: 1.3em; }

.pl-due { font-size: 13px; font-weight: bold; margin-top: 3px; display: block; }
.pl-due-overdue { color: #dd1713; }
.pl-due-today { color: #ffa71a; }
.pl-due-tomorrow { color: #64b320; }
.pl-due-someday { color: var(--gray); }
.gray .pl-due-overdue,
.gray .pl-due-today,
.gray .pl-due-tomorrow,
.gray .pl-due-someday { color: var(--gray); }

.pl-list-items, .pl-list-title, #pl-item-add { position: relative; z-index: 10; }
.pl-list-items ul.menu-v { margin: 0; padding: 0; list-style: none; }
.pl-list-items ul.menu-v li { padding: 0; margin: 0; }
.pl-list-items ul.menu-v li a .pl-wa-app-icon { position: relative; top: 3px; left: 3px;}
.pl-item { position: relative; border-bottom: 1px solid var(--border-color-soft); padding: 0.875rem 1.25rem 0.75rem; }
.pl-list-items ul.menu-v li .pl-item { transition: 0.1s; }
.pl-list-items ul.menu-v li .pl-item:hover { background: var(--background-color-table-row-hover); }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected { box-shadow: 0 -0.5rem 1rem -1.5rem rgba(0,0,0,.5), 0 1rem 1rem -1.5rem rgba(0,0,0,.5); background: var(--background-color-blank); padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected .pl-item-drag-handle { display: none !important; }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected .pl-item-list-name { position: absolute; opacity: 0; }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected .pl-done.pl-priority-fire:not(:checked) + span { top: 0.75rem; }
.pl-list-items ul.menu-v li .pl-item.pl-item-selected .pl-edit,
.pl-list-items ul.menu-v li .pl-item.pl-item-selected .pl-comment { opacity: 1; }
#pl-item-add .pl-item.pl-item-selected { background: transparent; box-shadow: none; padding-top: 0.875rem; padding-bottom: 1.5rem; }
.pl-list-items ul.menu-v li label.pl-select-label { position: relative; cursor: auto; line-height: 1.25; }
.pl-list-items ul.menu-v li ul { padding-left: 0; margin: 0; }
.pl-list-items ul.menu-v li ul li .pl-item { padding-left: 30px; }
.pl-list-items ul.menu-v li ul li ul li .pl-item { padding-left: 56px; }
.pl-list-items ul.menu-v li ul li ul li ul li .pl-item { padding-left: 82px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li .pl-item { padding-left: 108px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li .pl-item { padding-left: 134px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 160px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 186px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 212px; }
.pl-list-items ul.menu-v li ul li ul li ul li ul li ul li ul li ul li ul li ul li .pl-item { padding-left: 238px; }

.pl-item .pl-item-list-name { color: rgba(0,0,0,0.4); font-weight: bold; margin-left: 2rem; font-size: 0.75rem; }
.pl-item .pl-item-list-name.pl-dark-none-label { color: var(--gray) !important; }
.pl-item .pl-userpic .pl-assignee-arrow { color: var(--light-gray); font-weight: bold; font-size: 11px; position: relative; top: -1px; margin: 0 6px; }
.pl-item .pl-userpic i.icon16 { margin-left: 2px; }
.pl-item .pl-comment { opacity: 0; }
.pl-item .pl-comment.pl-comment-count-show { opacity: 1; }
.pl-item .pl-item-name { font-weight: 500; word-break: break-word; font-size: 15px; color: var(--text-color-stronger); }
.pl-item .pl-item-note { font-size: 13px; line-height: 17px; color: var(--text-color-hint); margin-top: 5px; margin-bottom: 5px; }
.pl-item p.hint { margin-bottom: 0; margin-top: 4px; line-height: 1.2em; color: rgba(0,0,0,0.3); }
.pl-item i.icon10 { margin-top: 5px; }
.pl-item .pl-item-drag-handle { display: none; position: absolute; top: 4px; bottom: 4px; left: 0; width: 6px; padding: 0 4px; background: url('../img/pl-drag-handle.png') repeat-y; background-size: 14px 20px; opacity: 0.1; z-index: 3; cursor: move; }

.pl-item #pl2-item-details:not(:empty) {
    transform: translateY(-26px);
    margin-bottom: -26px;
}
.pl-item #pl2-item-details .fa-plus {
    display: none;
}

.pl-item .pl-item-details #pl2-item-details { display: block; line-height: 1.3em; position: relative; cursor: auto;  /* max-height: 0px; required for animate effect */ overflow: hidden; }

.pl-list-items ul.menu-v li .pl-item:hover .pl-item-drag-handle { display: block; }
.pl-list-items ul.menu-v li #pl-item-add .pl-item:hover { background: transparent; }

.pl-link-preview { padding: 5px 10px 5px 7px; margin-bottom: 3px; margin-top: 8px; display: inline-block; line-height: 1.3em; position: relative; border-radius: 5px; min-width: 60%; min-width: 400px;
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0.07) 1%, rgba(0,0,0,0.03) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.07) 1%,rgba(0,0,0,0.03) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.07) 1%,rgba(0,0,0,0.03) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#05000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.pl-link-preview:hover { background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.07) 1%, rgba(0,0,0,0.05) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.08) 1%,rgba(0,0,0,0.05) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.08) 1%,rgba(0,0,0,0.05) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#05000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.pl-link-preview-image { display: inline-block; width: 36px; float: left; }
.pl-link-preview-image img { max-width: 32px; margin-top: 3px; }
.pl-link-preview-remove { float: right; }
.pl-link-preview-remove a { display: block !important; padding: 13px 10px 12px 18px !important; color: var(--gray) !important; font-size: 1.4rem; }
.pl-link-preview-remove a:hover { color: #f20 !important; }
.pl-link-preview-details { display: block; margin-left: 40px; font-size: 0.875rem; }
.pl-link-preview-details p { margin-bottom: 0; line-height: 1em; margin-top: 2px; }
.pl-link-preview-details a .pl-label { margin-left: 0px !important; font-size: 10px; position: relative; top: 3px; }
.pl-link-preview-details a .pl-label.status-green-tiny { background: #2bb316; color: #fff; }
.pl-link-preview-details a .float-right { float: right; }
.pl-link-preview-details a:hover .pl-label { background-color: red !important; color: white !important; }
#pl-item-add .pl-link-preview { margin-left: 44px; margin-top: 0px; margin-bottom: 10px; }
#pl-item-add .pl-link-preview-remove { display: none; }
#pl2-item-details .pl-link-preview-remove { display: block; }

.pl-list-content .pl-item-list-name { display: none !important; }
.pl-list-content .pl-item .pl-item-details #pl2-item-details { background: transparent; }

.pl-label { font-size: 0.8125rem; border-radius: 4px; background: var(--gray); color: #fff !important; padding: 1px 4px 2px !important; margin-right: 2px !important; line-height: 1.4em; vertical-align: top; margin-top: 1px; display: inline; font-weight: bold; }
.pl-label:hover { color: #ffa !important; }
.pl-label.pl-hint { background: rgba(0,0,0,0.07); color: rgba(0,0,0,0.42) !important; font-size: 0.75em; position: relative; top: 2px; font-style: italic; }
.pl-label.pl-dark-none { background: #bbb !important; }
.pl-list-items .pl-item a.pl-label { margin: 3px 0 !important; display: inline-block; }
.pl-label.pl-pro { background: gold !important; color: black !important; font-size: 0.75em; font-style: normal !important; }
p .pl-label.pl-pro { position: relative; top: 3px; margin-right: 0; }

.pl-edit { opacity: 0; }
.pl-list-title .pl-edit.pl-list-due { opacity: 1; font-weight: bold; font-size: 1em; }
.pl-list-title:hover .pl-edit,
.pl-item:hover .pl-edit,
.pl-item:hover .pl-comment,
.pl-non-opacity { opacity: 1 !important; transition: opacity 0.1s ease-in; transition-delay: 0.1s; }

.pl-attachments { padding: 15px 0 0; margin: 0; }
.pl-attachments li { display: inline-block !important; padding-top: 0px !important; margin-bottom: 13px !important; list-style: none; word-break: break-all; }
.pl-attachments li a { display: block !important; }
.pl-attachments li img { max-width: 300px; max-height: 200px; margin-right: 10px; border-radius: 3px; }
.pl-attachments li i.icon16 { margin-left: -4px; }
.pl-attachments li label { background: var(--background-color); border-radius: 10px; padding: 4px 6px; font-size: 0.9em; color: var(--gray); }
.pl-attachments li label input[type="checkbox"] { margin-top: -4px; }
.pl-add-attachment-dropbox { border: 2px dashed var(--border-color-input); border-radius: 3px; padding: 20px; margin-top: 1rem; }
.pl-add-attachment-dropbox ul.menu-v li { margin-bottom: 10px; }
.pl-add-attachment-dropbox ul.menu-v li a { display: block; }
.pl-add-attachment-dropbox ul.menu-v li a.gray { color: var(--gray); }
.pl-add-attachment-dropbox input { width: 100%; }
.pl-attachments li.pl-no-preview { display: block !important; }

.pl-is-selected { display: none; }

.pl-list-items .pl-item-placeholder { background: rgba(0,0,0,0.05); min-height: 5px; }

#pl-complete-log { display: none; }
#pl-complete-log h5 { margin: 3rem 1rem 0.5rem; font-size: 1.125rem; text-align: center; }

.pl-logbook .pl-item.gray { color: var(--gray); }
.pl-logbook .pl-item.gray .pl-due-overdue,
.pl-logbook .pl-item.gray .pl-due-today,
.pl-logbook .pl-item.gray .pl-due-tomorrow,
.pl-logbook .pl-item.gray .pl-due-someday { display: none; }
.pl-logbook .pl-item.gray .pl-edit { display: none !important; }
.pl-logbook .pl-item.gray .pl-comment { display: none; }
.pl-logbook .pl-item.gray .pl-comment-count-show { display: inline-block; }
.pl-logbook .pl-item.gray .pl-favorite,
.pl-logbook .pl-item.gray .pl-userpic { opacity: 1 !important; }
.pl-logbook .pl-item.gray .pl-item-list-name,
.pl-logbook .pl-item.gray .pl-item-name { color: var(--gray) !important; }
.pl-logbook .pl-item.gray .pl-label { opacity: 0.4; }
.pl-logbook .pl-item.gray .pl-link-preview-details .pl-label { opacity: 1; }

/* Item / List misc details form
-------------------------------- */

.pl-details-form {}
.pl-details-form .pl-list-details-cancel { float: right; margin: 1rem; font-size: 1.5rem; color: inherit; opacity: 0.5; }
.pl-details-form .pl-list-details-cancel:hover { opacity: 0.8; }
.pl-details-form .pl-details-primary-hint-wrapper { min-height: 1rem; }
.pl-details-form .pl-app-hint-internal { display: block; }
.pl-details-form .pl-app-hint-external { display: none; }
.pl-details-form .pl-details-linked-entities { margin-bottom: 1rem; }
.pl-details-form .pl-done + span { margin-right: 6px; left: 0; top: 0; }
.pl-details-form .pl-done.pl-priority-fire + span { top: -0.5rem !important; position: relative; left: 0; }
.pl-details-form ul.menu-v.with-icons li { padding: 5px 2px 5px 24px; margin-left: -4px; }
.pl-details-form ul.menu-v.with-icons li.top-padded { padding-top: 18px; }
.pl-details-form ul.menu-v.with-icons li.bottom-padded { padding-bottom: 18px; }
.pl-details-form .pl-unsaved-items-only { display: none !important; }
.pl-details-form .selected { position: relative; }
.pl-details-form .selected .pl-done + span { background-size: 120px 30px; width: 24px; height: 24px; border-width: 3px; top: -5px; }
.pl-details-form .selected .pl-done.pl-priority-green + span {background-position-x: -60px;width: 30px;height: 30px;}
.pl-details-form .selected .pl-done.pl-priority-yellow + span { background-position-x: -30px; width: 30px; height: 30px; }
.pl-details-form .selected .pl-done.pl-priority-red + span { width: 30px; height: 30px; }
.pl-details-form .selected .pl-done.pl-priority-black + span { background-position-x: -90px; width: 30px; height: 30px; }
.pl-details-form .selected .pl-done.pl-priority-fire + span { background-size: 3rem 3rem; top: -2.25rem !important; width: 3rem; height: 3rem; position: absolute; }
.pl-details-textarea.pl-item-name { max-height: 170px; }

#pl-item-add .pl-item-details { box-shadow: 0 3rem 3rem -3.5rem rgba(0,0,0,.5); }
#pl-item-add .pl-details-form { padding: 0.875rem 1.25rem 1.75rem; background: var(--background-color-blank); position: relative; }
#pl-item-add .pl-details-form .fields,
#pl-item-add .pl-details-form .field-group,
#pl-item-add .pl-details-form .field,
#pl-item-add .pl-details-form .clear-both { float: none; clear: none; }
#pl-item-add .pl-details-form p.hint { margin-top: 0.5rem; margin-bottom: 1rem; }
#pl-item-add .pl-details-form #pl-item-priority { margin-bottom: 24px; }
#pl-item-add .pl-details-form .pl-details-textarea.pl-item-name { font-weight: 500; font-size: 15px; }
#pl-item-add .pl-details-form .pl-details-linked-entities .pl-link-preview { margin-left: 0px; }
#pl-item-add .pl-details-form .pl-already-saved-items-only { display: none !important; }
#pl-item-add .pl-details-form .pl-unsaved-items-only { display: block !important; }

/* UHO-style Item & List details sidebar
---------------------------------------- */

.pl-details { display: none; padding: 0; position: absolute; top: 0; bottom: 0; right: 0; width: 340px; box-shadow: -10px 0 50px -10px var(--dialog-shadow-color); z-index: 99; background: var(--background-color-blank); overflow-x: hidden; overflow-y: scroll; }

.pl-details.sticky { position: fixed; right: 0; width: 350px; overflow-y: scroll; }
.pl-details.sticky .pl-details-form-container { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.pl-close,
.pl-close:visited { font-size: 1.75em; color: var(--gray) !important; text-decoration: none; float: right; position: relative; z-index: 1; margin-right: 10px; position: relative; top: -4px; }

input.pl-due-date-input { width: 130px !important; min-width: 130px !important; }

#pl-list-color a i.icon16 { opacity: 0.7; }
#pl-list-color a.selected i.icon16 { opacity: 1; }

/* Item discussion
------------------ */

.pl-chat { margin: 2rem auto; }
.pl-chat .pl-cue { margin-bottom: 23px; width: 100%; }
.pl-chat .pl-cue .pl-cue-inner { width: 85%; }
.pl-chat .pl-cue .pl-bubble { background: rgba(0,0,0,0.07); border-radius: 18px; padding: 8px 15px; position: relative; line-height: 1.4em; margin: 0 0 0 -16px; font-size: 0.9375rem; }
.pl-chat .pl-cue .pl-bubble-arrow {
  display: block;
  margin-top: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.07);
  vertical-align: top;
  margin-left: 5px;
  margin-bottom: 3px;
 }
.pl-chat .pl-cue .pl-bubble .pl-bubble-arrow:after { content: ''; border-top: 1px solid red;}
.pl-chat .pl-cue.pl-my-cue .pl-cue-inner { margin-left: 15%; }
.pl-chat .pl-cue.pl-my-cue .pl-bubble { background: #58a8f8; color: #fff; }
.pl-chat .pl-cue.pl-my-cue .pl-bubble-arrow { border-top-color: #58a8f8; }
.pl-chat .pl-cue.pl-my-cue .pl-bubble a { color: #fff !important; text-decoration: underline; }
.pl-chat .userpic20 { margin-left: 14px; margin-top: 1px; }
.pl-chat .pl-reply-link { float: right; margin: 0 10px 5px; }
.pl-chat .pl-reply { margin-top: 20px; margin-left: 15%; width: 85%; margin-bottom: 30px; }
.pl-chat .pl-reply textarea { border-radius: 18px; padding-left: 12px; font-weight: normal; width: 75%; display: inline-block; margin-left: 3px; }
.pl-chat .pl-reply .userpic { position: relative; top: -6px; }
.pl-chat .pl-delete-comment { color: #579; float: right; font-size: 1.2em; text-decoration: none !important; }
.pl-chat .pl-delete-comment:hover { color: var(--link-color-hover) !important; }
.pl-chat .pl-cue .pl-label { position: relative; top: -1px; }

.pl-item-discussion { margin-left: 30%; padding: 20px 0; min-width: 300px; }
.pl-item-discussion .pl-chat { margin: 1rem auto; }
.pl-item-discussion .pl-chat .pl-cue .pl-bubble { padding: 7px 11px; border-radius: 13px; font-size: 0.875rem; }
.pl-item-discussion .pl-chat .pl-reply { margin-bottom: 10px; }
.pl-item-discussion .pl-chat .pl-reply textarea { font-size: 13px; min-width: 130px; padding-top: 4px; }

/* Custom 16x16 icons
--------------------- */

i.pl-list-color-indicator { display: inline-block; background-image: none; border-radius: 50%; height: 8px; margin-right: 2px !important; margin-top: 3px !important; width: 8px; }

/* Custom jQuery UI styling
--------------------------- */

.ui-autocomplete { box-shadow: 0 20px 25px -5px rgba(0,0,0,0.15) !important; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-top: none; overflow: hidden; }
.ui-autocomplete .ui-menu-item { padding: 0 !important; }
.ui-autocomplete .ui-menu-item-wrapper { padding: 8px !important; display: block; }
.ui-autocomplete .ui-menu-item-wrapper.ui-state-active { background: #58a8f8; }

/* Embedded interface
--------------------- */

.s-order .pl-items { display: block; z-index: 1000; background: #f5faff; box-shadow: 0 -8px 20px -15px rgba(0,0,0,0.1) inset; margin: -20px -32px 20px -20px; position: static; }
.s-order .pl-items .pl-link-preview.pl-link-app-shop { display: none; }
.s-order .pl-items .pl-item-drag-handle { display: none !important; }
.s-order .pl-items .pl-item { border-bottom: none; border-top: 1px solid rgba(0,0,0,0.1); }
.s-order .pl-list-items ul.menu-v li .pl-item.pl-item-selected { background: rgba(0,0,0,0.04); }
.s-order .pl-items .pl-item .pl-item-details #pl2-item-details { background: transparent; }
.s-order #pl-item-add { display: block; }
.s-order #pl-item-add .pl-item { border-top: none; padding-top: 21px; padding-right: 26px; }
.s-order #pl-item-add .pl-item .pl-select-label { padding-bottom: 18px; }
.s-order #pl-complete-log li:first-child .pl-item { border-top: none; }
.s-order input#pl-new-list-input,
.s-order #pl-item-add textarea { background: #eaf1f9; }
.s-order input#pl-new-list-input:hover,
.s-order #pl-item-add textarea:hover { background: #eaf1f9; }
.s-order input#pl-new-list-input:focus,
.s-order #pl-item-add textarea:focus { background: #e7eef3; z-index: 7; }
.s-order #pl-item-add .pl-details-form { background: transparent; border-bottom: none; padding-right: 76px; }
.s-order .pl-details .pl-chat-reply { position: fixed; bottom: 0; width: 420px; padding: 0; background: #fff; }
.s-order .pl-details .pl-chat-contents { margin-bottom: 130px; }
.s-order .pl-details.sticky { top: 83px; }
.s-order .pl-details.sticky .pl-chat-contents { margin-bottom: 40px; }
.s-order .pl-details-form .pl-app-hint-internal { display: none; }
.s-order .pl-details-form .pl-app-hint-external { display: block; margin-top: 3px; }
.s-order .pl-shop-close { position: absolute; padding: 15px 3px; display: block; right: 5px; margin: 0; z-index: 30; font-size: 1.8rem; color: var(--gray) !important; }
.s-order .pl-shop-close:hover { color: #000 !important; }
.s-order .pl-enable-item-add-compact-mode { right: 53px; }

.s-order #pl-complete-log { display: block; }
.s-order #pl-complete-log ul.menu-v { margin-top: 10px; }

.t-tasks-wrapper .pl-items { margin-top: 1rem; margin-bottom: 2rem; z-index: 1; }
.t-tasks-wrapper .pl-items .fields { width: 100%; }
.t-tasks-wrapper .pl-items .pl-link-preview.pl-link-app-tasks { display: none !important; }
.t-tasks-wrapper .pl-items .pl-item-drag-handle { display: none !important; }
.t-tasks-wrapper #pl-item-add .pl-details-form { background: transparent; }
.t-tasks-wrapper #pl-item-add .pl-item { border: none; }
.t-tasks-wrapper #pl-item-add textarea { background: rgba(0,0,0,0.075); }
.t-tasks-wrapper #pl-item-add textarea:hover { background: rgba(0,0,0,0.09); }
.t-tasks-wrapper #pl-complete-log { display: block; }
.t-tasks-wrapper .pl-details-form .pl-app-hint-internal { display: none; }
.t-tasks-wrapper .pl-details-form .pl-app-hint-external { display: none; }

/* @2x
------ */

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    i.icon16.pl { background-image: url('../img/pl-backend-ui-icons-16@2x.png?1909'); background-size: 346px 179px; }
}

/* Narrow screens
----------------- */

@media screen and (max-width: 1100px) {
    /*.pl-items.content.left300px { margin-left: 229px; }*/
    /* ul.pl-lists li span { max-width: 120px; } */
    /* ul.pl-team li .pl-username { max-width: 120px; } */
    .pl-list-sort { display: none !important; }
    .pl-list-sort-dropdown { display: block !important; }
    /* table.pl-calendar { margin-left: -20px; } */

    .pl-second-sidebar { width: 20rem; }
    .pl-inner-sidebar { width: 220px; }
    /* .pl-inner-content { margin-right: 230px; } */

    .pl-details input.long { min-width: 200px !important; width: 200px !important; }
    .pl-details textarea { min-width: 250px !important; }
    .pl-details { width: 220px; }
    .pl-details.sticky { width: 230px; }

    .pl-item-discussion { margin-left: auto; }

    .pl-details-form .field .name { float: none; padding-bottom: 5px; }
    .pl-details-form .fields.form .field .value { margin-left: 0 !important; }

    .pl-link-preview { min-width: 300px;}

    #pl-settings-form .field p { margin-right: 30px; }

}

/* Wide screens
--------------- */

@media screen and (min-width: 1441px) {

    ul.pl-lists li a i.icon { height: 42px; width: 42px; background-size: 42px 42px; }
    ul.pl-lists li a .pl-list-name { font-size: 1.125rem; }

    .pl-second-sidebar { width: 26rem; }
    .pl-inner-sidebar { width: 390px; }
    /* .pl-inner-content { margin-right: 400px; } */
    .pl-details { width: 390px; }
    .pl-details.sticky { width: 400px; }

}

.search-results #pl-complete-log { display: block;}
.search-results #pl-complete-log ul.menu-v { margin-top: 10px; }
.search-results #pl-complete-log-link { display: none;}

/* Version 2
--------------- */

:root {
    --button-light-gray-background-color-hover: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] {
    --button-light-gray-background-color-hover: rgba(255, 255, 255, 0.25);
}

[data-pl-pocket-color] .rounded,
[data-pl-list-color] .rounded {
    border: 2px solid #fff;
    border-radius: 50%;
    transition: .3s border-color;
}

[data-pl-pocket-color].selected .rounded,
[data-pl-list-color].selected .rounded {
    border-color: #333;
}

.badge.indicator.onfire {
    padding: 0.125em 0.4375em;
}

@media screen and (max-width: 760px) {
    .sidebar.width-21rem {
        width: 100%;
    }
    .pl-second-sidebar { width: 100%; }
    .pl-inner-sidebar { width: 100%; min-height: 0; }
    .sidebar {
        height: auto;
    }

    .mobile-hidden {
        display: none !important;
    }
    .pl-link-preview { min-width: 170px;}
    .pl-link-preview-details { display: block; overflow: hidden; max-width: 170px; }
    .pl-details,
    .pl-details.sticky { width: 280px; }
    .pl-item-discussion { min-width: 0; }
    .pl-item .pl-comment { opacity: 1; }
}

.button.light-gray:hover { background: var(--button-light-gray-background-color-hover); }
