<main class="content left300px blank bordered-left pl-items pl-list-items pl-todo" id="pl-list-content">

    <div id="pl-stream-notice" class="pl-alert" style="display: none;">
        <a href="javascript:void(0)" class="close pl-alert-close">&times;</a>
        [`This is <strong>To-do Stream</strong> — your personal dynamic to-do list that automatically collects all important to-dos from all of your lists and presents them in the priority &amp; due order. Most important to-dos are on top. Since this is your personal list, to-do items assigned to your teammates won’t be listed on this list.`]
        <br><br>
        {if isset($stream_list)}
            {sprintf('[`To-dos added to this list directly will be automatically added to <strong>%s</strong> list and thus will be available to your teammates who can access this list. <a href="%s">Configure</a>`]',$stream_list['name']|escape,'#/settings/')}
        {else}
            <i class="icon10 lock-bw"></i> {sprintf('[`To-dos added to the stream directly will be <em>your private to-dos</em> unless you manually assign them to any to-do list or <a href="%s">select the default stream inbox list</a> in the app settings.`]','#/settings/')}
        {/if}
    </div>

    <header class="pl-title">
        <div class="float-right block half-padded">
            <ul class="menu-h">
                <li>
                    <a href="#" id="pl-item-add-link"><i class="icon16 add"></i> [`New to-do`]</a>
                </li>
            </ul>
        </div>
        {if !$date}
        <h1 class="not-padded">
            [`To-do stream`]
        </h1>
        <span></span>
        {else}
        <h1 class="not-padded" pl-todo-stream="date">
            <span>{$date}</span> <a href="#" class="back">[`Show stream`]</a>
        </h1>
        {/if}
    </header>

    <div class="pl-list-items" id="pl-list-items">
        {if !$date}
        <div class="pl-empty-list" id="pl-empty-list-msg" {if !empty($undone_items)}style="display:none;"{/if}>
            <div class="pl-jumbodone" title="[`To-do stream is empty`]"></div>
            <h2>[`To-do stream is empty`]</h2>
            <p>[`To-do stream automatically collects all important to-dos created by you and your teammates, and shows you what to do next.`]</p>
        </div>
        {/if}

        <section id="pl-undone-items">
            <ul class="menu-v">
                {if !empty($undone_items)}
                {include '../item/ItemCreate.html' parent_id=0 items=$undone_items}
                {/if}
            </ul>
        </section>

        {if $date}
        <section id="pl-complete-log" class="pl-logbook">
            <h5 class="heading">[`Logbook`]</h5>
            <ul class="menu-v">
                {if $count_done_items}
                {include '../item/ItemCreate.html' parent_id=0 items=$done_items}
                {/if}
            </ul>
        </section>

        <a href="#" id="pl-complete-log-link" class="inline-link gray" {if !$count_done_items}style="display:none;"{/if}><b><i>{_w('Show all %d completed to-do', 'Show all %d completed to-dos', $count_done_items)}</i></b></a>
        {/if}

    </div>

    <div class="clear-both"></div>

    {include '../../include/itemadd.html' inline}

    {include '../../include/itemdetails.html' inline}
</main>

<script type="text/javascript">
    (function(){
        $.pocketlists.initNotice('#pl-stream-notice');

        new $.pocketlists.Items($('#pl-list-items'), {
            enableAddLinkOnHover: false,
            enableChangeLevel: false,
            enableSortItems: false,
//            assignUser: parseInt('{$wa->user()->getId()}'),
            showMessageOnEmptyList: {if $date}false{else}true{/if},
            dueDate: '{if $timestamp}{$timestamp|wa_date}{/if}',
            current_user_id: {$wa->user()->get('id')}
        });
    }());
</script>
