<nav class="pl-inner-sidebar">
    <div data-pl-todo-calendar>
        {$calendar_html}
    </div>
    <a href="#" data-pl-todo-calendar-action="next">туда</a>
    <a href="#" data-pl-todo-calendar-action="prev">сюда</a>
</nav>

<!-- ITEMS -->
<section id="pl-list-todo-items"></section>



<script type="text/javascript">
    (function(){
        var $calendar_wrapper = $('[data-pl-todo-calendar]'),
            month = 0,
            $items_wrapper = $('#pl-list-todo-items');

        $.pocketlists.setTitle('[`To-do stream`]');

        $('[data-pl-todo-calendar-action]').on('click', function (e) {
            e.preventDefault();
            if ($(this).data('pl-todo-calendar-action') === 'next') {
                month++;
            } else {
                month--;
            }

            $.get('?module=todo&action=month&month=' + month, function (html) {
                $calendar_wrapper.html(html);
            });
        });

        var getStream = function (date, filter) {
            $.get('?module=todo&action=date' + (date ? ('&date=' + date) : '') + (filter ? ('&filter=' + filter): ''), function (html) {
                $items_wrapper.html(html);
            });
        };
        getStream();


        $calendar_wrapper
                .on('click', '[data-pl-todo-date]', function () {
                    var $this = $(this),
                        date = $this.data('pl-todo-date');

                    $calendar_wrapper.find('[data-pl-todo-date]').removeClass('pl-selected');
                    $this.addClass('pl-selected');

                    getStream(date);
                })
                .on('mouseenter mouseleave', '[data-pl-todo-date]', function () {
                    var date = $(this).data('pl-todo-date'),
                        $items = $items_wrapper.find('.pl-item-wrapper[data-pl-due-date="' + date + '"]');

                    if ($items.length) {
                        $items.toggleClass('highlighted-background');
                    }
                });

        $items_wrapper.on('click', '[pl-todo-stream="date"] a', function (e) {
            e.preventDefault();
            $calendar_wrapper.find('[data-pl-todo-date]').removeClass('pl-selected');

            getStream();
        });
    }());
</script>
