{$contact = $comment->getContact()}
<div data-pl-comment-id="{$comment->getId()}" {if !empty($comment->getItemId())}data-pl-item-id="{$comment->getItemId()}"{/if}>
    <div class="pl-cue{if $comment->isMy()} pl-my-cue{/if}{if $comment->isRecentlyCreated() && !$comment->isMy()} pl-new-comment{/if}">
        <div class="pl-cue-inner small">
            <div class="pl-bubble">
                {if $contact && $contact->isMe() && $comment->canBeDeleted() && !(isset($archive) && $archive)}<a href="#" class="pl-delete-comment" data-pl-action="comment-delete" title="[`Delete`]"><i class="fas fa-times small"></i></a>{/if}
                {$comment->getCommentParsed()|nl2br|default:''}

            </div><span class="pl-bubble-arrow"></span>

            {if isset($comment_page)}
            <div class="pl-reply-link">
                <a href="#" data-pl-action="comment-reply" class="bold">[`Reply`]</a>
            </div>
            {/if}

            <i class="icon userpic shift-4" style="background-image: url({if $contact}{$contact->getUserpic()})" alt="{$contact->getUsername()|escape}{/if}"></i>
            <span>{if $comment->getContact()}{$comment->getContact()->getUsername()|escape}{/if}</span>

            {if isset($comment_page)}
            [`on`]
            <a href="{if $comment->getListId()}{$wa_app_url}lists/{$comment->getListId()}/{else if $contact}{if $contact->isMe()}todos/{else}user/{$contact->getLogin()}{/if}{/if}task/{$comment->getItemId()}/">{$comment->getItemName()|truncate:64|escape}</a>
            {/if}
            <span class="hint nowrap">{$comment->getCreateDatetime()|wa_datetime:'humandatetime'}</span>
        </div>
    </div>
{*    {if isset($comment_page)}*}
    <div class="pl-reply" style="display:none;">
        <i class="icon userpic" style="background-image: url({$wa->user()->getPhoto(20)})" alt="{$wa->user()->getName()|escape}"></i>
        <textarea rows="1" placeholder="[`Add comment`]"></textarea>
    </div>
{*    {/if}*}
</div>
