<div id="pl-{$app->getApp()}-notice" class="pl-alert" style="display: none;">
    <a href="javascript:void(0)" class="close pl-alert-close bigger">&times;</a>
    <div class="pl-welcome" id="pl-welcome-msg">
        <div class="pl-shopscript"></div>
        <h2>[`Better order processing`]</h2>
        <p>{sprintf('[`Pocket Lists integrates with Shop-Script and allows you to process orders even better: quickly set reminders linked to Shop-Script orders, assign tasks to sales managers, schedule follow-ups for the future. Pocket Lists will gather all such to-dos in one place and ensure you have your sales under complete control. Learn more about <a href="%s" target="_blank">integration with Shop-Script</a>.`]','[`https://www.webasyst.com/store/app/pocketlists/shop-script/`]')}</p>
    </div>
</div>
