<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/pocketlists.css?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}">
    <!--<link href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />-->

    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.history.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js"></script>
    <!-- <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.dialog.js"></script> -->
    <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v=2.0.0"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/jquery.ui.widget.js"></script>
    {if ($wa->locale() == 'ru_RU')}<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-ru_RU.js"></script>{/if}
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.tmpl.min.js"></script>

    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js"></script>

    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-routing.js?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists.js?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-pocket.js?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-list.js?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-item.js?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-comment.js?v2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>

    <script type="text/javascript" src="?action=loc&amp;v=2{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>

    <script type="module" crossorigin src="{$wa_app_static_url}client/assets/index-FBA1Gy56.js"></script>
    <link rel="stylesheet" crossorigin href="{$wa_app_static_url}client/assets/index-AxK0WxBE.css">

    <script>
        window.appState = {
          baseUrl: "{$wa_app_url}",
          apiToken: "8ab3466af6b4275bdf209a843ed7ea93",
          apiBaseUrl: "https://sandbox4000.pocketlists.com/api/v1/",
        }
    </script>
</head>
<body style="background-color: var(--background-color);">
    <div id="wa">
        {$wa->header()}

        <!-- plugin hook: 'backend_head' -->
        {* @event backend_head.%plugin_id% *}
        {if !empty($backend_head)}{foreach $backend_head as $_}{ifset($_)}{/foreach}{/if}

        {if $wa->isSingleAppMode()}
            <div class="hidden">
                {$wa->headerSingleAppUser()}            
            </div>  
        {/if}
                    
        <div id="wa-app">
            <div id="app"></div>
        </div>
    </div>

</body>
</html>
