<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/pocketlists.css">
    <!--<link href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />-->

    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.history.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.dialog.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.datepicker.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js"></script>

    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-routing.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-list.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists-item.js"></script>

</head>
<body>
    <div id="wa">
        {$wa->header()}
        <div id="wa-app">

            <div class="sidebar left200px" data-pl-scroll-to-top id="pl-sidebar-core">
                <div class="block pl-sidebar-core">

                    <!-- CORE FILTERS -->
                    <ul class="menu-v with-icons">
                         <li class="selected">
                             <a href="#/pocket/"><i class="icon16 pl lists"></i>[`Lists`]</a>
                         </li>

                         <li data-pl-sidebar="todo">
                             {if $sidebar_todo_count}<span class="count indicator red">{$sidebar_todo_count}</span>{/if}
                             <a href="#/todo/"><i class="icon16 pl todo"></i>[`To-do`]</a>
                         </li>
                         <li>
                             <a href="#/favorites/"><i class="icon16 star"></i>[`Favorites`]</a>
                         </li>

                         {*
                         <li>
                             <span class="count">2</span>
                             <a href="#tags"><i class="icon16 map"></i>[`Map`]</a>
                         </li>
                         <li>
                             <span class="count">2</span>
                             <a href="#tags"><i class="icon16 tags"></i>[`Tags`]</a>
                         </li>

                         <li>
                             <span class="count">5</span>
                             <a href="#notes"><i class="icon16 edit"></i>[`Notes`]</a>
                         </li>
                         *}

                         <li>
                             <a href="#/team/"><i class="icon16 contact"></i>[`Team`]</a>
                         </li>

                    </ul>

                  </div>

                <div class="hr"></div>
                <div class="block">
                    <ul class="menu-v with-icons">
                         <li>
                             <a href="#/logbook/"><i class="icon16 pl logbook"></i>[`Logbook`]</a>
                         </li>
                         <li>
                             <a href="#/archive/"><i class="icon16 pl archive"></i>[`Archive`]</a>
                         </li>
                         <li>
                             <a href="#/settings/"><i class="icon16 settings"></i>[`Settings`]</a>
                         </li>
                    </ul>
                </div>
            </div>

            <div class="content left200px">
                <div id="content">
                    <i class="icon16 loading"></i>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $.pocketlists.init({
        account_name: '{$wa->accountName()}'
    });
</script>
</body>
</html>
