{if !empty($items)}
{foreach $items as $i}
    <li class="pl-item-wrapper" data-parent-id="{$i.parent_id}">
    <div class="pl-item">
        <a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
        <input type="checkbox" class="pl-done">
        <label>
            <input type="checkbox" class="pl-is-selected">
            {$i.name|escape}
        </label>
    </div>
    {if !empty($i.childs)}
        <ul class="menu-v">
        {include '../item/ItemCreate.html' parent_id=$i.parent_id items=$i.childs inline}
            </ul>
    {/if}
    </li>
{/foreach}
{/if}