<div class="fields form width100px">
<form method="post">
    <input type="hidden" name="item[id]" value="{$item.id}"/>
    <!-- core -->
    <div class="field-group">
        <div class="field">
            <div class="name">[`Title`]</div>
            <div class="value"><input type="text" class="bold large long" name="item[name]" value="{$item.name|escape}" /></div>
        </div>
        <div class="field">
            <div class="name">[`Note`]</div>
            <div class="value"><textarea name="item[note]" placeholder="[`Optional text note`]">{$item.note|escape}</textarea></div>
        </div>
        {*
        <div class="field">
            <div class="name">[`Attachment`]</div>
            <div class="value no-shift"><input name="item[attachment]" type="file" /></div>
        </div>
        *}
    </div>

    <!-- notifications -->
    <div class="field-group">
        {if $item.status == 0}
        <div class="field">
            <div class="name">[`Priority`]</div>
            <div class="value no-shift" id="pl-item-priority">
                <input type="hidden" name="item[priority]" value="{$item.priority|default:0}"/>
                <a href="#" {if $item.priority == 0}class="selected"{/if} data-pl-item-priority="0"><i class="icon16 color pl-white"></i></a>
                <a href="#" {if $item.priority == 1}class="selected"{/if} data-pl-item-priority="1"><i class="icon16 color pl-dark-green"></i></a>
                <a href="#" {if $item.priority == 2}class="selected"{/if} data-pl-item-priority="2"><i class="icon16 color pl-dark-yellow"></i></a>
                <a href="#" {if $item.priority == 3}class="selected"{/if} data-pl-item-priority="3"><i class="icon16 color pl-dark-red"></i></a>

            </div>
        </div>
        <div class="field">
            <div class="name">[`Due`]</div>

            <div class="value">
                <input name="item[due_date]" class="pl-due-date-input" type="text" id="pl-item-due-datetime" value="{$item.due_date|default:''|wa_date}" />
                <a href="#"><i class="icon16 calendar"></i></a>
                <span id="pl-item-due-datetime-time">
                    {$hour = $item.due_datetime|default:''|wa_datetime:'H'}
                    <select name="item[due_datetime_hours]" class="pl-due-date-input" id="pl-item-due-datetime-hours" value="{$hour}" {if empty($item.due_datetime)}style="display: none;" disabled="disabled"{/if}>
                        {for $i=0 to 23}{$h = "%02d"|sprintf:$i}<option value="{$h}" {if $h == $hour}selected="selected"{/if}>{$h}</option>{/for}
                    </select>
                    {$minutes = $item.due_datetime|default:''|wa_datetime:'i'}
                    <select name="item[due_datetime_minutes]" class="pl-due-date-input" type="text" id="pl-item-due-datetime-minutes" value="{$minutes}" {if empty($item.due_datetime)}style="display: none;" disabled="disabled"{/if}>
                        {for $i=0 to 59 step 5}{$m = "%02d"|sprintf:$i}<option value="{$m}" {if $m == $minutes}selected="selected"{/if}>{$m}</option>{/for}
                    </select>
                    <a href="#" id="pl-item-due-datetime-set" class="small" {if !empty($item.due_datetime)}style="display: none;"{/if}>[`Set time`]</a>
                    <a href="#" id="pl-item-due-datetime-clear" class="small" {if empty($item.due_datetime)}style="display: none;"{/if}>[`Clear time`]</a>
                </span>
            </div>
        </div>
        {else}
        <div class="field">
            <div class="value"><p class="hint">[`This item is <strong>marked as completed</strong>. Setting priority and due date won’t be visible within the to-do list.`]</p></div>
        </div>
        {/if}
        {*
        <div class="field">
            <div class="name">[`Repeat`]</div>
            <div class="value no-shift">
                <select name="item[repeat]">
                    <option>[`None`]</option>
                    <option>[`Every Day`]</option>
                    <option>[`Every Week`]</option>
                    <option>[`Every 2 Weeks`]</option>
                    <option>[`Every Month`]</option>
                    <option>[`Every Year`]</option>
                    <option>[`Custom...`]</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="name">[`Location`]</div>
            <div class="value no-shift">
                @ Lumberjack
                <input type="hidden" name="item[location_id]"/>
            </div>
        </div>
        *}
    </div>


    <div class="field-group" id="pl-assigned-contact">
        <div class="field">
            <div class="name">[`Assigned to`]</div>
            <div class="value no-shift">
                <span>
                    <i class="icon16 userpic20" data-pl-contact-id="0" style="{if (!empty($item.assigned_contact_id))}display: none;{/if}"></i>
                    {foreach $contacts as $contact_id => $contact}
                    <i class="icon16 userpic20" style="background-image: url({$contact.userpic}); {if (!empty($item.assigned_contact_id) && $contact_id == $item.assigned_contact_id)}{else}display: none;{/if}" alt="{$contact.username}" data-pl-contact-id="{$contact_id}"></i>
                    {/foreach}
                </span>
                <select name="item[assigned_contact_id]">
                    <option value="0" {if !$item.assigned_contact_id}selected="selected"{/if}>[`Nobody`]</option>
                    {foreach $contacts as $contact_id => $contact}
                    <option value="{$contact_id}" {if isset($item.assigned_contact_id) && $item.assigned_contact_id == $contact_id}selected="selected"{/if}>{$contact.username}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="field">
            <div class="name">[`Created`]</div>
            <div class="value no-shift">
                <i class="icon16 userpic20" style="background-image: url({$item.userpic})" alt="{$item.username}"></i>

                {$item.username}
                <span class="hint">{$item.create_datetime|wa_datetime:'humandatetime'}</span>
            </div>
        </div>
        {if $item.status == 1 && $item.complete_datetime}
            <div class="field">
                <div class="name">[`Completed`]</div>
                <div class="value no-shift">
                    <i class="icon16 userpic20" style="background-image: url({$item.complete_userpic|default:'/wa-content/img/userpic20@2x.jpg'})" alt="{$item.complete_username}"></i>
                    {$item.complete_username|default:''}
                    <span class="hint">{$item.complete_datetime|wa_datetime:'humandatetime'}</span>
                </div>
            </div>
        {/if}
    </div>

    {*
      <div class="field-group" id="pl-assigned-contact">
          <div class="field">
              <div class="name">[`Comments`]</div>
              <div class="value no-shift">

                  <i class="icon16 userpic20" data-pl-contact-id="0" style="{if (!empty($item.assigned_contact_id))}display: none;{/if}"></i>
                  comment
              </div>
          </div>
      </div>
    *}

    <div class="field-group">
        <div class="field">
            <div class="value">

                <div class="float-right block half-padded">
                    <ul class="menu-h ">
                        <li>
                            <a data-pl-action="item-delete" href="#"><i class="icon16 delete"></i>[`Delete to-do`]</a>
                        </li>
                    </ul>
                </div>

                <input type="submit" class="button green" value="[`Save`]"  id="pl-item-details-save"/>
                [`or`]
                <a href="#" id="pl-item-details-cancel">[`cancel`]</a>

                <span class="error" style="display: none;">[`error`]</span>
                <span class="success" style="display: none;">[`saved`]</span>
            </div>
        </div>
    </div>
</form>
</div>
