<div class="pl-item">
    <div class="pl-meta">
        <a href="#" class="pl-favorite"><i class="icon16 star{if empty($item.favorite)}-empty{/if}"></i></a>
        {if $item.status == 1}
            <span class="pl-author" title="{sprintf('[`Completed by %s`]', $item.complete_username|default:'%username%')}">
                {if isset($item.complete_userpic)}
                <i class="icon16 userpic20" style="background-image: url({$item.complete_userpic})" alt="{$item.complete_username}"></i>
                {else}
                <i class="icon16 userpic20"></i>
                {/if}
            </span>
        {else}
            {if !empty($item.assigned_contact_id)}<span class="pl-author" title="{sprintf('[`Assigned to %s`]', {$item.assigned_username})}">
                {if isset($item.assigned_userpic)}
                <i class="icon16 userpic20" style="background-image: url({$item.assigned_userpic})" alt="{$item.assigned_username}"></i>
                {else}
                <i class="icon16 userpic20"></i>
                {/if}
    </span>{/if}
        {/if}
        <a href="#" class="pl-edit inline-link"><b><i>[`Edit`]</i></b></a>
    </div>
    <label class="pl-done-label">
        <input type="checkbox" class="pl-done{if $item.calc_priority == 1} pl-green{elseif $item.calc_priority == 2} pl-yellow{elseif $item.calc_priority == 3} pl-red{/if}" {if $item.status == 1}checked="checked"{/if}{if isset($archive) && $archive == true}disabled{/if}>
        <span></span>
    </label>
    <label class="pl-select-label">
        <input type="checkbox" class="pl-is-selected" {if isset($archive) && $archive == true}disabled{/if}>
        <span class="pl-item-name{if $item.status == 1} gray{/if}">{$item.name|escape|nl2br|default:'&nbsp;'}</span>
        {if $item.status == 1}
            {* completed *}
            <span class="hint">{$item.complete_datetime|wa_datetime:'humandatetime'}</span>
        {else}
            {*if 111 || CREATED_NOT_BY_ME*}
            {if $item.contact_id != $wa->user()->getId()}
        <span class="hint">{sprintf('%s by %s', $item.create_datetime|wa_datetime:'humandatetime', $item.username|default:'%username%')}</span>
            {/if}
            {if !empty($item.note|escape)}<p class="hint">{$item.note|escape|nl2br}</p>{/if}
        {/if}
        {if !empty($item.due_datetime)}
        <br>
        <span class="small bold {if $item.calc_priority == 0}pl-due-someday{elseif $item.calc_priority == 1}pl-due-tomorrow{elseif $item.calc_priority == 2}pl-due-today{elseif $item.calc_priority == 3}pl-due-overdue{/if}">{$item.due_datetime|wa_datetime:'humandatetime'}</span>
        {else if !empty($item.due_date)}
        <br>
        <span class="small bold small bold {if $item.calc_priority == 0}pl-due-someday{elseif $item.calc_priority == 1}pl-due-tomorrow{elseif $item.calc_priority == 2}pl-due-today{elseif $item.calc_priority == 3}pl-due-overdue{/if}">{$item.due_date|wa_date:'humandate'}</span>
        {/if}
    </label>
</div>
