{if empty($item.key_list_id)} {* stating Nov 2018, we don't show lists as items; TODO: clean up .key_list_id check in the code with time *}

<div class="pl-item{if !empty($item.assigned_contact_id) && $item.assigned_contact_id != $wa->user()->getId() && $item.status != 1} pl-item-assigned{/if}{if $item.status == 1} gray{/if}" {if $item.assigned_contact_id}data-pl-assigned-contact="{$item.assigned_contact_id}"{/if}>
    {if !$item.status && empty($item.key_list_id) && !(isset($archive) && $archive)}<div class="pl-item-drag-handle" title="[`Sort`]" data-pl-action="item-sort"></div>{/if}

    {if $item.list_id != NULL}<div class="pl-item-list-name pl-dark-{$item.list_color}-label">{$item.list_name|truncate:32|escape}</div>{/if}

    <div class="pl-meta">
        {if !(isset($archive) && $archive)}
            <a href="#" class="pl-favorite" data-pl-action="item-favorite" title="[`Favorite`]"><i class="icon16 star{if !$item.favorite}-empty{/if}"></i></a>
        {/if}
        {if empty($item.key_list_id)}
            {if $item.status == 1}

                {* COMPLETED BY *}
                <span class="pl-userpic" title="{sprintf('[`Completed by %s`]', $item.complete_contact.username|default:'%username%'|escape)}">
                    {if $item.complete_contact.userpic}
                        <i class="icon16 userpic20" style="background-image: url({$item.complete_contact.userpic})" alt="{$item.complete_contact.username|escape}"></i>
                    {/if}
                </span>

                <span class="pl-lastaction-datetime hint">{$item.complete_datetime|wa_date:'humandatetime'}</span>

            {else}

                <span class="pl-userpic" title="{sprintf('%s by %s', $item.create_datetime|wa_date:'humandatetime', $item.contact.username|default:'%username%'|escape)}">

                    {* AUTHOR / LAST ACTOR *}
                    <i class="icon16 userpic20" style="background-image: url({$item.contact.userpic})" alt="{$item.contact.username|escape}"></i>

                    {* &rarr; ASSIGNED TO *}
                    {if !empty($item.assigned_contact_id) && $item.assigned_contact_id != $item.contact_id}
                         <span class="pl-assignee-arrow">&#9658;</span>
                         <i class="icon16 userpic20" style="background-image: url({$item.assigned_contact.userpic})" alt="{$item.assigned_contact.username|escape}" title="{sprintf('[`Assigned to %s`]', $item.assigned_contact.username|escape)}"></i>
                    {/if}

                </span>

                <span class="pl-lastaction-datetime hint" title="{if !empty($item.update_datetime)}{$item.update_datetime|wa_date:'humandatetime'}{else}{$item.create_datetime|wa_date:'humandatetime'}{/if}">
                    {* TODO: replace with timediff *}
                    {$item.age_time}
                </span>

            {/if}
            {if empty($item.key_list_id) && !(isset($archive) && $archive == true)}<a href="#" class="pl-comment pl-comment-count{if !empty($item.chat.comments)} pl-comment-count-show{/if}" title="[`Comment`]"><i class="icon16 pl comments"></i>{if !empty($item.chat.comments)}{count($item.chat.comments)}{/if}</a>{/if}
        {/if}
    </div>

    <label class="pl-done-label">
        {if !empty($item.key_list_id)}
            <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$item.list_icon|default:'li-list@2x.png'});"></i>
        {else}
            <input type="checkbox" class="pl-done{if isset($item.calc_priority)}{if $item.calc_priority == 1} pl-priority-green{elseif $item.calc_priority == 2} pl-priority-yellow{elseif $item.calc_priority == 3} pl-priority-red{elseif $item.calc_priority == 4} pl-priority-black{elseif $item.calc_priority == 5} pl-priority-fire{/if}{/if}" {if $item.status == 1}checked="checked"{/if}{if isset($archive) && $archive == true}disabled{/if} data-pl2-item-priority="{$item.calc_priority|default:0}">
            <span{if $item.list_color !='none'} class="pl-dark-{$item.list_color}-border"{/if} title="[`Completed`]"></span>
        {/if}
    </label>
    <label class="pl-select-label">{$item.id}
        <input type="checkbox" class="pl-is-selected" {if isset($archive) && $archive == true || !empty($item.key_list_id)}disabled{/if}>
        <span class="pl-item-name{if isset($item.calc_priority) && $item.calc_priority == 5} bold red{/if}">
            {if !empty($item.key_list_id)}
                <a href="#/pocket/{$item.pocket_id}/list/{$item.list_id}/"><strong class="pl-dark-{$item.list_color}-label">{$item.name|default:'&nbsp;'|nl2br}</strong></a>
            {else}
                {* <a href="#" class="pl-label pl-dark-purple">STATUS</a> *}
                {$item.name|default:'&nbsp;'|nl2br}
                {* if $item.list_id == NULL && (empty($item.assigned_contact_id) || $item.assigned_contact_id == $wa->user()->getId())}<i class="icon10 lock-bw" title="[`Only you can see this item`]"></i>{/if *}
            {/if}
        </span>

        {if !(isset($archive) && $archive == true)}
            {* <a href="#" class="pl-edit inline-link"><b><i>[`Edit`]</i></b></a> *}
            <a href="#" class="pl-edit inline-link"><i class="icon16 pl ellipsis"></i></a>
        {/if}

        {if !empty($item.due_datetime)}
            <br>
            <span class="pl-due {if $item.calc_priority == 0}pl-due-someday{elseif $item.calc_priority == 1}pl-due-tomorrow{elseif $item.calc_priority == 2}pl-due-today{elseif $item.calc_priority >= 3}pl-due-overdue{/if}">{$item.due_datetime|wa_date:'humandatetime'}</span>
        {elseif !empty($item.due_date)}
            <br>
            <span class="pl-due {if $item.calc_priority == 0}pl-due-someday{elseif $item.calc_priority == 1}pl-due-tomorrow{elseif $item.calc_priority == 2}pl-due-today{elseif $item.calc_priority >= 3}pl-due-overdue{/if}">{waDateTime::date(waDateTime::getFormat('humandate'), $item.due_date)}</span>
        {/if}

        {if $item.note}<p class="pl-item-note">{$item.note|nl2br}</p>{/if}
        {if $item.attachments}
          <ul class="pl-attachments">
            {foreach $item.attachments as $attachment}
              {if $attachment.filetype == 'image'}<li><a href="{$pl2_attachments_path}/{$item.id}/{$attachment.filename}" target="_blank"><img src="{$pl2_attachments_path}/{$item.id}/{$attachment.filename}"></a></li>
              {else}<li class="pl-no-preview"><a href="{$pl2_attachments_path}/{$item.id}/{$attachment.filename}" target="_blank"><i class="icon16 download"></i>{$attachment.filename|truncate:128}</a></li>
              {/if}
            {/foreach}
          </ul>
        {/if}

        <div data-pl2-item-links>
        {foreach $item->getLinkedEntities() as $linkedEntity}
            <div data-pl2-link-preview>
                {$linkedEntity->renderPreview()}
            </div>
        {/foreach}
        </div>
    </label>
    <div data-pl2-item-details class="pl-item-details"></div>

</div>
<div class="pl-inner-item-add-placeholder"></div>

{/if}
