<div class="pl-comments-form pl-chat" data-pl2-item-id="{$item.id}">
    <div class="pl-chat-title">
        <div class="block"><a href="#" class="pl-item-details-cancel pl-close" title="[`Close`]">&times;</a></div>
    </div>
    <div class="pl-chat-contents">

        {$wa->csrf()}
        <input type="hidden" name="item[id]" value="{$item.id}"/>
        <input type="hidden" id="pl-item-list-id" value="{$item.list_id}"/>

        {foreach $item.chat.comments as $comment}
            {include '../comment/Comment.html' comment=$comment inline}
        {/foreach}

    </div>
    <div class="pl-chat-reply">
        <div class="pl-reply"{if $item.status} style="display:none;"{/if}>
            <i class="icon16 userpic20" style="background-image: url({$item.chat.current_user.userpic})"
               alt="{$item.chat.current_user.username|escape}"></i>
            <textarea rows="1" placeholder="[`Add comment`]"></textarea>
        </div>
    </div>
    <div id="pl-chat-waapps-height-compensation">
    </div>
</div>
