<div class="pl-item">
    <div class="pl-meta">
        {* <a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a> *}
        {if $item.status == 1}
            <span class="pl-author" title="{sprintf('[`Completed by %s`]', $item.complete_username|default:'%username%')}"><i class="icon16 userpic20"></i></span>
        {else}
            {if 1111 || ASSIGNED_TO}<span class="pl-author" title="{sprintf('[`Assigned to %s`]', 'USERNAME')}"><i class="icon16 userpic20"></i></span>{/if}
        {/if}
    </div>
    <label class="pl-done-label">
        <input type="checkbox" class="pl-done{if $item.priority == 1} pl-green{elseif $item.priority == 2} pl-yellow{elseif $item.priority == 3} pl-red{/if}" {if $item.status == 1}checked="checked"{/if}{if isset($archive) && $archive == true}disabled{/if}>
        <span></span>
    </label>
    <label class="pl-select-label">
        <input type="checkbox" class="pl-is-selected" {if isset($archive) && $archive == true}disabled{/if}>
        <span class="pl-item-name">{$item.name|escape}</span>
        {if $item.status == 1}
            {* completed *}
            <span class="hint">{$item.complete_datetime|wa_datetime:'humandatetime'}</span>
        {else}
            {*if 111 || CREATED_NOT_BY_ME*}
            {if $item.contact_id != $wa->user()->getId()}
        <span class="hint">{sprintf('%s by %s', $item.create_datetime|wa_datetime:'humandatetime', $item.username|default:'%username%')}</span>
            {/if}
            {if !empty($item.note|escape)}<p class="hint">{$item.note|escape|nl2br}</p>{/if}
        {/if}
        {if !empty($item.due_datetime)}
        <br>
        <span class="small bold {if $item.due_status == 0}pl-due-someday{elseif $item.due_status == 1}pl-due-tomorrow{elseif $item.due_status == 2}pl-due-today{elseif $item.due_status == 3}pl-due-overdue{/if}">{$item.due_date|wa_datetime:'humandatetime'}</span>
        {else if !empty($item.due_date)}
        <br>
        <span class="small bold small bold {if $item.due_status == 0}pl-due-someday{elseif $item.due_status == 1}pl-due-tomorrow{elseif $item.due_status == 2}pl-due-today{elseif $item.due_status == 3}pl-due-overdue{/if}">{$item.due_date|wa_date:'humandate'}</span>
        {/if}
    </label>
</div>
