<div class="pl-items pl-{$list.color|default:'none'}">
    <header class="pl-list-title pl-title">
        <div class="float-right block half-padded">
            {if isset($list.id)}
            <ul class="menu-h dropdown">
                {if !$archive}
                <li>
                    <a href="#" class="inline-link gray"><b><i>[`More`]</i></b></a>
                    <ul class="menu-v with-icons" style="width: 230px;">
                        {*
                        <li>
                            <a href="#" onClick="alert('Coming soon');"><i class="icon16 link"></i> [`Get public link`]</a>
                        </li>
                        *}
                        <li class="pl-list-sort-dropdown">
                            <a href="#" data-pl-action="list-sort"><i class="icon16 update"></i> [`Sort`]</a>
                        </li>
                        {*
                        <li>
                            <a href="#" onClick="alert('waDialog для ввода email-адреса, куда отправлять список');"><i class="icon16 email"></i> [`Email list`]</a>
                        </li>
                        <li>
                            <a href="#" onClick="alert('открывается новое окно с содержимым данного списка и кнопкой Print. см. как в ШС сделана печать информации о заказе.');"><i class="icon16 print"></i> [`Print list`]</a>
                        </li>
                        *}
                        <li>
                            <a href="#" data-pl-action="list-archive"><i class="icon16 pl archive"></i> [`Archive list`]</a>
                        </li>
                        <li class="bordered-top">
                            <a href="#" onClick="alert('открывается сайдбар с редактированием свойств списка');"><i class="icon16 edit"></i> [`Edit list`]</a>
                        </li>
                        <li>
                            <a href="#" data-pl-action="list-delete"><i class="icon16 delete"></i> [`Delete list`]</a>
                        </li>
                    </ul>
                </li>
                <li class="pl-list-sort">
                    <a href="#" data-pl-action="list-sort"><i class="icon16 update"></i> [`Sort`]</a>
                </li>
                <li>
                    <a href="#" id="pl-item-add-link" class="bold"><i class="icon16 add"></i> [`New to-do`]</a>
                </li>
                {* <li class="pl-list-favorite">
                    <a href="#" data-pl-action="list-favorite"><i class="icon16 star{if !$list.favorite}-empty{/if}"></i></a>
                </li> *}
                {else}
                <li>
                    <a href="#" data-pl-action="list-unarchive" class="bold"><i class="icon16 pl archive"></i> [`Unarchive list`]</a>
                    {*<div class="small hint">[`Acrhived on`] </div>  надо добавить поля в БД *}
                </li>
                <li>
                    <a href="#" data-pl-action="list-delete"><i class="icon16 delete"></i> [`Delete`]</a>
                </li>
                {/if}
            </ul>
            {/if}
        </div>
        <h1>
            <input type="hidden" value="{$list.id|default:-1}" id="pl-list-id">
            {if !$archive}
            <label class="pl-done-label">
                <input type="checkbox" class="pl-done" id="pl-list-complete">
                <span></span>
            </label>
            {/if}
            {if $new && !$archive}
                <input type="text" placeholder="[`New list`]" id="pl-new-list-input" class="bold" />
            {else}
                {if isset($list.pocket_id)}
                <input type="hidden" value="{$list.pocket_id}" id="pl-pocket-id">
                {/if}
                <span id="pl-list-name">{$list.name|escape|default:'&nbsp;'}</span>

                <span class="pl-list-due {if $list.calc_priority == 0}pl-due-someday{elseif $list.calc_priority == 1}pl-due-tomorrow{elseif $list.calc_priority == 2}pl-due-today{elseif $list.calc_priority == 3}pl-due-overdue{/if}" {if empty($list.due_datetime) && empty($list.due_date)}style="display: none;"{/if}>
                {if !empty($list.due_datetime)}
                    {$list.due_datetime|wa_datetime:'humandatetime'}
                {else if !empty($list.due_date)}
                    {$list.due_date|wa_date:'humandate'}
                {/if}
                </span>
            {/if}
        </h1>
    </header>
    <div class="pl-list-items" id="pl-list-items">

        <section id="pl-undone-items">
            <ul class="menu-v">
            {if !empty($items)}
                {include '../item/Item.html' parent_id=0 items=$items}
            {/if}
            </ul>
        </section>

        <!-- completed to-dos log -->
        <section id="pl-complete-log" class="pl-logbook">
            <h5 class="heading">[`Logbook`]</h5>
            <ul class="menu-v">
            {if !empty($items_done)}
                {include '../item/Item.html' items=$items_done}
            {/if}
            </ul>
        </section>

        <a href="#" id="pl-complete-log-link" class="inline-link gray" {if empty($items_done)}style="display:none;"{/if}><b><i>{_w('Show all %d completed to-do', 'Show all %d completed to-dos', $count_items_done)}</i></b></a>
    </div>
    <div class="clear-both"></div>

    {include '../../include/archivelistdialog.html' inline}

    {include '../../include/deletelistdialog.html' inline}

    {include '../../include/deleteitemdialog.html' inline}

    {include '../../include/listdetails.html' inline}

    {include '../../include/itemdetails.html' inline}

    {include '../../include/itemadd.html' inline}
</div>
<script type="text/javascript">
    new $.pocketlists.Items($('#pl-list-items'), {
        enableChangeLevel: false,
        archive: {if $archive}true{else}false{/if},
        list: new $.pocketlists.List(
                $('.pl-list-title'),
                {
                    archive: {if $archive}true{else}false{/if}
                })
    });
    $.pocketlists.setTitle('{if isset($list.name)}{$list.name|escape|default:"&nbsp;"}{else}[`New list`]{/if}');
</script>
