<div class="fields form width100px">
<form method="post">
    <input type="hidden" name="list[id]" value="{$list.id}"/>
    <!-- core -->
    <div class="field-group">
        <div class="field">
            <div class="name">[`Title`]</div>
            <div class="value"><input type="text" class="bold large long" name="list[name]" value="{$list.name|escape}" /></div>
        </div>
        <div class="field" id="pl-list-icon-change">
            <div class="name"><br>[`Icon`]</div>
            <div class="value">
                <input type="hidden" name="list[icon]" value="{$list.icon|default:'li-list@2x.png'}"/>
                <a href="#" class="small"><i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$list.icon|default:'li-list@2x.png'});"></i><br>
                [`Change`]</a>
            </div>
        </div>
        <div class="field" id="pl-list-color">
            <div class="name">[`Color`]</div>
            <div class="value no-shift" id="pl-list-priority">
                <input type="hidden" name="list[color]" value="{$list.color|default:'none'}"/>
                <a href="#" {if $list.color == 'none'}class="selected"{/if} data-pl-list-color="none"><i class="icon16 color white"></i></a>
                <a href="#" {if $list.color == 'red'}class="selected"{/if} data-pl-list-color="red"><i class="icon16 color pl-dark-red"></i></a>
                <a href="#" {if $list.color == 'green'}class="selected"{/if} data-pl-list-color="green"><i class="icon16 color pl-dark-green"></i></a>
                <a href="#" {if $list.color == 'blue'}class="selected"{/if} data-pl-list-color="blue"><i class="icon16 color pl-dark-blue"></i></a>
                <a href="#" {if $list.color == 'yellow'}class="selected"{/if} data-pl-list-color="yellow"><i class="icon16 color pl-dark-yellow"></i></a>
                <a href="#" {if $list.color == 'purple'}class="selected"{/if} data-pl-list-color="purple"><i class="icon16 color pl-dark-purple"></i></a>
            </div>
        </div>
    </div>

    <div class="field-group">
        {*ITEM_WAS_CREATED_BY_SOMEONE_OTHER_THAN_ME*}
        {if $list.contact_id != $wa->user()->getId()}
        <div class="field">
            <div class="name">[`Created`]</div>
            <div class="value no-shift">
                <i class="icon16 userpic20"></i>
                {$list.username}
                <span class="hint">{$list.create_datetime|wa_datetime:'humandatetime'}</span>
            </div>
        </div>
        {/if}
    </div>

    <div class="field-group">
        <div class="field">
            <div class="value">

                <div class="float-right block half-padded">
                    <ul class="menu-h ">
                        <li>
                            <a data-pl-action="list-delete" href="#"><i class="icon16 delete"></i>[`Delete list`]</a>
                        </li>
                    </ul>
                </div>

                <input type="submit" class="button green" value="[`Save`]"  id="pl-list-details-save"/>
                [`or`]
                <a href="#" id="pl-list-details-cancel">[`cancel`]</a>

                <span class="error" style="display: none;">[`error`]</span>
                <span class="success" style="display: none;">[`saved`]</span>
            </div>
        </div>
    </div>
</form>
</div>

<div id="pl-list-icon-dialog" class="dialog large">
    <div class="dialog-background"></div>
    <div class="dialog-window">
        <div class="dialog-content">
            <div class="dialog-content-indent">
                <h1>{$list.name|default:'[`Choose list icon`]'}</h1>
                <ul data-pl-icons-path="{$wa_url}wa-apps/pocketlists/img/listicons/" class="pl-icon-library">
                    {foreach $list_icons as $icon}
                    <li><a href="#" data-pl-list-icon="{$icon}" {if $icon== $list.icon}class="selected" {/if}><i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$icon});"></i></a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                <div class="block">
                    <a class="cancel gray" href="#">[`Cancel`]</a>
                </div>
            </div>
        </div>
    </div>
</div>
