<div class="pl-details-form">
<div class="pl-details-form-container">

    {if pocketlistsRBAC::canAssign()}
    <div class="pl-list-access">

        <a href="#" class="pl-list-details-cancel pl-close" title="[`Close`]">&times;</a>

        <h5 class="heading">[`Access`]</h5>
        {foreach $list_access_contacts as $list_access_contact_id => $list_access_contact}

            <div class="profile image32px">
                <div class="image">
                    <a href="{$wa_backend_url}pocketlists/#/{if $list_access_contact->isMe()}todo{else}team/{$list_access_contact->getLogin()}{/if}/"><img class="userpic" src="{$list_access_contact->getPhotoUrl()}"></a>
                </div>
                <div class="details">
                    <span class="pl-username">
                        <a href="{$wa_backend_url}pocketlists/#/{if $list_access_contact->isMe()}todo{else}team/{$list_access_contact->getLogin()}{/if}/">{$list_access_contact->getUsername()|default:'%username%'|escape} {if $list_access_contact->isMe()}([`me`]){/if}{* if $list_access_contact.id == $list.contact_id} <span class="pl-label pl-hint">[`author`]</span>{/if *}</a>
                        {* if $list_access_contact.status == 'online' && !$list_access_contact.me}
                            <i class="icon10 online" title="[`Online`]"></i>
                        {/if *}
                    </span>
                    <div class="hint">{$list_access_contact->getTeamrole()|escape}</div>
                </div>
            </div>

        {/foreach}
        {if $wa->team}
            <p class="hint">{sprintf('[`Use <a href="%s">Team app</a> to configure access: select a user or a group of users &gt; Access tab &gt; Pocket Lists app &gt; apply the proper access level.`]', $wa_backend_url|cat:'team/')}</p>
        {/if}
    </div>

    <div class="fields form">
    <div class="field-group">
        <div class="field">
            <div class="name">[`List created`]</div>
            <div class="value no-shift">
                <i class="icon16 userpic20"></i>
                {$list->getContact()->getUsername()|escape}
                <span class="hint nowrap">{$list->getCreateDatetime()|wa_datetime:'humandatetime'}</span>
            </div>
        </div>
    </div>
    </div>

    <div class="clear-both"></div>

        {* BEGIN: pl2pro / log *}

            {$_log_dummy = [
                    ['item','complete','vofka','Забрать Алиску из садика','Today 18:00'],
                    ['comment','add','vofka','Ок, забираю на каршеринге','Today 16:10'],
                    ['item','add','vofka','Забрать Алиску из садика','Today 15:00'],
                    ['item','completed','vofka','Винишко','Yesterday 23:00'],
                    ['item','delete','vofka','Пивасик','Yesterday 22:00'],
                    ['list','add','olka','Магазин','Yesterday 15:23']
                ]}

            <div class="pl2pro-log">
                <h5 class="heading">[`List activity`]</h5>
                {foreach $_log_dummy as $l}

                        {* glyph/action_explained factory *}
                        {$_glyph = ''}
                        {if $l[0] == 'comment'}
                            {$_glyph = 'comment'}
                            {if $l[1] == 'add'}
                                {$_action_explained = '%s commented'}
                            {else}
                                {$_action_explained = '%s deleted the comment'}
                            {/if}
                        {else if $l[0] == 'list'}
                            {$_glyph = 'list'}
                            {if $l[1] == 'add'}
                                {$_action_explained = '%s created the list'}
                            {elseif $l[1] == 'delete'}
                                {$_action_explained = '%s deleted the list'}
                            {else}
                                {$_action_explained = '%s updated list details'}
                            {/if}
                        {else}
                            {* item *}
                            {$_glyph = $l[1]}
                            {if $l[1] == 'add'}
                                {$_action_explained = '%s created the to-do'}
                            {elseif $l[1] == 'complete'}
                                {$_action_explained = '%s marked the to-do as completed'}
                            {elseif $l[1] == 'delete'}
                                {$_action_explained = '%s deleted the to-do'}
                            {else}
                                {$_action_explained = '%s edited the to-do'}
                            {/if}
                        {/if}

                        {* style factory *}
                        {if $l[1] == 'delete'}
                            {$_style = 'delete'}
                        {else}
                            {$_style = ''}
                        {/if}

                    <div class="pl2pro-log-record {$_style}">

                        <i class="pl2pro-log-glyph {$_glyph}" title="{sprintf( $_action_explained , $l[2] )}"></i>
                        <i class="pl2pro-log-userpic icon16 userpic20"></i>

                        <span class="pl2pro-log-entity">
                            {$l[3]}
                        </span>

                        <span class="small">{sprintf( $_action_explained , $l[2] )}</span>
                        <span class="hint">{$l[4]}</span>
                    </div>
                {foreachelse}
                    <p>[`No activity logged.`]</p>
                {/foreach}

                <div class="block align-center">
                    <a href="#" class="gray inline-link"><b><i>[`Show more`]</i></b></a>
                </div>

            </div>

        {* END: pl2pro / log *}

    {/if}
</div>
</div>
