<div class="pl-details-form">
<a href="#" class="pl-list-details-cancel pl-close" title="[`Close`]"><i class="fas fa-times"></i></a>
<div class="pl-details-form-container">

    {if pocketlistsRBAC::canAssign()}
    <div class="pl-list-access">

        <h5 class="heading custom-pt-24">[`Access`]</h5>
        <div class="box custom-pt-0">
        {foreach $list_access_contacts as $list_access_contact_id => $list_access_contact}

            <div class="flexbox space-8 custom-mb-12">
                <div class="image">
                    <a href="{$wa_backend_url}pocketlists/#/{if $list_access_contact->isMe()}todo{else}team/{$list_access_contact->getLogin()}{/if}/" class="semibold"><img class="userpic userpic-48" src="{$list_access_contact->getPhotoUrl()}"></a>
                </div>
                <div class="details wide">
                    <span class="pl-username small">
                        <a href="{$wa_backend_url}pocketlists/#/{if $list_access_contact->isMe()}todo{else}team/{$list_access_contact->getLogin()}{/if}/">{$list_access_contact->getUsername()|default:'%username%'|escape} {if $list_access_contact->isMe()}([`me`]){/if}{* if $list_access_contact.id == $list.contact_id} <span class="pl-label pl-hint">[`author`]</span>{/if *}</a>
                        {* if $list_access_contact.status == 'online' && !$list_access_contact.me}
                            <i class="icon10 online" title="[`Online`]"></i>
                        {/if *}
                    </span>
                    <div class="hint">{$list_access_contact->getTeamrole()|escape}</div>
                </div>
            </div>

        {/foreach}
        {if $wa->team}
            <p class="hint">{sprintf('[`Use <a href="%s">Team app</a> to configure access: select a user or a group of users &gt; Access tab &gt; Pocket Lists app &gt; apply the proper access level.`]', $wa_backend_url|cat:'team/')}</p>
        {/if}
        </div>
    </div>

    <div class="box">

        <div class="fields vertical small">
            <div class="field">
                <div class="name">[`List created`]</div>
                <div class="value">
                    <i class="icon16 userpic20"></i>
                    {$list->getContact()->getUsername()|escape}
                    <span class="hint nowrap">{$list->getCreateDatetime()|wa_datetime:'humandatetime'}</span>
                </div>
            </div>
        </div>

        <!-- plugin hook: 'backend_list_accesses' -->
        {* @event backend_list_accesses.%plugin_id% *}
        {if !empty($backend_list_accesses)}{foreach $backend_list_accesses as $_}{ifset($_)}{/foreach}{/if}

    </div>

    {/if}
</div>
</div>
