<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <form method="post">

            <div class="dialog-content">

                <h1>[`Email list`]</h1>

                {if !empty($list)}<input type="hidden" name="mail[list_id]" value="{$list->getId()}">{/if}
                <div class="fields vertical">
                    <div class="field">
                        <div class="name">[`To`]</div>
                        <div class="value">
                            <input type="email" placeholder="email@address" name="mail[to]" class="long bold"
                                   value="{$email}"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Subject`]</div>
                        <div class="value">
                            <input type="text" value="{strip}
                            {if !empty($list)}
                                {$list->getNameParsed()}
                            {elseif !empty($favorite)}
                                [`Favorites`]
                                {if !empty($date)} - {$date|wa_date:'humandate'}{/if}
                            {elseif !empty($date)}
                                {$date|wa_date:'humandate'}
                            {elseif !empty($teammate)}
                                {$teammate}
                            {else}
                                [`My to-dos`] - {$smarty.now|wa_datetime:'humandate'}
                            {/if}
                            {/strip}" name="mail[subject]" class="long bold"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Message`]</div>
                        <div class="value">
                            <textarea name="mail[body]" class="width-100 small"
                                      style="height: 170px;">{foreach $items as $item}&#9679; {$item->getName()}
{foreachelse}[`No to-dos :)`]
                                {/foreach}

via Pocket Lists</textarea>
                            {*include '../item/ItemEmail.html' items=$items*}
                        </div>
                    </div>
                </div>
            </div>

            <footer class="dialog-footer">
                <input type="submit" value="[`Send`]" class="button">
                <a class="cancel button light-gray" href="#">[`Cancel`]</a>
            </footer>

        </form>

    </div>
</div>
