{if isset($list.id) && $print}
<html>
<head>
    <title>{$list.name} &mdash; {$wa->accountName()}</title>
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/pocketlists-print.css">
</head>
<body>
{/if}

<nav class="pl-inner-sidebar" data-pl="uho">

</nav>

<main id="pl-list-content" class="pl-list-content">

    <div class="pl-inner-content pl-items shadowed pl-{$list.color|default:'none'}">
    <header class="pl-list-title pl-title">
        {if !$print}
        <div class="float-right block half-padded">
            {if isset($list.id)}
            <ul class="menu-h dropdown">
                {if !$archive}
                <li>
                    <a href="javascript:void();" class="inline-link gray"><b><i>[`List`]</i></b></a>
                    <ul class="menu-v with-icons" style="width: 230px;">
                        {*
                        <li>
                            <a href="#" onClick="alert('Coming soon');"><i class="icon16 link"></i> [`Get public link`]</a>
                        </li>
                        *}

                        <li class="pl-list-access">
                            <h5 class="heading">[`Access rights`]</h5>
                            {foreach $list_access_contacts as $list_access_contact_id => $list_access_contact}
                            <img src="{$list_access_contact.userpic}" title="{$list_access_contact.username|escape}" alt="{$list_access_contact.username|escape}">
                            {/foreach}
                            <p class="hint">[`Use Contacts app to customize access rights for pockets.`]</p>
                        </li>

                        <li class="pl-list-sort-dropdown bordered-top">
                            <a href="#" data-pl-action="list-sort"><i class="icon16 update"></i> [`Sort`]</a>
                        </li>

                        <li class="bordered-top">
                            <a href="#" data-pl-action="list-email"><i class="icon16 email"></i> [`Email list`]</a>
                        </li>
                        <li>
                            <a href="?module=list&amp;id={$list.id}&amp;print=true" target="_blank"><i class="icon16 print"></i> [`Print list`]</a>
                        </li>

                        <li>
                            <a href="#" data-pl-action="list-archive"><i class="icon16 pl archive"></i> [`Archive list`]</a>
                        </li>
                        <li class="bordered-top">
                            <a href="#" data-pl-action="list-edit"><i class="icon16 edit"></i> [`Edit list`]</a>
                        </li>
                        <li>
                            <a href="#" data-pl-action="list-delete"><i class="icon16 delete"></i> [`Delete list`]</a>
                        </li>
                    </ul>
                </li>
                <li class="pl-list-sort">
                    <a href="#" data-pl-action="list-sort"><i class="icon16 update"></i> [`Sort`]</a>
                </li>
                <li class="pl-list-favorite">
                    <a href="#" data-pl-action="list-favorite"><i class="icon16 star{if !$list.favorite}-empty{/if}"></i></a>
                </li>
                {else}
                <li>
                    <a href="#" data-pl-action="list-unarchive" class="bold"><i class="icon16 pl archive"></i> [`Unarchive list`]</a>
                </li>
                <li>
                    <a href="#" data-pl-action="list-delete"><i class="icon16 delete"></i> [`Delete`]</a>
                </li>
                {/if}
            </ul>
            {/if}
        </div>
        {/if}
        <h1>
            <input type="hidden" value="{$list.id|default:-1}" id="pl-list-id">
            {if !$archive}
            <label class="pl-done-label">
                <input type="checkbox" class="pl-done" id="pl-list-complete"{if $print} disabled="disabled"{/if}>
                <span></span>
            </label>
            {/if}
            {if $new && !$archive}
                <input type="text" placeholder="[`New list`]" id="pl-new-list-input" class="bold" />
            {else}
                <span id="pl-list-name">{$list.name|default:' '|escape}</span>

                <span class="pl-list-due {if $list.calc_priority == 0}pl-due-someday{elseif $list.calc_priority == 1}pl-due-tomorrow{elseif $list.calc_priority == 2}pl-due-today{elseif $list.calc_priority == 3}pl-due-overdue{/if}" {if empty($list.due_datetime) && empty($list.due_date)}style="display: none;"{/if}>
                {if !empty($list.due_datetime)}
                    {$list.due_datetime|wa_datetime:'humandatetime'}
                {else if !empty($list.due_date)}
                    {$list.due_date|wa_date:'humandate'}
                {/if}
                </span>
            {/if}
        </h1>
    </header>
    <div class="pl-list-items" id="pl-list-items">

        <section id="pl-undone-items" data-pl-items="undone">
            <ul class="menu-v">
            {if !empty($items)}
                {include '../item/Item.html' parent_id=0 items=$items}
            {/if}
            </ul>
        </section>

        <!-- completed to-dos log -->
        <section id="pl-complete-log" class="pl-logbook">
            <h5 class="heading">[`Logbook`]</h5>
            <ul class="menu-v">
            {if !empty($items_done)}
                {include '../item/Item.html' items=$items_done}
            {/if}
            </ul>
        </section>

        <a href="#" id="pl-complete-log-link" class="inline-link gray" {if empty($items_done)}style="display:none;"{/if}><b><i>{_w('Show all %d completed to-do', 'Show all %d completed to-dos', $count_items_done)}</i></b></a>
    </div>
    <div class="clear-both"></div>

    {if !$print}

    {include '../../include/archivelistdialog.html' inline}

    {include '../../include/deletelistdialog.html' inline}

    {include '../../include/listdetails.html' inline}

    {include '../../include/itemdetails.html' inline}

    {include '../../include/itemadd.html' inline}

    {/if}
</div>

</main>

{if isset($list.id) && $print}
<div class="pl-print-button">
<button onclick="window.print();">[`Print`]</button>
</div>
</body>
</html>
{else}
<script type="text/javascript">
    new $.pocketlists.Items($('#pl-list-items'), {
        enableChangeLevel: false,
        archive: {if $archive}true{else}false{/if},
        list: new $.pocketlists.List(
                $('.pl-list-title'),
                {
                    archive: {if $archive}true{else}false{/if}
                }),
        current_user_id: {$wa->user()->get('id')}
    });
    $.pocketlists.setTitle('{if isset($list.name)}{$list.name|default:" "|escape}{else}[`New list`]{/if}');
</script>
{/if}
