{if isset($list.id) && $print}
<html>
<head>
    <title>{$list.name} &mdash; {$wa->accountName()}</title>
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/pocketlists-print.css">
</head>
<body>
    <div class="pl-print-button">
        <button onclick="window.print();">[`Print`]</button>
    </div>
{/if}

{if !$print && isset($list.id) && $list.id > 0}
{include '../../include/listiconsdialog.html' inline}
{/if}

<main id="pl-list-content" class="pl-list-content">

    <div class="pl-items">
        <header class="pl-list-title pl-title">
            <input type="hidden" name="pocket_id" value="{$pocket->pk}">

            {if !$new && !$archive}
                {if pocketlistsRBAC::canAssign()}
                    <div class="float-right">
                        <a data-pl-action="list-edit" href="#" class="pl-userpic-bundle" data-pl2-list-edit-action="accesses">
                            {$max_visible_in_bundle = 5}
                            {foreach $list_access_contacts as $list_access_contact_id => $list_access_contact}
                                {if $list_access_contact@iteration > $max_visible_in_bundle}{break}{/if}
                                <i class="userpic" style="background-image: url('{$list_access_contact.photo_url}');" title="{$list_access_contact.name|escape}"></i>
                            {/foreach}
                            {if count($list_access_contacts) > $max_visible_in_bundle}
                                <i class="userpic" title="{$list_access_contact.name|escape}"><span>+{count($list_access_contacts) - $max_visible_in_bundle}</span></i>
                            {/if}
                        </a>
                        <a data-pl-action="list-edit" href="#" class="pl-list-details-helper" data-pl2-list-edit-action="details"><i class="icon16 pl ellipsis"></i></a>
                    </div>
                {/if}
            {/if}

            <h1>
                <input type="hidden" value="{$list.id|default:-1}" id="pl-list-id">

                {if $new && !$archive}
                    <input type="text" placeholder="{sprintf('[`List #%d`]', $new_list_id)}" id="pl-new-list-input" class="bold" />
                {else}
                    <span id="pl-list-name"{if isset($list.color) && {$list.color}!='none'} class="pl-dark-{$list.color}-label"{/if}>{$list.name|default:' '|escape}</span>
                {/if}
            </h1>
        </header>
        <div class="pl-list-items" id="pl-list-items">

            <section id="pl-undone-items" data-pl-items="undone">
                <ul class="menu-v">
                {if !empty($items)}
                    {include '../item/Item.html' parent_id=0 items=$items}
                {/if}
                </ul>
            </section>

            <!-- completed to-dos log -->
            <section id="pl-complete-log" class="pl-logbook">
                <h5 class="heading">[`Logbook`]</h5>
                <ul class="menu-v">
                {if !empty($items_done)}
                    {include '../item/Item.html' items=$items_done}
                {/if}
                </ul>
            </section>

            <a href="#" id="pl-complete-log-link" class="inline-link gray" {if empty($items_done)}style="display:none;"{/if}><b><i>{_w('Show all %d completed to-do', 'Show all %d completed to-dos', $count_items_done)}</i></b></a>
        </div>
        <div class="clear-both"></div>

        {if !$print}

            {include '../../include/archivelistdialog.html' inline}
            {include '../../include/deletelistdialog.html' inline}
            {include '../../include/itemadd.html' inline}

        {/if}
    </div>
    {include '../../include/listdetails.html' inline list_access_contacts=$list_access_contacts}
    {*{include '../../include/itemdetails.html' inline}*}
    {include '../../include/itemcomments.html' inline}
</main>

{if isset($list.id) && $print}
</body>
</html>
{else}
<script type="text/javascript">
    new $.pocketlists.Items($('#pl-list-items'), {
        enableChangeLevel: false,
        archive: {if $archive}true{else}false{/if},
        list: new $.pocketlists.List(
                $('.pl-list-title'),
                {
                    archive: {if $archive}true{else}false{/if}
                }),
        current_user_id: {$wa->user()->get('id')},
        fileUpload: {$fileupload}
    });
    $.pocketlists.setTitle('{if isset($list.name)}{$list.name|default:" "|escape}{else}[`New list`]{/if}');
</script>
{/if}
