<div class="shadowed">

    <main class="block double-padded">

        <article class="pl-upgrade-content align-center">

            <h1>[`All-new Pocket Lists`]</h1>
            <p>[`Switch to the new UI mode to get started.`]</p>
            <a href="javascript:void(0);" class="button green" onclick="_setCookie('force_set_wa_backend_ui_version', '2.0', 365); window.location.reload();">[`Launch new Pocket Lists`]</a>

        </article>

        <div class="clear-both"></div>

    </main>

</div>

<script type="text/javascript">
    (function(){
        $.pocketlists.setTitle($_('All-new Pocket Lists'));
    }());
</script>
