<div class="shadowed">
    <nav class="sidebar left300px">

        <!-- POCKET -->
        <div class="pl-pocket">
            <a href="#/pocket/{$pocket.id}/list/new" class="count" title="[`New list`]">
                <i class="icon16 pl add"></i>
            </a>
            <ul class="menu-h dropdown">
                <li>
                    <input type="hidden" id="pl-pocket-id" value="{$pocket.id}"/>
                    <h5><a href="#/pocket/{$pocket.id}/">{$pocket.name}{if count($pockets)}{if 111}<span class="indicator red">2</span>{/if} <i class="icon16 pl darr"></i>{/if}</a></h5>
                    {if count($pockets)}
                    <ul class="menu-v with-icons">
                        {foreach $pockets as $p}
                        <li class="{if $pocket.id == $p.id}selected{/if}">
                            {if isset($p.indicator) && $p.indicator.count}<span class="count indicator {$p.indicator.color}">{$p.indicator.count}</span>{/if}
                            <a href="#/pocket/{$p.id}/"><i class="icon16 color {$p.class|default:''}"></i>{$p.name|escape|default:''}</a>
                        </li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
            </ul>
        </div>

        <!-- LISTS -->
        <div class="pl-inner-sidebar" id="pl-lists">
            <ul class="pl-lists">
                {foreach $lists as $l}
                <li class="pl-{$l.color|default:'none'}" data-pl-list-id="{$l.id}">
                    <a href="#/pocket/{$pocket.id}/list/{$l.id}/">
                        {if isset($l.indicator) && $l.indicator.count || !empty($l.amount)}<span class="count {if $l.indicator.color}indicator {$l.indicator.color}{/if}">{if !empty($l.amount)}{$l.amount} <span class="ruble">Р</span>{else}{$l.indicator.count}{if !empty($l.indicator.lock)} <i class="icon16 lock-bw"></i>{/if}{/if}</span>{/if}
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$l.icon|default:'li-list@2x.png'});"></i> {$l.name}
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>

        {*<div class="pl-inner-sidebar">
            <ul class="pl-lists">
                <li class="pl-red">
                    <a href="#">
                        <span class="count">14</span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-award@2x.png);"></i> Goals
                    </a>
                </li>
                <li class="selected pl-blue">
                    <a href="#">
                        <span class="count indicator red">5130 <span class="ruble">Р</span></span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-grocery@2x.png);"></i> Groceries
                    </a>
                </li>
                <li class="pl-green">
                    <a href="#">
                        <span class="count indicator red">2</span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-books@2x.png);"></i> Books to read
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="count indicator yellow">10</span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-travel@2x.png);"></i> Places to visit
                    </a>
                </li>
                <li class="pl-yellow">
                    <a href="#">
                        <span class="count indicator green">2</span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-flag-eu@2x.png);"></i> Europe trip
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="count">2</span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-video@2x.png);"></i> Movies to watch
                    </a>
                </li>
                <li class="pl-purple">
                    <a href="#">
                        <span class="count indicator yellow">5</span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-lock@2x.png);"></i> Party secret list
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="count">2 <i class="icon16 lock-bw"></i></span>
                        <i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-gift@2x.png);"></i> Gift list
                    </a>
                </li>
            </ul>
        </div>*}

    </nav>

    <!-- ITEMS -->
    <main class="content left300px blank bordered-left pl-items pl-blue" id="pl-list-content">
        <i class="icon16 loading"></i>
    </main>

</div>

<script text="text/javascript">
    (function () {
        var last_pocket_list_id = {$last_pocket_list_id};
        if (last_pocket_list_id) {
            $.wa.setHash('#/pocket/' + last_pocket_list_id.pocket_id + '/list/' + last_pocket_list_id.list_id + '/');
        }
    }());
</script>
