<div class="shadowed">
    <nav class="sidebar left300px">

        <!-- LISTS -->
        <div id="pl-lists" data-pl-scroll-to-top>
            <div class="pl-lists-header">
                <a href="#/pocket/{$pocket->pk}/list/new/" class="count" title="[`New list`]"><i class="icon16 add"></i></a>
                <h5 class="pl-dark-{$pocket->color|default:'none'}-label">
                    {$pocket->name|escape}
                    <a href="#" title="[`Pocket settings`]"><i class="icon16 pl ellipsis pl-pocket-settings"></i></a>
                </h5>
            </div>
            {if !empty($lists)}
                <ul class="pl-lists">
                    {foreach $lists as $l}
                        <li data-pl-list-id="{$l->pk}">
                            <a href="#/pocket/{$pocket->pk}/list/{$l->pk}/"{if $l->pk == $list_id} class="pl-is-selected"{/if}>
                                <span class="count{if $l->calc_priority == 1} indicator green{elseif $l->calc_priority == 2} indicator yellow{elseif $l->calc_priority == 3} indicator red{/if}">{$l->count}</span>
                                <i class="listicon36"
                                   style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$l->icon|default:'li-list@2x.png'});"></i>
                                <span class="pl-list-name pl-dark-{$l->color|default:'none'}-label">{$l->name|escape}</span>
                            </a>
                        </li>
                    {/foreach}
                </ul>
            {else}
                <div class="block double-padded align-center pl-lists-empty">
                    <p>[`This pocket is empty. Start by creating a to-do list.`]</p>
                </div>
            {/if}
            <!-- <a href="#/pocket/{$pocket->pk}/list/new/" class="pl-lists-add">
                <i></i>
                <span>[`New list`]</span>
            </a> -->
        </div>

    </nav>

    <!-- ITEMS -->
    <main class="content left300px blank bordered-left" id="pl-list-content">
        {$lists_html|default:""}
    </main>

</div>
<script>
    (function () {
        var $lists_wrapper = $('#pl-lists').find('.pl-lists');
        $lists_wrapper.sortable({
            item: '[data-pl-list-id]',
            distance: 5,
            placeholder: 'pl-list-placeholder',
            tolerance: 'pointer',
            start: function (e, ui) {
                ui.placeholder.height(ui.helper.outerHeight());
            },
            stop: function (event, ui) {
                var getLists = function () {
                    var data = [];
                    $lists_wrapper.find('[data-pl-list-id]').each(function (i) {
                        var $this = $(this),
                            color = $this.attr('class').match(/pl-(.*)/);
                        data.push({
                            id: $this.data('pl-list-id'),
                            sort: i,
                            color: color[1]
                        });
                    });
                    return data;
                };

                var updateSort = function () {
                    $.post(
                        '?module=list&action=sort',
                        {
                            data: getLists()
                        },
                        function (r) {
                            if (r.status === 'ok') {
                            } else {
                                alert(r.errors);
                            }
                        },
                        'json'
                    );
                };

                updateSort();
            }
        });
    }());
</script>
