<div id="pl-dialog-list-archive-complete-all" style="display: none;">
    <div class="dialog-content">
        <h1>[`List completed`]</h1>
        <p>[`You can either automatically complete all to-do items on this list and continue adding new items, or archive this list to hide it until you need it some day in the future.`]</p>
    </div>
    <div class="dialog-buttons">
        <input type="button" value="[`Mark all to-dos as completed`]" class="button green" data-pl-action="list-complete-all" />
        <input type="button" value="[`Archive list`]" class="button yellow" data-pl-action="list-archive" />
        <a href="#" data-pl-action="cancel" class="button light-gray">[`Cancel`]</a>
    </div>
</div>
