<div id="pl-dialog-delete-list-confirm" style="display: none;">
    <form action="post">
        <div class="dialog-content">
            <h1><i class="fas fa-exclamation-triangle text-red fa-xs"></i> {$list->getName()|truncate:32|default:'[`Delete list`]'|escape}</h1>
            <p>[`All to-do items (either completed or not) will be deleted permanently.`]</p>
        </div>
        <div class="dialog-buttons">
            <input type="submit" value="[`Delete list`]" class="button red" />
            <a class="cancel button light-gray" href="#">[`Cancel`]</a>
        </div>
    </form>
</div>
