<div id="pl-item-add">
    <div class="pl-item">
        {* <div class="pl-meta">
        <a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
    </div> *}
        <label class="pl-done-label">
            <input type="checkbox" disabled="disabled" class="pl-done">
            <span></span>
        </label>
        <label class="pl-select-label">
            <input type="checkbox" class="pl-is-selected">
            <textarea rows="1" placeholder="[`New to-do`]"></textarea>
            {if !isset($stream_list)}<i class="icon16 lock-bw"></i>{/if}
        </label>
    </div>
</div>
