<div id="pl-list-icon-dialog" class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header"><h1>{$list->getName()|default:'[`Choose list icon`]'|escape}</h1></header>
        <div class="dialog-content">
            <div class="dialog-content-indent">
                <div data-pl-icons-path="{$wa_url}wa-apps/pocketlists/img/listicons/" class="pl-icon-library">
                    {foreach $list_icons as $group => $icons}
                        {if $group}<h5 class="heading">{$group}</h5>{/if}
                        <ul>
                            {foreach $icons as $group => $icon}
                                <li>
                                    <a href="#" data-pl-list-icon="{$icon}"
                                       {if $icon== $list->getIcon()}class="selected" {/if}><span class="icon size-32"><i
                                                                                        style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$icon});"></i></span></a>
                                </li>
                            {/foreach}
                        </ul>
                    {/foreach}
                </div>
            </div>
        </div>
        <footer class="dialog-footer">
            <div class="dialog-buttons-gradient">
                <div class="block">
                    <a class="cancel gray" href="#">[`Cancel`]</a>
                </div>
            </div>
        </footer>
    </div>
</div>
