<!-- ITEMS -->
<section id="pl-list-todo-items" class="wide">
    <main class="blank pl-inner-content pl-items pl-list-items pl-todo" id="pl-list-content">
    <div class="pl-pseudo-article">
        <header class="pl-title">
            <h1 class="not-padded">
                {$app->getName()} <i class="icon16 loading"></i>
            </h1>
        </header>
    </div>
    </main>
</section>

<nav class="pl-inner-sidebar" data-pl="uho">
    <div data-pl-todo-calendar>
        {$calendar_html}
    </div>
</nav>

<script type="text/javascript">
    (function(){
        // $.pocketlists.initNotice('#pl-stream-notice');

        var $calendar_wrapper = $('[data-pl-todo-calendar]'),
            month = 0,
            $items_wrapper = $('#pl-list-todo-items');

        $.pocketlists.setTitle('[`My to-dos`]');

        $('[data-pl-todo-calendar-action]').on('click', function (e) {
            e.preventDefault();
            if ($(this).data('pl-todo-calendar-action') === 'next') {
                month++;
            } else {
                month--;
            }

            $.get('?module=app&action=month&app={$app->getApp()}&month=' + month, function (html) {
                $calendar_wrapper.html(html);
            });
        });

        var getStream = function (date, filter) {
            $.get('?module=app&action=date&app={$app->getApp()}' + (date ? ('&date=' + date) : '') + (filter ? ('&filter=' + filter): ''), function (html) {
                $items_wrapper.html(html);
            });
        };
        getStream();


        // var setPrintLink = function (date) {
        //     var $print_link = $calendar_wrapper.find('[data-pl-action="list-print"]'),
        //         href = $print_link.attr('href'),
        //         new_href = href.replace(/&date=.*$/, '&date=' + (date ? date : ''));
        //
        //     $print_link.attr('href', new_href);
        // };

        $calendar_wrapper
            .on('click', '[data-pl-todo-date]', function () {
                var $this = $(this),
                    date = $this.data('pl-todo-date');

                $calendar_wrapper.find('[data-pl-todo-date]').removeClass('pl-selected');
                $this.addClass('pl-selected');

                // setPrintLink(date);
                getStream(date);
            })
            .on('mouseenter', '[data-pl-todo-date]', function () {
                var date = $(this).data('pl-todo-date'),
                    $items = $items_wrapper.find('.pl-item-wrapper[data-pl-due-date="' + date + '"]');
                if ($items.length) {
                    $items.addClass('highlighted-background');
                }
            })
            .on('mouseleave', '[data-pl-todo-date]', function () {
                var date = $(this).data('pl-todo-date'),
                    $items = $items_wrapper.find('.pl-item-wrapper[data-pl-due-date="' + date + '"]');
                if ($items.length) {
                    $items.removeClass('highlighted-background');
                }
            });

        $items_wrapper.on('click', '[pl-todo-stream="date"] a', function (e) {
            e.preventDefault();
            $calendar_wrapper.find('[data-pl-todo-date]').removeClass('pl-selected');

            // setPrintLink();
            getStream();
        });

        // $('[data-pl="uho"]').on('click', '[data-pl-action="list-email"]', function (e) {
        //     e.preventDefault();
        //     e.stopPropagation();
        //     var date = $('.pl-selected[data-pl-todo-date]').length ? $('.pl-selected[data-pl-todo-date]').data('pl-todo-date') : 'today';
        //     $('<div>').waDialog({
        //         'url': '?module=list&action=emailDialog&date=' + date,
        //         onLoad: function () {
        //         },
        //         onSubmit: function (d) {
        //             var $this = $(this);
        //
        //             $this.after($.pocketlists.$loading);
        //             $.post('?module=list&action=email', $this.serialize(), function(r) {
        //                 $.pocketlists.$loading.remove();
        //                 if (r.status === 'ok') {
        //                     d.trigger('close');
        //                 }  else {
        //                     alert(r.errors);
        //                 }
        //             }, 'json');
        //             return false;
        //         },
        //         onClose: function () {
        //             this.remove();
        //         }
        //     });
        // });
    }());
</script>
