{include inline file='./includes/Header.inc.html'}

{if $complete}
{sprintf('[`%s has just completed <strong>%s</strong>`]', $item.contact_name|escape,  $item.name|escape)}
{else}
{sprintf('[`The following to-do has just been uncompleted and rolled back to active status: <strong>%s</strong>`]', $item.name|escape)}
{/if}
<br>
<br>
{*if ITEM BELONGS TO SOME LIST*}
{if $list.id}
{if $n > 0}
<em>{sprintf('[`Just %d more items left on <a href="%s">%s</a>`]', $n, $backend_url|cat:$list.url, $list.name|escape:'html')}</em>
{else}
<em>{sprintf('[`Woohoo, <a href="%s">%s</a> to-do list has been completed :)`]', $backend_url|cat:$list.url, $list.name|escape:'html')}</em>
{/if}
<br>
<br>
{/if}
--<br>
{$default.account_name|escape}<br>
<a href="{$backend_url}{$default.email_settings_url}" style="color:#aaa;">[`Manage my subscription`]</a>

{include inline file='./includes/Footer.inc.html'}
