{sprintf('[`Hi %s,`]', $name|escape)}
<br>
<br>
{sprintf('[`Here is your <a href="%s">daily recap</a> for %s:`]', $backend_url|cat:'#/todo/', $now|wa_date:'humandate')}
<br><br>
{foreach $items as $item}
{$format = 'humandate'}
{if $item->getDueDatetime()}{$format = 'humandatetime'}{/if}
&#9898; {sprintf('[`<strong>%s</strong> on %s`]', $item->getNameParsed()|nl2br, $item->getDueDatetime()|default:$item->getDueDate()|wa_datetime:$format:$timezone)}<br>
{/foreach}
<br>
--<br>
{$wa->accountName()}<br>
<a href="{$backend_url}{$email_settings_url}" style="color:#aaa;">[`Manage my subscription`]</a>
