{include inline file='./includes/Header.inc.html'}

{sprintf('[`Hi %s,`]', $name|escape)}
<br>
<br>
{sprintf('[`Here is your <a href="%s">daily recap</a> for %s:`]', $backend_url|cat:'#/todo/', $now|wa_date:'humandate')}
<br><br>
{foreach $items as $item}
{$format = 'humandate'}
{if $item.due_datetime}{$format = 'humandatetime'}{/if}
{$item.icon} {sprintf('[`<strong>%s</strong> on <em>%s</em>`]', $item.name_parsed|nl2br, $item.due_datetime|default:$item.due_date|wa_datetime:$format:$timezone)}<br>
{/foreach}
<br>
--<br>
{$default.account_name}<br>
<a href="{$backend_url}{$default.email_settings_url}" style="color:#aaa;">[`Manage my subscription`]</a>

{include inline file='./includes/Footer.inc.html'}