{include inline file='./includes/Header.inc.html'}

{if $list.id}{sprintf('[`%s assigned you to a to-do on <a href="%s">%s</a>`]', $by_username|escape, $backend_url|cat:$list.url, $list.name_parsed)}
{else}{sprintf('[`%s sent you <a href="%s">a new to-do</a>`]', $by_username|escape, $backend_url|cat:'#/todo/')}
{/if}
<br><br>
<strong>{$item.icon} {$item.name_parsed|nl2br}</strong>
<br>
{if $due_date}<em>[`Due`]: {$due_date}</em><br>{/if}
<br>
--<br>
{$default.account_name}<br>
<a href="{$backend_url}{$default.email_settings_url}" style="color:#aaa;">[`Manage my subscription`]</a>

{include inline file='./includes/Footer.inc.html'}