{include inline file='./includes/Header.inc.html'}

{sprintf('[`%s commented on <a href="%s">%s</a>`]', $by_username|escape, $backend_url|cat:$list.url, $item.name|escape|truncate:64)}
<br>
<blockquote style="background: #def; padding: 10px; border-radius: 5px; border: 1px solid #bce; margin-left: 0; display: inline-block;">
{$comment.name_parsed|nl2br}
</blockquote>
<br>
--<br>
{$default.account_name}<br>
<a href="{$backend_url}{$default.email_settings_url}" style="color:#aaa;">[`Manage my subscription`]</a>

{include inline file='./includes/Footer.inc.html'}