<div class="shadowed">
    <main class="content pl-items pl-favorites" id="pl-list-content">

        <header class="pl-title">
            <h1 class="not-padded">
                [`Favorites`]
            </h1>
        </header>

        <div class="pl-list-items" id="pl-list-items">
            <div class="pl-empty-list" id="pl-empty-list-msg" {if !empty($undone_items)}style="display:none;"{/if}>
            <div class="pl-jumbodone" title="[`Your favorites list is empty`]"></div>
            <h2>[`Your favorites list is empty`]</h2>
            <p>[`Click on a tiny star icon next to to-do name to add it to your personal favorties list.`]</p>
        </div>

        <section id="pl-undone-items" data-pl-items="undone">
            <ul class="menu-v">
                {if !empty($undone_items)}
                {include '../item/Item.html' parent_id=0 items=$undone_items}
                {/if}
            </ul>
        </section>

        <section id="pl-complete-log" class="pl-logbook">
            <h5 class="heading">[`Logbook`]</h5>
            <ul class="menu-v">
                {if $count_done_items}
                {include '../item/Item.html' parent_id=0 items=$done_items}
                {/if}
            </ul>
        </section>

        <a href="#" id="pl-complete-log-link" class="inline-link gray" {if !$count_done_items}style="display:none;"{/if}><b><i>{_w('Show all %d completed to-do', 'Show all %d completed to-dos', $count_done_items)}</i></b></a>

        <div class="clear-both"></div>

        {include '../../include/itemadd.html' inline}

        {include '../../include/itemdetails.html' inline}
    </main>
</div>

<script type="text/javascript">
    (function(){
        new $.pocketlists.Items($('#pl-list-items'), {
            enableAddLinkOnHover: false,
            enableChangeLevel: false,
            enableSortItems: false,
            showMessageOnEmptyList: true,
            filter: 'favorites',
            current_user_id: {$wa->user()->get('id')}
        });
    }());
</script>
