<div class="shadowed">
    <main class="content pl-items pl-logbook" id="pl-list-content">
    {if !empty($items)}
        <div class="pl-list-items" id="pl-complete-log" style="display: block;" data-pl-items="undone">
            <ul class="menu-v">
                {include '../item/Item.html' items=$items}
            </ul>
        </div>
    {else}
        <div class="pl-welcome top-padded bottom-padded">
            <div class="pl-jumbodone" title="[`To-do stream is empty`]"></div>
            <h2>[`Logbook is empty`]</h2>
            <p>[`Logbook will automatically collect all to-do items completed by you and your teammates.`]</p>
        </div>
    {/if}

    <div class="clear-both"></div>

    {include '../../include/itemdetails.html' inline}

    </main>
</div>
<script type="text/javascript">
    new $.pocketlists.Items($('#pl-list-content'), {
        enableAddLinkOnHover: false,
        enableChangeLevel: false,
        enableSortItems: false,
        current_user_id: {$wa->user()->get('id')}
    });
    $.pocketlists.setTitle($_('Logbook'));
</script>
