<div class="shadowed">
    <main class="content pl-items pl-logbook" id="pl-list-content">
    {if !empty($items)}
        <div class="pl-list-items" id="pl-complete-log" style="display: block;">
            <ul class="menu-v">
                {include '../item/Item.html' items=$items}
            </ul>
        </div>
    {else}
        <div class="pl-empty-list top-padded">
            <div class="pl-jumbodone" title="[`To-do stream is empty`]"></div>
            <h2>[`Logbook is empty`]</h2>
            <p>[`Logbook will automatically collect all to-do items completed by you and your teammates.`]</p>
        </div>
    {/if}
    </main>
</div>
<script type="text/javascript">
    new $.pocketlists.Items($('#pl-list-content'), {
        enableAddLinkOnHover: false,
        enableChangeLevel: false,
        enableSortItems: false
    });
    $.pocketlists.setTitle($_('Logbook'));
</script>
