<div class="shadowed">
    <main class="content pl-items pl-logbook" id="pl-list-content">
    {if !empty($items)}
        <div class="pl-list-items" id="pl-list-items">
            <ul class="menu-v">
            {foreach $items as $i}
                <li class="pl-item-wrapper" data-id="{$i.id}" data-parent-id="{$i.parent_id}">
                    {include '../item/ItemData.html' item=$i archive=true inline}
                </li>
            {/foreach}
            </ul>
        </div>
    {else}
        <div class="pl-empty-list">
            <div class="pl-jumbodone" title="[`To-do stream is empty`]"></div>
            <h2>[`Logbook is empty`]</h2>
            <p>[`Logbook will automatically collect all to-do items completed by you and your teammates.`]</p>
        </div>
    {/if}
    </main>
</div>
<script type="text/javascript">
    new $.pocketlists.Items($('#pl-list-items'), {
        enableAddLinkOnHover: false,
        enableChangeLevel: false,
        enableSortItems: false
    });
    $.pocketlists.setTitle($_('Logbook'));
</script>
