{* BEGIN: pl2pro / board *}

{function name=__pl2dummyitems completed_only=0}
{strip}
                <ul class="pl-roadmap">
                    {if $completed_only}
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            Совместная работа со списками дел в экосистеме Webasyst
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            Парсер умного ввода даты и времени («сделать завтра в 10»)
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            <strong>Интеграция с Shop-Script</strong>
                            <span class="hint">Связь задач Pocket Lists с заказами Shop-Script</span>
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            Проекты и гибкая настройка доступа для сотрудников
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            Поиск задач
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            Интеграция с приложением «Команда»
                        </li>

                    {else}

                        <li>
                            <input type="checkbox" class="pl-done pl-priority-fire"><span></span>
                            Продвинутая интеграция с Shop-Script<br>
                            <span class="hint">Автоматическая постановка задач ответственным сотрудникам при выполнении действий с заказами в Shop-Script</span>
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            История действий: подробный список всего, что делала ваша команда<br>
                            <span class="hint">По проектам, по спискам, по пользователям</span>
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Статусы задач
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Agile: просмотр задач в виде колонок по статусам
                        </li>


                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Интеграция CRM, «Задачами» и другими приложениями Webasyst
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Виджет «Мои задачи» для дешборда и Webasyst TV
                        </li>


                        <li>
                            <input type="checkbox" class="pl-done pl-priority-yellow"><span></span>
                            <strong>Rest API</strong>
                            <strong class="hint">Середина 2019</strong>
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done pl-priority-yellow"><span></span>
                            <strong>Интеграция Pocket Lists для Webasyst и iOS</strong>
                        </li>

                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Повторяющиеся задачи
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Подзадачи
                        </li>

                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Разделители / заголовки внутри списков
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done pl-priority-green"><span style="margin-bottom: 2rem;"></span>
                            Pocket Lists для Android<br>
                            <span class="hint">Пока не знаем когда. Но планируем заняться приложением для Android сразу после того, как основные планы по разработке для iOS будут выполнены.</span>
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            Профит!
                        </li>
                    {/if}
                </ul>
{/strip}
{/function}


<div class="shadowed">

    <main class="block double-padded" style="position: relative;">

        <!-- <h1>[`All pockets`]</h1> -->
        <h1><a href="#" class="back">&larr; [`All pockets`]</a> <span class="pl-dark-green-label">Shop-Script</span></h1>

        {$_status_config = [
                [ 'Backlog', 'aaaaaa', 75 ],
                [ 'To do', '46c7fc', 47 ],
                [ 'In progress', '328532', 33 ],
                [ 'Testing', 'ffc600', 12 ]
            ]}

        <div class="pl2pro-board">
            {foreach $_status_config as $s}
            <div class="pl2pro-column">
                <div class="pl2pro-column-header" style="border-color: #{$s[1]}; color: #{$s[1]};">
                    <span class="count">{$s[2]}</span>
                    <h5><i class="icon16 color" style="background-color: #{$s[1]};"></i> {$s[0]}</h5>
                </div>
                <div class="pl2pro-column-items">
                    {__pl2dummyitems}
                </div>
            </div>
            {/foreach}
            <div class="pl2pro-column">
                <div class="pl2pro-column-header gray">
                    <span class="count">921</span>
                    <h5><input type="checkbox" class="pl-done" checked="checked"><span></span> [`Done`]</h5>
                </div>
                <div class="pl2pro-column-items">
                    {__pl2dummyitems completed_only=1}
                </div>
            </div>
        </div>
        <div class="pl2pro-board-scroll-helper"></div>

        <div class="clear-both"></div>

    </main>

</div>

{* END: pl2pro / board *}
