<div class="shadowed">

    <main class="block double-padded">

        <div class="fields">

            <div class="field-group">
              {if $wa->user()->isAdmin('installer')}
              <div class="field">
                <div class="name nowrap">
                  [`Rate`]
                </div>
                <div class="value">
                    <a href="{$wa_backend_url}installer/store/app/pocketlists/reviews/" class="bold large">
                        [`Rate on Webasyst Installer`]
                        &nbsp;<i class="icon10 star"></i><i class="icon10 star"></i><i class="icon10 star"></i><i class="icon10 star"></i><i class="icon10 star"></i>
                    </a>
                </div>
                <div class="value">
                    <p class="hint">[`<strong>Your feedback is very important!</strong> Please rate Pocket Lists and write a short review about your experience of using the app. Reviews (both positive and negative) really help us to see what is most useful in the app so we can continue delivering new features the right way.`]</p>
                    <p><a href="[`https://www.webasyst.com/store/app/pocketlists/`]" target="_blank"><img src="{$wa_url}wa-apps/pocketlists/img/badge-webasyst.png" class="pl-badge-appstore"></a></p>
                </div>
              </div>
              {/if}
              <div class="field">
                <div class="name nowrap">
                  [`Support`]
                </div>
                <div class="value no-shift">
                    <a href="mailto:hello@pocketlists.com">
                        hello@pocketlists.com
                    </a>
                    <p class="hint">[`We speak English and Russian.`]</p>
                </div>
              </div>
              <div class="field">
                <div class="name nowrap">
                  [`GitHub`]
                </div>
                <div class="value no-shift">
                    <a href="https://github.com/vofka/pl2webasyst/" target="_blank">
                        https://github.com/vofka/pl2webasyst/
                    </a>
                    <br><br>
                </div>
                <div class="value no-shift">
                    <hr>
                </div>
              </div>
            </div>

            <div class="field-group">
              <div class="field">
                <div class="name">
                  [`About`]
                </div>
                <div class="value">
                    <p>
                        [`Pocket Lists for Webasyst is an important part of the bigger <a href="https://pocketlists.com" target="_blank"><strong>PocketLists.com project</strong></a> — a suite of apps that are aimed to provide the friendliest to-do list making & collaboration experience.`]
                        [`Pocket Lists is <strong>mostly known for its iOS app</strong> (iPhone, iPad, Apple Watch) designed for personal list making. Get Pocket Lists on the App Store for free.`]
                    </p>

                    <p><a href="[`http://itunes.apple.com/us/app/pocket-lists-2/id1272049520?mt=8`]" target="_blank"><img src="{$wa_url}wa-apps/pocketlists/img/badge-appstore.png" class="pl-badge-appstore"></a></p>

                    <p>[`With Pocket Lists for Webasyst, our goal is to deliver the best of the Pocket Lists world to the Webasyst collaborative environment and to make the teamwork and collaboration on tasks expectionally easy and friendly.`]</p>

                    {if !$wa->user()->isAdmin('installer')}

                        <p><a href="[`https://www.webasyst.com/store/app/pocketlists/`]" target="_blank"><img src="{$wa_url}wa-apps/pocketlists/img/badge-webasyst.png" class="pl-badge-appstore"></a></p>

                    {/if}
                </div>
              </div>
              <div class="field">
                <div class="name">
                  [`Roadmap`]
                </div>
                <div class="value">
                    <p>[`We have big plans for both iOS and Webasyst apps, and here is the summary of what we are keen to be integrating into Pocket Lists for Webasyst anytime soon (a draft plan):`]</p>
                    <ul class="pl-roadmap">
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            [`Bring the shared to-do list functionality into Webasyst`]
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            [`Natural input ('... tomorrow 10am') parser`]
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            <strong>[`Integrate with Shop-Script`]</strong>
                            <span class="hint">[`The ability to create to-dos linked with orders`]</span>
                        </li>
                        <li class="gray">
                            <input type="checkbox" class="pl-done" checked="checked"><span></span>
                            [`Multiple pockets and sophisticated access rights management`]
                        </li>


                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`Integration with Webasyst Team and Tasks apps`]
                        </li>
                        {* <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`Better Shop-Script integration`]<br>
                            <span class="hint">[`Automated to-do creation based on order statuses`]</span>
                        </li> *}
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`“My To-dos” widget for the dashboard and Webasyst TV`]
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`To-do search`]
                        </li>


                        <li>
                            <input type="checkbox" class="pl-done pl-priority-yellow"><span></span>
                            <strong>[`Rest API`]</strong>
                            <strong class="hint">[`Mid 2019`]</strong>
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done pl-priority-yellow"><span></span>
                            <strong>[`Integrate Pocket Lists for Webasyst and iOS`]</strong>
                            <strong class="hint">[`Mid 2019`]</strong>
                        </li>

                        {* <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`Repeating to-dos`]
                        </li> *}
                        {* <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`Subtasks`]
                        </li> *}
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`Headings / dividers (sublists)`]
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done pl-priority-green"><span style="margin-bottom: 2rem;"></span>
                            [`Pocket Lists for Android`]<br>
                            <span class="hint">[`Someday. The real ETA depends on the availability of development resources which are now focused mostly on iOS.`]</span>
                        </li>
                        <li>
                            <input type="checkbox" class="pl-done"><span></span>
                            [`Profit!`]
                        </li>
                    </ul>
                </div>
              </div>

              <div class="field-group">
                <div class="field">
                  <div class="name">
                    [`Copyright`]
                  </div>
                  <div class="value">
                      <span class="gray">&copy;</span> <a href="https://1312.io" target="_blank">1312 Inc.</a>
                  </div>
                </div>
              </div>


            </div>

        </div>

        <div class="clear-both"></div>

    </main>

</div>

<script type="text/javascript">
    (function(){
        $.pocketlists.setTitle($_('About'));

        $('.pl-roadmap li .pl-done + span').click(function(){
            alert( $_('We wish we could implement new features that easy :)') );
        });
    }());
</script>
