<div class="block">

    <h1>[`Latest discussions`]</h1>

    <div class="pl-chat">
        <div class="pl-cue pl-new-comment" data-pl-comment-id="88">
            <div class="pl-cue-inner">
                <div class="pl-bubble">
                3) Reference: подробное техническое описание, как пользоваться инструментом. Очень важно, что его можно (и интересно) читать от начала до конца, как книгу. Я частенько скачиваю такие вещи в офлайн и читаю с телефона в метро. Хороший мануал читается по нескольку раз, плохой не дочитывается до конца.
    <br><br>
    4) Раздел Getting Started. Как развернуть у себя инструмент на компе и начать работать. Абсолютно необходимая вещь - быстро выполнять куски кода и смотреть результат. У них это REPL, у нас - приложение Разработчик. Очень важно пропогандировать его использование везде и всюду, вкупе с функциями вывода инфы типа wa_dump(). Это лучший способ уменьшить порог вхождения.
    <br><br>
    5) У них в Clojure есть Online REPL: возможность выполнять куски кода прямо на сайте в браузере. Это ещё больше уменьшает порог вхождения. Но я не могу представить, как это безопасно реализовать на уровне PHP. Может, когда-нибудь придумаем с админами.
                </div>

                <div class="float-right">
                    <a href="#" class="bold">[`Reply`]</a>
                </div>

                <i class="icon16 userpic20" style="background-image: url(/wa-content/img/userpic20@2x.jpg)" alt="USERNAME"></i> USERNAME
                on
                <a href="#">ITEMNAME</a>
                <span class="hint nowrap">Сегодня 17:43</span>
            </div>
        </div>

    </div>

    <div class="pl-chat">
        <div class="pl-cue pl-new-comment" data-pl-comment-id="88">
            <div class="pl-cue-inner">
                <div class="pl-bubble">
                1) Текст на главной чётко описывает, что это такое. Используются ёмкие технические термины, никакой воды.
<br><br>
2) Текст на странице Rationalle на ту же тему, но более подробен. Из него становится понятно, зачем это всё нужно и кому; какие задачи ставили перед собой разработчики инструмента и чем руководствовались, принимая те или иные решения в разработке.
                </div>

                <div class="float-right">
                    <a href="#" class="bold">[`Reply`]</a>
                </div>

                <i class="icon16 userpic20" style="background-image: url(/wa-content/img/userpic20@2x.jpg)" alt="USERNAME"></i> USERNAME
                on
                <a href="#">ITEMNAME</a>
                <span class="hint nowrap">Сегодня 17:31</span>
            </div>
        </div>

    </div>



    <div class="pl-chat">
        <div class="pl-cue" data-pl-comment-id="88">
            <div class="pl-cue-inner">
                <div class="pl-bubble">
                    Gaston forever!!!!
                </div>

                <div class="float-right">
                    <a href="#" class="bold">[`Reply`]</a>
                </div>

                <i class="icon16 userpic20" style="background-image: url(/wa-content/img/userpic20@2x.jpg)" alt="alice"></i> alice
                on
                <a href="#">Watch some cartoons</a>
                <span class="hint nowrap">2 февраля 2017 17:31</span>
            </div>
        </div>

    </div>

    <div class="pl-chat">
        <div class="pl-cue pl-my-cue" data-pl-comment-id="88">
            <div class="pl-cue-inner">
                <div class="pl-bubble">
                                aergearg
                    <!-- <span class="pl-bubble-arrow"></span> -->
                </div>
                <i class="icon16 userpic20" style="background-image: url(/wa-content/img/userpic20@2x.jpg)" alt="Владимир Владимирович Тупоршин"></i> Владимир Владимирович Тупоршин
                <span class="hint nowrap">2 февраля 2017 17:31</span>
            </div>
        </div>

    </div>

</div>
