<div id="pl-dialog-delete-item-confirm" style="display: none;">
    <form action="post">
        <div class="dialog-content">
            <h1>{$item->getName()|truncate:32|default:'[`Delete to-do`]'|escape}</h1>
            <p><i class="icon16 exclamation"></i>[`Item will be deleted permanently without the ability to restore. Are you sure?`]</p>
        </div>
        <div class="dialog-buttons">
            <input type="submit" value="[`Delete item`]" class="button red" /> [`or`] <a class="cancel" href="#">[`cancel`]</a>
        </div>
    </form>
</div>
