<div class="shadowed">
    <nav class="sidebar left300px">

        <!-- TEAM -->
        <div class="pl-inner-sidebar">

            {if count($teammates)}
            <ul class="zebra pl-team">
                {foreach $teammates as $teammate}
                <li {if $teammate.id == $current_teammate.id}class="selected"{/if} data-pl-team-id="{$teammate.id}">
                    <a href="#/team/{$teammate.login}">
                        <div class="profile image50px">
                            <div class="image">
                                <img class="userpic" src="{$teammate.photo_url}">
                            </div>
                            <div class="details">
                                {if $teammate.item_count}
                                <span class="count indicator red">{$teammate.item_count}</span>
                                {/if}

                                <span class="large nowrap">{$teammate.name|default:'%username%'}</span>

                                <div class="pl-active-items small black">{$teammate.item_names|escape}</div>
                                <span class="hint">{$teammate.last_activity|wa_date:'humandatetime'|default:sprintf('[`No to-dos have been assigned to %s yet`]',$teammate.name|default:'%username%')}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {/foreach}
            </ul>
            {else}
            <p class="hint">[`Invite your teammates to collaborate simply by granting access to Pocket Lists app in <strong>Contacts app</strong>.`]</p>
            {/if}

            {*(тут показываются все пользователи, у которых есть доступ к приложению; order by last_activity_datetime)<br><br>
            себя показывать не надо.<br><br>
            если в команде никого нет, то какая-нибудь надпись [`Invite your teammates to collaborate simply by granting access to Pocket Lists app in <strong>Contacts app</strong>.`]*}

        </div>

    </nav>

    <!-- ITEMS -->
    <main class="content left300px blank bordered-left pl-items pl-blue" id="pl-list-content">

        <header class="pl-title">
            <div class="float-right block half-padded">
                <ul class="menu-h">
                    <li>
                        <a href="#" id="pl-item-add-link"><i class="icon16 add"></i> [`Add to-do`]</a>
                    </li>
                </ul>
            </div>
            <h1 class="not-padded">
                {$current_teammate.name|default:'&nbsp;'}
            </h1>
            <input type="hidden" id="pl-assigned-contact-id" value="{$current_teammate.id}"/>
        </header>

        <div class="pl-list-items" id="pl-list-items">
            <div class="align-center" id="pl-empty-list-msg" {if !empty($items)}style="display:none;"{/if}>
                <img class="userpic" src="{$current_teammate.photo_url}">
                <h3>[`{$current_teammate.name}'s to-do list is empty.`]</h3>
                <p>[`There are no to-dos assigned to {$current_teammate.name}. To assign a to-do iteam, either @mention user when adding a to-do, or select in to-do details.`]</p>
            </div>

            <section id="pl-undone-items">
                <ul class="menu-v">
                    {if !empty($items)}
                    {include '../item/ItemCreate.html' parent_id=0 items=$items}
                    {/if}
                </ul>
            </section>

            <!-- completed to-dos log -->
            <section id="pl-complete-log" class="pl-logbook" style="display: block;">
                <h5 class="heading">[`Logbook`]</h5>
                <ul class="menu-v">
                    {if !empty($items_done)}
                    {include '../item/ItemCreate.html' items=$items_done}
                    {/if}
                </ul>
            </section>

        </div>
        <div class="clear-both"></div>

        {include '../../include/deleteitemdialog.html' inline}

        {include '../../include/itemdetails.html' inline}

        {include '../../include/itemadd.html' inline}

        {*в этом списке показываются:<br>
        — сначала все активные айтемы, назначенные на данного пользователя (assigned_contact_id == CONTACT_ID)<br>
        — ниже серым (как в списке) все выполненные данным пользователем айтемы (тут уже без требования назначенности; просто все, что данный пользователь зачекал complete_contact_id == CONTACT_ID — надо добавить такое поле в таблицу айтемов, если его там еще нет)
        <br><br>
        все айтемы сортированы, как в потоке: по приоритету + дате.<br>
        создание нового айтема в этом списке автоматически назначает его на этого пользователя*}

    </main>

</div>

<script text="text/javascript">
    var $all_items_wrapper = $('#pl-list-items');

    new $.pocketlists.Items($all_items_wrapper, {
        enableAddLinkOnHover: false,
        enableChangeLevel: false,
        enableSortItems: false,
        assignUser: parseInt($('#pl-assigned-contact-id').val()),
        showMessageOnEmptyList: true
    });
    $.pocketlists.setTitle('{$current_teammate.name}');
</script>
