<div class="shadowed">

    {if empty($teammates)}

        <main class="content pl-items" id="pl-list-content">
            <div class="pl-empty-list top-padded" id="pl-empty-list-msg">
            <img class="userpic" src="{$current_teammate.photo_url}" alt="{$current_teammate.name}" title="{$current_teammate.name}" />
            <h2>[`Invite your teammates!`]</h2>
            <p>[`Use <strong>Contacts app</strong> to add your teammates to Pocket Lists and to start collaborating on to-do lists together.`]</p>
        </main>

    {else}

    <nav class="sidebar left300px">

        <!-- TEAM -->
        <div class="pl-inner-sidebar">

            <ul class="zebra pl-team" id="pl-lists">
                {foreach $teammates as $teammate}
                <li {if $teammate.id == $current_teammate.id}class="selected"{/if} data-pl-team-id="{$teammate.id}" data-pl-list-id="{$teammate.id}">
                    <a href="#/team/{$teammate.login}">
                        <div class="profile image50px">
                            <div class="image">
                                <img class="userpic" src="{$teammate.photo_url}">
                            </div>
                            <div class="details">

                                <span class="count{if $teammate.items_info.max_priority == 1} indicator green{elseif $teammate.items_info.max_priority == 2} indicator yellow{elseif $teammate.items_info.max_priority == 3} indicator red{/if}">{$teammate.items_info.count}</span>

                                <span class="pl-username">
                                    {$teammate.name|default:'%username%'|escape}
                                    <span class="bold">
                                        {if $teammate.status == 'online'}
                                            <i class="icon10 online" title="[`Online`]"></i>
                                        {/if}
                                    </span>
                                </span>

                                <div class="pl-active-items">{$teammate.items_info.names|escape}</div>

                            </div>
                        </div>
                    </a>
                </li>
                {/foreach}
            </ul>

        </div>

    </nav>

    <!-- ITEMS -->
    <main class="content left300px blank bordered-left pl-items pl-teammate-items" id="pl-list-content">

        <header class="pl-title">
            <div class="float-right block half-padded">
                <ul class="menu-h">
                    <li>
                        <a href="#" id="pl-item-add-link"><i class="icon16 add"></i> [`New to-do`]</a>
                    </li>
                </ul>
            </div>
            <input type="hidden" id="pl-list-id" value="{$current_teammate.id}"/>
            <h1 class="not-padded">
                {$current_teammate.name|default:' '|escape}
            </h1>
            <input type="hidden" id="pl-assigned-contact-id" value="{$current_teammate.id}"/>
        </header>

        <div class="pl-list-items" id="pl-list-items">
            <div class="pl-empty-list" id="pl-empty-list-msg" {if !empty($items)}style="display:none;"{/if}>
                <img class="userpic" src="{$current_teammate.photo_url}" alt="{$current_teammate.name|escape}" title="{$current_teammate.name|escape}" />
                <h2>{sprintf('[`%s’s to-do list is empty`]',$current_teammate.name|escape)}</h2>
                <p>[`To assign a to-do to a user, either select him in to-do item details or add a to-do item above.`]</p>
            </div>

            <section id="pl-undone-items">
                <ul class="menu-v">
                    {if !empty($items)}
                    {include '../item/Item.html' parent_id=0 items=$items}
                    {/if}
                </ul>
            </section>

            <!-- completed to-dos log -->
            <section id="pl-complete-log" class="pl-logbook">
                <h5 class="heading">[`Logbook`]</h5>
                <ul class="menu-v">
                    {if !empty($items_done)}
                    {include '../item/Item.html' items=$items_done}
                    {/if}
                </ul>
            </section>

            <a href="#" id="pl-complete-log-link" class="inline-link gray" {if !$count_done_items}style="display:none;"{/if}><b><i>{_w('Show all %d completed to-do', 'Show all %d completed to-dos', $count_done_items)}</i></b></a>

        </div>
        <div class="clear-both"></div>

        {include '../../include/itemadd.html' inline}

        {include '../../include/itemdetails.html' inline}

    </main>
    {/if}

</div>

<script text="text/javascript">
    var $all_items_wrapper = $('#pl-list-items');

    new $.pocketlists.Items($all_items_wrapper, {
        enableAddLinkOnHover: false,
        enableChangeLevel: false,
        enableSortItems: false,
        assignUser: parseInt($('#pl-assigned-contact-id').val()),
        showMessageOnEmptyList: true,
        list: new $.pocketlists.List($('.pl-title')),
        current_user_id: {$wa->user()->get('id')}
    });
    $.pocketlists.setTitle('{$current_teammate.name|escape}');
</script>
