<main data-pl="comments" class="content">
    <div class="pl-pseudo-article">
    <header class="pl-title">
        <h1>[`Comments`]</h1>

        {if $comments}
        <div class="pl-chat" data-pl-comments="latest-discussions">
        {foreach $comments as $comment}
            {include '../comment/Comment.html' comment=$comment comment_page=true inline}
        {/foreach}
        </div>
        {else}
            <p class="pl-disclaimer">[`<strong>No comments yet.</strong> This page will display a plain list of all to-do item comments posted by you and your teammates. Keep track on this page to make sure not to miss a single discussion.`]</p>
        {/if}
    </header>
    <div class="block lazyloading" style="display: none;">
        [`Loading...`] <i class="fas fa-spinner wa-spinner-rotating"></i>
    </div>
    </div>
</main>

<script>
    'use strict';
    (function () {
        new $.pocketlists.Comments($('[data-pl="comments"]'), {
            lazy: true
        });
    }());
</script>
