<section>
    <div class="dialog-content">
        <div data-pl2-wrapper="pocket-settings-dialog">

            <input type="hidden" name="pocket[id]" value="{$pocket->getId()|default:0}"/>

            {if $pocket->getId()}
                <h1>{$pocket->getName()|default:'[`(unnamed pocket)`]'|escape|truncate:32}</h1>
            {else}
                <h1>[`New pocket`]</h1>
            {/if}

            <div class="fields form">
                <div class="field-group">
                    <div class="field">
                        <div class="name nowrap">
                            [`Pocket name`]
                        </div>
                        <div class="value">
                            <input type="text" class="large bold" name="pocket[name]"
                                   value="{$pocket->getName()|escape}"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name nowrap">
                            [`Color`]
                        </div>
                        <div class="value no-shift" id="pl-pocket-color">
                            <input type="hidden" name="pocket[color]" value="{$pocket->getColor()}"/>
                            {foreach pocketlistsStoreColor::getColors() as $color => $name}
                                <a href="#" {if $pocket->getColor() == $color}class="selected"{/if}
                                   data-pl-pocket-color="{$color}"><i
                                            class="icon16 color pl-dark-{$color}"></i></a>
                            {/foreach}
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            [`Access rights`]
                        </div>
                        <div class="value no-shift">
                            <p class="hint">{sprintf('[`Use <a href="%s">Team app</a> to configure access: select a user or a group of users &gt; Access tab &gt; Pocket Lists app &gt; apply the proper access level.`]', $wa_backend_url|cat:'team/')}</p>
                        </div>
                    </div>

                </div>

                <!-- plugin hook: 'backend_pocket_dialog' -->
                {* @event backend_pocket_dialog.%plugin_id% *}
                {if !empty($backend_pocket_dialog)}{foreach $backend_pocket_dialog as $_}{ifset($_)}{/foreach}{/if}

            </div>
        </div>
    </div>

    <div class="dialog-buttons">
        {if $pocket->getId()}
            <div class="block half-padded float-right">
                <ul class="menu-h">
                    <li>
                        <a href="#" data-pl2-action="delete-pocket"><i class="icon16 delete"></i> [`Delete pocket`]</a>
                    </li>
                </ul>
            </div>
        {/if}
        <input type="submit" value="[`Save`]" class="button green"/> [`or`] <a class="cancel" href="#">[`cancel`]</a>
    </div>
</section>
