<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/pocketlists.css">
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists.js"></script>

</head>
<body>
    <div id="wa">
        {$wa->header()}
        <div id="wa-app">
        
            <div class="sidebar left200px">
                <div class="block double-padded pl-sidebar-core">
                    <ul class="menu-v with-icons">
                         <li class="selected">
                             <a href="#"><i class="icon16 status-blue-tiny" onClick="alert('с полным рефрешем страницы');"></i>Personal</a>
                         </li>
                         <li>
                             <span class="count indicator red">1</span>
                             <a href="#" onClick="alert('с полным рефрешем страницы');">
                             	<i class="icon16 status-green-tiny"></i>Errands
                             </a>
                         </li>
                         <li>
                             <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 status-red-tiny"></i>Msk</a>
                         </li>
                         <li>
                             <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 status-yellow-tiny"></i>Krasnodar</a>
                         </li>
                    </ul>
                </div>
                <div class="block pl-sidebar-cling">
                    
                    <ul class="menu-v with-icons">
                         <li class="selected">
                             <span class="count">3</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 cheatsheet"></i>[`Lists`]</a>
                         </li>
                         
                         <li>
                             <span class="count">0</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 userpic20"></i>[`Assigned to me`]</a>
                         </li>
                         <li>
                             <span class="count">5</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 yes-bw"></i>[`Reminders`]</a>
                         </li>
                         <li>
                             <span class="count">0</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 star"></i>[`Favorites`]</a>
                         </li>
                         <li>
                             <span class="count">2</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 tags"></i>[`Tags`]</a>
                         </li>
                         
                         <li>
                             <span class="count">4</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 contact"></i>[`Team`]</a>
                         </li>
                    </ul>
                </div>
                <div class="block double-padded">
                    <ul class="menu-v with-icons">
                         <li>
                             <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 archive"></i>[`Archive`]</a>
                         </li>
                         <li>
                             <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 settings"></i>[`Settings`]</a>
                         </li>
                         <li class="small top-padded">
                             <a href="#" onClick="alert('диалог, как в приложении Сайт');"><i class="icon10 add"></i>[`New pocket`]</a>
                         </li>
                    </ul>
                </div>
            </div>
            
            <div class="content left200px">
                <div id="content">
                    <div class="shadowed">
                    	<nav class="sidebar left250px">
                    		<h5 class="heading block">
                    			<a href="#" class="count" title="[`New list`]">
                    				<i class="icon16 add"></i>
                    			</a>
		                    	1312
		                    </h5>
                    		<ul class="menu-v with-icons stack">
                    			<li>
                    				<a href="#">
                    					<span class="count">14</span>
                    					<i class="icon16 clapperboard"></i> Movies to watch
                    				</a>
                    			</li>
                    			<li class="selected">
                    				<a href="#">
                    					<span class="count">5</span>
                    					<i class="icon16 cart"></i> Groceries
                    				</a>
                    			</li>
                    			<li>
                    				<a href="#">
                    					<span class="count indicator red">2</span>
                    					<i class="icon16 books"></i> Books to read
                    				</a>
                    			</li>
                    		</ul>
                    	</nav>
                    	<main class="content left250px blank bordered-left">
	                    	<header class="pl-list-title">
	                    		<div class="float-right block half-padded">
	                    			<ul class="menu-h">
	                    				<li>
	                    					<a href="#"><i class="icon16 link"></i> [`Share`]</a>
	                    				</li>
	                    				<li>
	                    					<a href="#"><i class="icon16 add"></i> [`Add to-do`]</a>
	                    				</li>
	                    			</ul>
	                    		</div>
		                        <h1>
		                            <label>
		                                <input type="checkbox" class="large">
		                                {$listname|escape}
		                            </label>
		                        </h1>
		                    </header>
		                    <div class="pl-list-items">
		                        <ul class="menu-v">
		                        
		                        	<li>
		                                <div class="pl-item">
		                                	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                	<label>
			                                    <input type="checkbox">
			                                    <input type="text" placeholder="[`Add to-do`]" class="long">
			                                </label>
		                                </div>
		                            </li>
		                            
		                            <li>
		                                <div class="pl-item">
		                                	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                	<label>
			                                    <input type="checkbox">
			                                    Food
			                                    <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
			                                </label>
		                                </div>
		                                <ul class="">
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                        	<label>
			                                            <input type="checkbox">
			                                            Roastbeef
			                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
			                                            <br>
		    	                                        <span class="small red">&minus; 3 days</span>
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                        	<label>
			                                            <input type="checkbox">
			                                            Rib eye
			                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
			                                            <br>
		    	                                        <span class="small" style="color: green">Tomorrow</span>
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                </ul>
		                            </li>
		                            
		                            <li>
		                                <div class="pl-item">
		                                	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                	<label>
			                                    <input type="checkbox">
			                                    Drinks
			                                    <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
			                                </label>
		                                </div>
		                                <ul class="">
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                        	<label>
			                                            <input type="checkbox" checked="checked">
			                                            Beer
			                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                        	<label>
			                                            <input type="checkbox" checked="checked">
			                                            Wine
			                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
		                                        	<label>
			                                            <input type="checkbox">
			                                            Water
			                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
		    	                                    </label>
		                                        </div>
		                                        <ul class="">
				                                    <li>
				                                        <div class="pl-item">
				                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
				                                        	<label>
					                                            <input type="checkbox">
					                                            A water "Visoko-visoko v gorakh jila-bila khoroshaya voda jila sebe pojivala da dobra najivala poka ne kupil ee dobri molodec da ni vipil"
					                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
					                                            <br>
		    	      		                                  <span class="small" style="color: #ca0;">Tomorrow</span>
					                                        </label>
				                                        </div>
				                                    </li>
				                                    <li>
				                                        <div class="pl-item">
				                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
				                                        	<label>
					                                            <input type="checkbox" checked="checked">
					                                            Borjomi
					                                            <a href="#" class="pl-item-details"><i class="icon16 info"></i></a>
					                                        </label>
				                                        </div>
				                                    </li>
				                                </ul>
		                                    </li>
		                                </ul>
		                            </li>
									<li>
										<label>
											<a href="#" class="inline-link gray"><b><i>[`Show all 11 completed items`]</i></b></a>
										</label>
									</li>
		                        </ul>
	                        </div>
	                       	<div class="clear-both"></div>
	                    </main>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
