<!-- CORE FILTERS -->
<div class="block pl-sidebar-core" data-pl2-sidebar-wrapper="pockets">
    <ul class="menu-v with-icons">
        {foreach $pockets as $pocket}
            <li data-pl-pocket-id="{$pocket->getId()}">
                <span class="count">{$pocket->getListsCount()}</span>
                <a href="#/pocket/{$pocket->getId()}/"><i
                            class="icon16 color pl-dark-{$pocket->getColor()}"></i>{$pocket->getName()|escape}</a>
            </li>
        {/foreach}
    </ul>
    <ul class="menu-v with-icons">
        <li class="small">
            <a href="#" data-pl2-action="add-pocket"><i class="icon10 add"></i>[`New pocket`]</a>
        </li>
    </ul>
</div>

<div class="hr"></div>

<div class="block">
    {* <h5 class="heading">
        [`To-dos`]
    </h5> *}

    <ul class="menu-v with-icons">
        <li data-pl-sidebar="todo">
            {if $sidebar_todo_count}<span class="count">{$sidebar_todo_count}</span>{/if}
            {if $sidebar_todo_count_icon}<span class="count indicator red bold" style="margin-right: 5px;">{$sidebar_todo_count_icon}</span>{/if}
            <a href="#/todo/"><i class="icon16 pl todo"></i>[`My to-dos`]</a>
        </li>
        <li>
            <span class="count" data-pl-sidebar="favorites-count">{$favorites_count_undone}</span>
            <a href="#/favorites/"><i class="icon16 star"></i>[`Favorites`]</a>
        </li>
        {foreach $linkedApps as $app}
            {if $app->userCanAccess()}
            <li>
                <span class="count">{$app->countItems()}</span>
                <a href="#/app/{$app->getApp()}/">{$app->getAppIcon()}[`Store`]</a>
            </li>
            {/if}
        {/foreach}
        <li>
            <a href="#/comments/"><i class="icon16 pl comments"></i>[`Discussions`]{if $new_comments_count} <span
                        class="highlighted bold small black"
                        title="{$last_activity|wa_datetime}">+{$new_comments_count}</span>{/if}</a>
        </li>


        {* <li class="top-padded">
        <a href="#/"><i class="icon16 "></i>CRM</a>
    </li>
        <li>
            <a href="#/"><i class="icon16 "></i>Tasks</a>
        </li>
        <li>
            <a href="#/"><i class="icon16 "></i>Blog</a>
        </li> *}

        <li>
            <a href="#/logbook/"><i class="icon16 pl logbook"></i>[`Completed`]{if $new_items_count.logbook} <span
                        class="highlighted bold small black">+{$new_items_count.logbook}</span>{/if}</a>
        </li>

    </ul>
</div>

<!-- LISTS -->
{* {if $lists || pocketlistsRBAC::canCreateLists()}
<div class="block">
    <h5 class="heading">
        {if pocketlistsRBAC::canCreateLists()}<a href="#/list/new/" class="count"><i class="icon16 add"></i></a>{/if}
        {if $lists && count($lists) > 10}<i class="icon16 darr" data-pl-collapsible="lists"></i>{/if}[`Lists`]
    </h5>

    {if count($lists)}
    <ul class="menu-v with-icons collapsible" data-pl-sidebar-block="lists" data-pl-collapsible-wrapper="lists">
        {foreach $lists as $l}
        <li data-pl-list-id="{$l.id}">
            <a href="#/list/{$l.id}/">
                <span class="count{if $l.calc_priority == 1} indicator green{elseif $l.calc_priority == 2} indicator yellow{elseif $l.calc_priority == 3} indicator red{/if}">{if !empty($l.due_date)}<i class="icon10 exclamation no-overhanging" title="{sprintf('[`Due %s`]', $l.due_date|wa_date:'humandate')}"></i> {/if}{$l.count}</span>
                <i class="icon16 listicon16" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/{$l.icon|default:'li-list@2x.png'});"></i><span{if $l.color != 'none'} class="pl-{$l.color}"{/if}>{$l.name|escape}
                    {if !empty($new_items_count.list[$l.id])} <span class="highlighted bold small black">+{$new_items_count.list[$l.id]}</span>{/if}
                </span>

            </a>
        </li>
        {/foreach}
    </ul>
    {else}
        <div class="block">
            <p class="hint align-center">[`Create a to-do list and share it with your teammates.`]</p>
        </div>
    {/if}
</div>
{/if} *}

<div class="block">
    <input type="search" data-pl2-action="search"/>
</div>

<!-- TEAM -->
{$max_visible_in_team = 5}
{if pocketlistsRBAC::canAssign()}
    <div class="block">
        <h5 class="heading">
            {* if $team && count($team) > $max_visible_in_team}<i class="icon16 darr" data-pl-collapsible="team"></i>{/if *}
            [`Team`]
        </h5>
        {if count($team)}
            <ul class="menu-v with-icons" data-pl-sidebar-block="team"
                data-pl-collapsible-wrapper="team">
                {foreach $team as $team_id => $teammate}
                    <li data-pl-team-id="{$teammate->getId()}"
                        {if $teammate@iteration > $max_visible_in_team}style="display: none;"{/if}>
                        <a href="#/team/{$teammate->getLogin()|escape}/">
                            <span class="count{if $teammate->getItemsInfo('max_priority') == 1} indicator green{elseif $teammate->getItemsInfo('max_priority') == 2} indicator yellow{elseif $teammate->getItemsInfo('max_priority') >= 3} indicator red{/if}">{$teammate->getItemsInfo('count')}</span>
                            <i class="icon16 userpic20{if $teammate->getStatus() == 'online'} pl-user-online{/if}" style="background-image: url({$teammate->getPhotoUrl()})"
                               alt="{$teammate->getName()|escape}" data-pl-contact-id="{$teammate->getId()}"></i>{$teammate->getName()|escape}
                            {if !empty($new_items_count.team[$teammate->getId()])} <span
                                    class="highlighted bold small black">+{$new_items_count.team[$teammate->getId()]}</span>{/if}
                        </a>
                    </li>
                {/foreach}
                {if $max_visible_in_team < count($team)}
                    <li>
                        <a class="pl-team-showall-link inline-link" data-pl-action="show-all-team"
                           href="#"><b><i>[`Show everyone`] ({count($team)})</i></b></a>
                    </li>
                {/if}
            </ul>
        {else}
            <div class="block">
                <p class="hint align-center">{sprintf('[`Use <a href="%s">Team app</a> to invite teammates and to collaborate using the To-dos app: select a user or a group of users &gt; Access tab &gt; To-dos app &gt; apply the proper access level.`]', $wa_backend_url|cat:'team/')}</p>
            </div>
        {/if}
    </div>
{/if}


<!-- SYSTEM -->
<div class="hr"></div>
<div class="block">
    <ul class="menu-v with-icons">
        <li>
            <a href="#/archive/"><i class="icon16 pl archive"></i>[`Archive`]{if $new_items_count.archive} <span
                        class="highlighted bold small black">+{$new_items_count.archive}</span>{/if}</a>
        </li>
        <li>
            <a href="#/settings/"><i class="icon16 settings"></i>[`Settings`]</a>
        </li>
        <li>
            <a href="#/about/"><i class="icon16" style="background-image: url('/wa-apps/pocketlists/img/pl2webasyst48.png') !important; background-size: 16px 16px;"></i>[`About`]</a>
        </li>
    </ul>
</div>


<script>
    'use strict';
    (function () {
        var pocket = $.pocketlists.Pocket();

        $('[data-pl2-sidebar-wrapper="pockets"]').on('click', '[data-pl2-action="add-pocket"]', function (e) {
            e.preventDefault();

            pocket.showSettingsDoalog.call(this);
        });
    }());
</script>
