<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/pocketlists.css">
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/pocketlists.js"></script>

</head>
<body>
    <div id="wa">
        {$wa->header()}
        <div id="wa-app">

            <div class="sidebar left200px">
                <div class="block pl-sidebar-core">

                    <!-- CORE FILTERS -->
                    <ul class="menu-v with-icons">
                         <li class="selected">
                             <span class="count">8</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 cheatsheet"></i>[`Lists`]</a>
                         </li>

                         <li>
                             <span class="count indicator yellow">3</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 userpic20"></i>[`Assigned to me`]</a>
                         </li>
                         <li>
                             <span class="count">5</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 yes-bw"></i>[`Reminders`]</a>
                         </li>
                         <li>
                             <span class="count">0</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 star"></i>[`Favorites`]</a>
                         </li>
                         <li>
                             <span class="count">2</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 tags"></i>[`Tags`]</a>
                         </li>
                         <li>
                             <span class="count">5</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 edit"></i>[`Notes`]</a>
                         </li>

                         <li>
                             <span class="count">4</span>
                             <a href="#" onClick="alert('ajax-обновление контента');"><i class="icon16 contact"></i>[`Team`]</a>
                         </li>
                    </ul>

                  </div>


                  {*
                  <div class="block">
                    <h5 class="heading"><i class="icon16 darr"></i>[`Pockets`]</h5>
                      <div class="hierarchical">
                          <ul class="menu-v with-icons">
                               <li class="selected">
                                   <a href="#"><i class="icon16 color pl-dark-blue" onClick="alert('с полным рефрешем страницы');"></i>Personal</a>
                               </li>
                               <li>
                                   <span class="count indicator red">1</span>
                                   <a href="#" onClick="alert('с полным рефрешем страницы');">
                                    <i class="icon16 color pl-dark-green"></i>Errands
                                   </a>
                               </li>
                               <li>
                                   <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 color pl-dark-red"></i>Msk</a>
                               </li>
                               <li>
                                   <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 color pl-dark-yellow"></i>Krasnodar</a>
                               </li>
                          </ul>
                        </div>
                </div>
                *}


                <div class="hr"></div>
                <div class="block">
                    <ul class="menu-v with-icons">
                         <li>
                             <span class="count">0</span>
                             <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 archive"></i>[`Archive`]</a>
                         </li>
                         <li>
                             <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 settings"></i>[`Settings`]</a>
                         </li>
                    </ul>
                </div>
            </div>

            <div class="content left200px">
                <div id="content">
                    <div class="shadowed">
                    	<nav class="sidebar left300px">

                        <!-- POCKET -->
                    		<div class="pl-pocket">
                    			<a href="#" class="count" title="[`New list`]" onClick="alert('открывается новый пустой список, как в иОС-приложении');">
                    				<i class="icon16 add"></i>
                    			</a>
                          <ul class="menu-h dropdown">
                            <li>
                                <h5><a href="#">Personal <i class="icon10 darr"></i></a></h5>
                                <ul class="menu-v with-icons">
                                     <li class="selected">
                                         <a href="#"><i class="icon16 color pl-dark-blue" onClick="alert('с полным рефрешем страницы');"></i>Personal</a>
                                     </li>
                                     <li>
                                         <span class="count indicator red">1</span>
                                         <a href="#" onClick="alert('с полным рефрешем страницы');">
                                          <i class="icon16 color pl-dark-green"></i>Errands
                                         </a>
                                     </li>
                                     <li>
                                         <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 color pl-dark-red"></i>Msk</a>
                                     </li>
                                     <li>
                                         <a href="#" onClick="alert('с полным рефрешем страницы');"><i class="icon16 color pl-dark-yellow"></i>Krasnodar</a>
                                     </li>
                                </ul>
                            </li>
                          </ul>
		                    </div>

                        <!-- LISTS -->
                        <div class="pl-inner-sidebar">
                      		<ul class="pl-lists">
                      			<li class="pl-red">
                      				<a href="#">
                      					<span class="count">14</span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-award@2x.png);"></i> Goals
                      				</a>
                      			</li>
                      			<li class="selected pl-blue">
                      				<a href="#">
                                <span class="count indicator red">5130 <span class="ruble">Р</span></span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-grocery@2x.png);"></i> Groceries
                      				</a>
                      			</li>
                      			<li class="pl-green">
                      				<a href="#">
                      					<span class="count indicator red">2</span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-books@2x.png);"></i> Books to read
                      				</a>
                      			</li>
                            <li>
                      				<a href="#">
                      					<span class="count indicator yellow">10</span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-travel@2x.png);"></i> Places to visit
                      				</a>
                      			</li>
                            <li class="pl-yellow">
                      				<a href="#">
                      					<span class="count indicator green">2</span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-flag-eu@2x.png);"></i> Europe trip
                      				</a>
                      			</li>
                            <li>
                      				<a href="#">
                      					<span class="count">2</span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-video@2x.png);"></i> Movies to watch
                      				</a>
                      			</li>
                            <li class="pl-purple">
                      				<a href="#">
                      					<span class="count indicator yellow">5</span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-lock@2x.png);"></i> Party secret list
                      				</a>
                      			</li>
                            <li>
                      				<a href="#">
                      					<span class="count">2 <i class="icon16 lock-bw"></i></span>
                      					<i class="listicon48" style="background-image: url({$wa_url}wa-apps/pocketlists/img/listicons/li-gift@2x.png);"></i> Gift list
                      				</a>
                      			</li>
                      		</ul>
                        </div>

                    	</nav>

                      <!-- ITEMS -->
                    	<main class="content left300px blank bordered-left pl-items pl-blue">
	                    	<header class="pl-list-title">
	                    		<div class="float-right block half-padded">
	                    			<ul class="menu-h">
	                    				<li>
	                    					<a href="#" onClick="alert('waDialog с получением ссылки на список /list/...');"><i class="icon16 link"></i> [`Share link`]</a>
	                    				</li>
	                    				<li>
	                    					<a href="#" id="pl-item-add-link" class="CLICKME"><i class="icon16 add"></i> [`Add to-do`]</a>
	                    				</li>
	                    			</ul>
	                    		</div>
		                        <h1>
		                            <label>
		                                <input type="checkbox" class="large" onClick="alert('waDialog с предложением либо зачекать все айтемы как выполненные с дополнительным чекбоксом “отправить этот список в архив”');">
		                                {$listname|escape}
		                            </label>
		                        </h1>
		                    </header>
		                    <div class="pl-list-items">
		                        <ul class="menu-v">

		                        	  <li id="pl-item-add">
		                                <div class="pl-item">
		                                	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                      <input type="checkbox" disabled="disabled" class="pl-done">
		                                	<label>
                                          <input type="checkbox" class="pl-is-selected">
			                                    <input type="text" placeholder="[`Add to-do`]" class="long">
			                                </label>
		                                </div>
		                            </li>

		                            <li>
		                                <div class="pl-item">
		                                	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                      <input type="checkbox" class="pl-done">
		                                	<label>
                                          <input type="checkbox" class="pl-is-selected">
			                                    Food
			                                </label>
		                                </div>
		                                <ul class="">
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                              <input type="checkbox" class="pl-done">
		                                        	<label>
			                                            <input type="checkbox" class="pl-is-selected">
			                                            <span class="CLICKME">Roast beef</span>
			                                            <br>
		    	                                        <span class="small red bold">&minus;3 days</span>
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                              <input type="checkbox" class="pl-done">
		                                        	<label>
			                                            <input type="checkbox" class="pl-is-selected">
			                                            Rib eye
			                                            <br>
		    	                                        <span class="small" style="color: green">Tomorrow</span>
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                </ul>
		                            </li>

		                            <li>
		                                <div class="pl-item">
		                                	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                      <input type="checkbox" class="pl-done">
		                                	<label>
			                                    <input type="checkbox" class="pl-is-selected">
			                                    Drinks
			                                </label>
		                                </div>
		                                <ul class="">
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                              <input type="checkbox" class="pl-done">
		                                        	<label>
			                                            <input type="checkbox" class="pl-is-selected">
			                                            Beer
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                              <input type="checkbox" class="pl-done">
		                                        	<label>
			                                            <input type="checkbox" class="pl-is-selected">
			                                            Wine
		    	                                    </label>
		                                        </div>
		                                    </li>
		                                    <li>
		                                        <div class="pl-item">
		                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                              <input type="checkbox" class="pl-done">
		                                        	<label>
			                                            <input type="checkbox" class="pl-is-selected">
			                                            Water
		    	                                    </label>
		                                        </div>
		                                        <ul class="">
				                                    <li>
				                                        <div class="pl-item">
				                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                                  <input type="checkbox" class="pl-done">
				                                        	<label>
					                                            <input type="checkbox" class="pl-is-selected">
					                                            A water "Visoko-visoko v gorakh jila-bila khoroshaya voda jila sebe pojivala da dobra najivala poka ne kupil ee dobri molodec da ni vipil"
					                                            <br>
		    	      		                                  <span class="small" style="color: #ca0;">Tomorrow</span>
					                                        </label>
				                                        </div>
				                                    </li>
				                                    <li>
				                                        <div class="pl-item">
				                                        	<a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                                  <input type="checkbox" class="pl-done">
				                                        	<label>
					                                            <input type="checkbox" class="pl-is-selected">
					                                            Borjomi
					                                        </label>
				                                        </div>
				                                    </li>
				                                </ul>
		                                    </li>
		                                </ul>
		                            </li>
		                        </ul>

                            <!-- completed to-dos log -->
                            <section id="pl-complete-log">
                              <h5 class="heading">[`Complete log`]</h5>
                              <ul class="menu-v">

                                  <li>
                                    <div class="pl-item">
                                      <a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                      <input type="checkbox" class="pl-done" checked="checked">
                                      <label>
                                          <input type="checkbox" class="pl-is-selected">
                                          Olive oil
                                          <span class="hint">Today 13:00 (|wa_humandatetime)</span>
                                      </label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="pl-item">
                                      <a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                      <input type="checkbox" class="pl-done" checked="checked">
                                      <label>
                                          <input type="checkbox" class="pl-is-selected">
                                          Carrot
                                          <span class="hint">Yesterday 14:00</span>
                                      </label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="pl-item">
                                      <a href="#" class="pl-favorite"><i class="icon16 star-empty"></i></a>
                                      <input type="checkbox" class="pl-done" checked="checked">
                                      <label>
                                          <input type="checkbox" class="pl-is-selected">
                                          Apples
                                          <span class="hint">Nov 1, 2015</span>
                                      </label>
                                    </div>
                                  </li>
                              </ul>
                            </section>

                            <a href="#" id="pl-complete-log-link" class="inline-link gray CLICKME"><b><i>[`Show all %d completed to-dos`]</i></b></a>
	                        </div>
	                       	<div class="clear-both"></div>

                          <div id="pl-item-details" class="block double-padded">

                            <div class="fields form width100px">

                               <div class="field-group">
                                  <div class="field">
                                     <div class="name">[`Name`]</div>
                                     <div class="value"><input type="text" class="bold large" value="Roast beef" /></div>
                                  </div>
                                  <div class="field">
                                     <div class="name">[`Note`]</div>
                                     <div class="value"><textarea placeholder="[`Add text note`]"></textarea></div>
                                  </div>
                               </div>

                               <div class="field-group">
                                  <div class="field">
                                     <div class="name">Priority</div>
                                     <div class="value">

                                        <i class="icon16 color pl-white"></i>
                                        <i class="icon16 color pl-dark-green"></i>
                                        <i class="icon16 color pl-dark-yellow"></i>
                                        <i class="icon16 color pl-dark-red"></i>

                                     </div>
                                  </div>
                                  <div class="field">
                                     <div class="name">Due</div>
                                     <div class="value"><input type="text" value="" /></div>
                                  </div>
                                  <div class="field">
                                     <div class="name">[`Assignment`]</div>
                                     <div class="value"><select><option>[`None`]</option><option>...current pocket user list here...</option></select></div>
                                  </div>
                               </div>

                               <div class="field-group">
                                  <div class="field">
                                     <div class="value">
                                        <input type="button" class="button green" value="Save" />
                                     </div>
                                  </div>
                               </div>

                            </div>

                          </div>

	                    </main>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
