<script type="template/pl2" data-pl2-template="itemadd">
    <main class="pl-items pl-list-items pl-todo" id="pl-list-content">
        <div class="pl-list-items" id="pl-list-items">
            <section id="pl-undone-items" data-pl-items="undone">
                <ul class="menu-v">
                    {if !empty($params.items_undone)}
                    {include '../../actions/item/Item.html' parent_id=0 items=$params.items_undone}
                    {/if}
                </ul>
            </section>

            <section id="pl-complete-log" class="pl-logbook">
                <h5 class="heading">{if $wa->locale() == 'ru_RU'}Выполнено{else}[`Logbook`]{/if}</h5>
                <ul class="menu-v">
                    {if $params.count_done_items}
                    {include '../../actions/item/Item.html' parent_id=0 items=$params.items_done}
                    {/if}
                </ul>
            </section>

            <a href="#" id="pl-complete-log-link" class="inline-link gray" {if !$params.count_done_items}style="display:none;"{/if}><b><i>
                {if $wa->locale() == 'ru_RU'}
                    {sprintf('Показать выполненные задачи (%d)', $params.count_done_items)}
                {else}
                    {_w('Show all %d completed to-do', 'Show all %d completed to-dos', $params.count_done_items)}
                {/if}
            </i></b></a>
        </div>

        {include '../../include/itemadd.html' inline}
        {include '../../include/itemdetails.html' inline}
    </main>
</script>
<script type="text/javascript" src="{$params.wa_app_static_url}js/pocketlists.js?v{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
<script type="text/javascript" src="{$params.wa_app_static_url}js/pocketlists-item.js?v{if !waSystemConfig::isDebug()}{$wa->version()}{/if}"></script>
<link type="text/css" rel="stylesheet" href="{$params.wa_app_static_url}css/pocketlists.css?v{if !waSystemConfig::isDebug()}{$wa->version()}{/if}">

<script>
    (function(){
        var $order_info_wrapper = $('#s-split-order-wrapper'),
            item_add_html = $('[data-pl2-template="itemadd"]').html(),
            $toggle_link = $('[data-pl2-action="show-add-item"]');

        $order_info_wrapper.prepend(item_add_html);

        var $list_wrapper = $('#pl-list-content');

        $toggle_link.on('click', function (e) {
            e.preventDefault();

            $list_wrapper.slideToggle();
        });

        var Items = new $.pocketlists.Items($list_wrapper, {
            enableAddLinkOnHover: false,
            enableChangeLevel: false,
            enableSortItems: false,
            current_user_id: {$wa->user()->getId()},
            standAloneItemAdd: 1,
            defaultLinkedEntity: {
                app: '{$params.app->getApp()}',
                entity_type: 'order',
                entity_id: {$params.order.id}
            },
            appUrl: '{$params.plurl}'
        });
    }());
</script>
