<style>
    i.icon.pl2-icon { background-image: url('{$params.wa_app_static_url}img/pl2webasyst48.png') !important; background-size: 16px 16px; margin-left: 0rem; margin-right: 0; position: relative; top: 1px; }
</style>

<script>(function() {
    const task_counts = {$task_counts|json_encode};

    setTimeout(function() {
        if (!task_counts) {
            return;
        }

        const badge_html = '<span><span class="small bold">%s</span> <i class="icon pl2-icon"></i></span></span>';
        $('#t-tasks-wrapper .t-task-outer-container[data-task-id]').each(function() {
            const $li = $(this),
                task_id = $li.data('task-id');
            if (task_counts[task_id]) {
                $li.find('.t-task-item-subcount').prepend($(badge_html.replace('%s', task_counts[task_id])));
            }
        });
    }, 1);
}());</script>
